<div class="pdp-payment-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-payment">Wie Alt sind die Reisenden?</p>
        </div>
      </div>
      <div class="row payment-form">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-4">
              <form>
                <div class="form-group cvv">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tag">
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <form>
                <div class="form-group cvv">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Monat">
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <form>
                <div class="form-group cvv">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Jahr">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
