<div class="pdp-activity-block col-xl-12">
  <div class="activity-row">
    <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300001_1.jpg);">
      <div class="activity-card">
        <div class="row first-row">
          <div class="col-md-6">
            <div class="activity-card-title">
              <h2>Buckingham Palace</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service">
              <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
              <p>Ohne Anstehen</p>
            </div>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-md-6">
            <div class="activity-card-description">
              <p>Königlichen Staatsgemächer im Herzen des Buckingham Palace ab CHF 33</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="activity-card-button">
              <button class="btn btn-full btn-primary" type="next">Anschauen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-row">
    <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300002_1.jpg);">
      <div class="activity-card">
        <div class="row first-row">
          <div class="col-md-6">
            <div class="activity-card-title">
              <h2>Tower of London</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service">
              <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
              <p>Ohne Anstehen</p>
            </div>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-md-6">
            <div class="activity-card-description">
              <p>Eintritt mit der Kronjuwelen-Ausstellung ab CHF 29</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="activity-card-button">
              <button class="btn btn-full btn-primary" type="next">Anschauen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-row">
    <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300003_1.jpg);">
      <div class="activity-card">
        <div class="row first-row">
          <div class="col-md-6">
            <div class="activity-card-title">
              <h2>Harry Potter Tour</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service">
              <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
              <p>Ohne Anstehen</p>
            </div>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-md-6">
            <div class="activity-card-description">
              <p>Tagestour mit Transfer ab Downtown London hinter die Kulissen ab CHF 36</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="activity-card-button">
              <button class="btn btn-full btn-primary" type="next">Anschauen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
