<div class="step-ac std-pd-hor-3 std-pd-ver-4 step-mobile-normal" *ngIf="activities.length > 0">

  <div class="butler gradient-full std-pd-ver-1 br-rd-all overflow-hidden std-pd-hor-1 mr-bt-25">
    <div class="wp-100">
      <img class="center-hori" height="75" width="75" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
      <div class="text text-center br-rd-all std-pd-ver-1 std-pd-hor-1">
        <p class="no-margin">Die besten Aktivitäten in {{ city.name.de_CH }} sind ...</p>
      </div>
    </div>
  </div>

  <div *ngFor="let act of activities;">
    <app-activity-list-item  [activity]="act" (activitySelected)="activitySelected($event)"></app-activity-list-item>
  </div>

</div>

<app-no-activities *ngIf="showNoActivities"></app-no-activities>