<div class="pdp-activity-block col-xl-12" *ngIf="activities.length > 0">

  <div class="row butler-row">
    <div class="col-xl-12 pdp-activity-butler-block gradient">
      <div class="butler-container">
        <div class="butler-image"><img src="assets/img/avatar-round-notification@2x.png" alt="Butler Flugio">
        </div>
        <div class="butler-text"><span>Die besten Aktivitäten in {{ city.name.de_CH }}. Worauf hast du Lust?</span></div>
      </div>
    </div>
  </div>

  <div *ngFor="let act of activities;">
    <app-activity-list-item  [activity]="act" (activitySelected)="activitySelected($event)"></app-activity-list-item>
  </div>

</div>
