<footer class="row footer-row gradient">
  <div class="col-md-3 footer-column-one" style="height: 100%;">
    <div class="footer-center-wrap">
      <div class="footer-ul-container">
        <ul>
          <h4>Flugio</h4>
          <li>
            <p i18n="data protect"><a href="/datenschutz">Datenschutz</a></p>
          </li>
          <li>
            <p i18n="terms conditions">Geschäftsbedingungen</p>
          </li>
          <li>
            <p i18n="customer service">Kundendienst</p>
          </li>
          <li>
            <p i18n="travel tips">Reisetipps</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3 footer-column-two" style="height: 100%;">
    <div class="footer-center-wrap">
      <div class="footer-ul-container">
        <ul>
          <h4 i18n="social">Social</h4>
          <li>
            <a href="https://www.instagram.com/flugio_ch/">
              <img src="assets/icon/icon-instagram.svg" width="45" height="45" alt="Instagram Icon" class="instagram-icon">
            </a>
            <a href="https://www.facebook.com/flugio/">
              <img src="assets/icon/icon-facebook.svg" width="45" height="45" alt="Facebook Icon" class="facebook-icon">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3 footer-column-three" style="height: 100%;">
    <div class="footer-center-wrap">
      <div class="footer-ul-container">
        <ul>
          <h4 i18n="connect">Connect</h4>
          <li>
            <p>
              <a href="mailto:info@flugio.com?Subject=Frage">info@flugio.com</a>
            </p>
          </li>
          <li>
            <p>
              <a href="tel:+41796522064">+41 79 652 20 64</a>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3 footer-column-four" style="height: 100%;">
    <div class="footer-center-wrap">
      <div class="footer-ul-container">
        <ul>
          <li>
            <p>&copy; 2018 Flugio</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
