<footer class="std-pd-ver-1 gradient-full">
  
  <div class="col-one grid-3 inline align-tp">
    <div class="center-hori w-fit">
      <h4 class="mr-bt-25"><a href="/">Flugio</a></h4>
      <ul>
        <li>
          <p class="mr-bt-5" i18n="james"><a href="/customer-service">"James"</a></p>
        </li>
        <li>
          <p class="mr-bt-5" i18n="travel guides"><a href="/travel-guide">Reiseführer</a></p>
        </li>
        <li>
          <p class="mr-bt-5" i18n="team"><a href="/team">Team</a></p>
        </li>
        <li>
          <p class="mr-bt-5" i18n="data protection"><a href="/data-protection">Datenschutz</a></p>
        </li>
        <li>
          <p class="no-margin" i18n="terms conditions"><a href="/terms-conditions">AGB</a></p>
        </li>
      </ul>
  </div>
  </div>

  <div class="col-two grid-3 inline align-tp">
    <div class="center-hori w-fit">
      <h4 class="mr-bt-25" i18n="travel guides"><a href="/travel-guide">Reiseführer</a></h4>
      <ul>
        <li>
          <p class="mr-bt-5"><a href="/travel-guide/amsterdam">Amsterdam</a></p>
        </li>
        <li>
          <p class="mr-bt-5"><a href="/travel-guide/paris">Paris</a></p>
        </li>
        <li>
          <p class="mr-bt-5"><a href="/travel-guide/london">London</a></p>
        </li>
        <li>
          <p class="no-margin"><a href="/travel-guide/barcelona">Barcelona</a></p>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-three grid-3 inline align-tp">
    <div class="center-hori w-fit">
      <h4 class="mr-bt-25" i18n="connect">Kontakt</h4>
      <ul>
        <li>
          <p class="mr-bt-5">
            <a href="mailto:info@flugio.com?Subject=Frage">info@flugio.com</a>
          </p>
        </li>
        <li>
          <p class="mr-bt-25">
            <a href="tel:+41796522064">+41 79 652 20 64</a>
          </p>
        </li>
      </ul>
      <a href="https://www.instagram.com/flugio_ch/">
        <img src="assets/icon/icon-instagram.svg" width="45" height="45" alt="Instagram Icon" class="opa-50 mr-rg-10">
      </a>
      <a href="https://www.facebook.com/flugio/">
        <img src="assets/icon/icon-facebook.svg" width="45" height="45" alt="Facebook Icon" class="opa-50">
      </a>
    </div>
  </div>

  <div class="col-four grid-3 inline align-tp">
    <div class="center-hori w-fit">
      <ul>
        <li>
          <p class="opa-50">&copy; 2020 Flugio</p>
        </li>
      </ul>
    </div>
  </div>

</footer>
