.footer-row {
  height: 50vh;
}

.footer-center-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

@media only screen and (min-width : 768px) {
  .footer-ul-container {
    height: 11rem !important;
  }
}

.footer-row ul {
  list-style: none;
  margin-bottom: 0rem;
  -webkit-padding-start: 0rem;
}

.footer-ul-container {
  display: block;
  margin: 0 auto;
}

.footer-row h4 {
  margin-bottom: 3rem;
}

.footer-row .instagram-icon {
  margin-right: 1rem;
  opacity: .5;
  margin-top: 2.25rem;
}

.footer-row .facebook-icon {
  opacity: .5;
  margin-top: 2.25rem;
}

@media only screen and (min-width: 768px)  {
  .footer-column-four {
    padding-top: 9.2rem;
  }
}

@media only screen and (max-width : 768px) {
  .footer-column-two,
  .footer-column-three,
  .footer-column-four {
    display: none;
  }
}
