.pdp-no-activities-block {
    width: 100%;
}
  
.pdp-no-activities-block .center-wrap {
      width: 100%;
}
  
@media only screen and (min-width: 1200px)  {
    .pdp-no-activities-block {
        width: 100%;
        display: flex;
        align-items: center;
        height: 100vh;
    }
}
  
@media only screen and (max-width: 767.98px)  {
    .pdp-no-activities-block {
        margin-top: -1rem;
    }
}
  
@media (max-width: 575.98px) {
    .pdp-no-activities-block {
        margin-top: 1.95rem;
        margin-bottom: 8rem;
    }
}
  