<div class="pdp-calendar-option-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-calendar-option">Flüge</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row departures">
            <div class="col-xl-12">
              <p class="label-departure">Abflug</p>
            </div>
            <div class="col-xl-12 flight-option">
              <div class="flight-leg__container">
                <div class="flight-leg__iata-times active">
                  <div class="flight-leg__iata-time">
                    <div class="flight-leg__time">14:25</div>
                    <div class="flight-leg__iata">BSL</div>
                  </div>
                  <div class="flight-leg__duration">
                    <div class="flight-leg__duration-text">1h 20m</div>
                    <div class="flight-leg__flight-type-mobile">Direktflug</div>
                  </div>
                  <div class="flight-leg__iata-time">
                    <div class="flight-leg__time">15:45</div>
                    <div class="flight-leg__iata">PRG</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-12 flight-option">
              <div class="flight-leg__container">
                <div class="flight-leg__iata-times active">
                  <div class="flight-leg__iata-time">
                    <div class="flight-leg__time">14:25</div>
                    <div class="flight-leg__iata">BSL</div>
                  </div>
                  <div class="flight-leg__duration">
                    <div class="flight-leg__duration-text">1h 20m</div>
                    <div class="flight-leg__flight-type-mobile">Direktflug</div>
                  </div>
                  <div class="flight-leg__iata-time">
                    <div class="flight-leg__time">15:45</div>
                    <div class="flight-leg__iata">PRG</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
