<div class="pdp-calendar-option-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-calendar-option">Wie spät wünschen Sie fliegen am Montag?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row departures">
            <div class="col-xl-12 flight-option-col active">
              <div class="flight-option">
                <div class="flight-leg__container">
                  <div class="flight-leg__iata-times active">
                    <div class="flight-leg__iata-time">
                      <div class="flight-leg__time">17:35</div>
                      <div class="flight-leg__iata">ZRH</div>
                    </div>
                    <div class="flight-leg__duration">
                      <div class="flight-leg__duration-text">1 Std 40 Min</div>
                      <div class="flight-leg__flight-type-mobile">Direktflug</div>
                    </div>
                    <div class="flight-leg__iata-time">
                      <div class="flight-leg__time">19:15</div>
                      <div class="flight-leg__iata">AMS</div>
                    </div>
                  </div>
                </div>
                <hr/>
                <div class="price-label">Kein Mehrpreis <img src="assets/icon/tooltip.svg" height="19" alt="Icon Tooltip" placement="top" ngbTooltip="Diese Flug ist imbegriffen in den Angebot"></div>
              </div>
            </div>
            <div class="col-xl-12 flight-option-col">
              <div class="flight-option">
                <div class="flight-leg__container">
                  <div class="flight-leg__iata-times active">
                    <div class="flight-leg__iata-time">
                      <div class="flight-leg__time">20:55</div>
                      <div class="flight-leg__iata">ZRH</div>
                    </div>
                    <div class="flight-leg__duration">
                      <div class="flight-leg__duration-text">1 Std 35 Min</div>
                      <div class="flight-leg__flight-type-mobile">Direktflug</div>
                    </div>
                    <div class="flight-leg__iata-time">
                      <div class="flight-leg__time">22:30</div>
                      <div class="flight-leg__iata">AMS</div>
                    </div>
                  </div>
                </div>
                <hr/>
                <div class="price-label">Mehrpreis 34 CHF pro Person <img src="assets/icon/tooltip.svg" height="19" alt="Icon Tooltip" placement="top" ngbTooltip="Die Totalkosten können Sie detailiert anschauen unter Details"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
