<div class="row account-order-document-list">
  <div class="col-sm-3">
  </div>
    <div class="col-lg-6">
      <div class="col-lg-12">
        <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
          <div class="butler-container">
            <div class="butler-image"><img src="assets/img/avatar-round-notification@2x.png" alt="Butler Flugio"></div>
            <div class="butler-text"><span>Ich habe die folgende Dokumenten für dich. Ruf mich doch bitte kurz an wenn etwas fehlt.</span></div>
          </div>
        </div>
        <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
          <!-- <div *ngFor="let order of orders$ | async">
            <app-account-order-document-list-item [order]="order"></app-account-order-document-list-item>
          </div> -->
        </div>
      </div>
    </div>
  <div class="col-sm-3">
  </div>
</div>
