<div class="pf step-mobile-center center std-pd-hor-2">

  <div class="wp-100">

    <div class="butler mr-bt-25">
      <div class="wp-100">
        <img class="center-hori" height="75" width="75" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
        <div class="text text-center br-rd-all std-pd-ver-1 std-pd-hor-1">
          <p class="no-margin">Das Abenteuer kann nach deiner Kreditkartenzahlung beginnen!</p>
        </div>
      </div>
    </div>

    <form #paymentForm="ngForm" (ngSubmit)="formHandler()" class="checkout">

      <div class="flex-wrap mr-bt-25">
        <div class="flex-half pd-rg-10-d mr-bt-25-m">
          <div id="card-expiry-element" class="field"></div>
        </div>
        <div class="flex-half pd-lf-10-d">
          <div id="card-cvc-element" class="field"></div>
        </div>
      </div>

      <div id="card-element" class="mr-bt-25 field" #cardElement></div>

      <div id="card-errors" class="help is-danger" role="alert" *ngIf="formError">{{ formError }}</div>

      <button type="submit" class="mr-bt-25 button is-info btn btn-primary btn-full shadow payment-btn"
        [disabled]="!cardNumberComplete || !cardExpiryComplete || !cardCvcComplete || loading"
        [class.is-loading]="loading">
        Bezahlen
      </button>

      <div class="text-center">
        <p class="inline opa-50 mr-rg-5 no-margin">Sicher bezahlen</p>
        <img class="tt opa-50" src="assets/icon/tooltip.svg" height="15" alt="Icon Tooltip" placement="top" ngbTooltip="Stripe ist ein «PCI Service Provider Level 1», das ist der höchste Grad an Sicherheit bei der Zahlungsabwicklung. Du kannst sicher sein, dass deine Daten sicher und geschützt sind.">
      </div>

    </form>

  </div>

</div>
