<div *ngIf="!showContentLanding">
  <div class="logo-container">
    <a href="/">
      <img src="assets/img/logo.svg" width="110" alt="Flugio Logo" style="margin: 0 auto; display: block;">
    </a>
  </div>
  <div class="col-lg-12">
    <p class="modal-header-one">Exklusive Städtereisen warten auf Sie</p>
  </div>
  <div class="col-lg-12">
    <p class="modal-header-two">Fast geschafft. Sie müssen nur noch Ihre Anmeldung bestätigen.</p>
  </div>
  <div class="col-lg-12">
      <div class="form-group">
        <p class="modal-verify-text">Bitte bestätige deine Anmeldung mit dem Link in der E-Mail, die wir dir gerade geschickt haben. Schau auch im Spamfolder nach, falls du nichts von uns hören sollst.</p>
      </div>
  </div>
</div>

<div *ngIf="showContentLanding">
  <div class="col-lg-12">
    <p class="text-container">Bitte bestätige deine Anmeldung mit dem Link in der E-Mail, die wir dir gerade geschickt haben. Schau auch im Spamfolder nach, falls du nichts von uns hören sollst.</p>
  </div>
</div>
