<div class="logo-container">
    <a href="/">
      <img src="assets/img/logo.svg" width="110" alt="Flugio Logo" style="margin: 0 auto; display: block;">
    </a>
  </div>
  <div class="col-lg-12">
    <p class="modal-header-one">Exklusive Städtereisen warten auf Sie</p>
  </div>
  <div class="col-lg-12">
    <p class="modal-header-two">Fast geschafft. Sie müssen nur noch Ihre Anmeldung bestätigen.</p>
  </div>
  <div class="col-lg-12">
      <div class="form-group">
        <p class="modal-verify-text">Bitte bestätigen Sie Ihre Anmeldung mit einem Klick in die E-Mail, die wir Ihnen gerade geschickt haben. Schauen Sie bitte auch im Spamfolder nach, falls Sie nichts von uns hören sollten.</p>
      </div>
  </div>
  