<div *ngIf="!showContentLanding">

  <div class="logo-container mr-bt-25">
    <a href="/">
      <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
    </a>
  </div>

  <h4 class="mr-bt-25 ft-xl">Exklusive Städtereisen warten auf dich</h4>
  <p class="mr-bt-25 opa-50 no-margin">Fast geschafft. Du musst nur noch deine Anmeldung bestätigen.</p>
  <p>Bitte bestätige deine Anmeldung mit dem Link in der E-Mail, die wir dir gerade geschickt haben. Schau auch im Spamfolder nach, falls du nichts von uns hören sollst.</p>
</div>

<div *ngIf="showContentLanding">
  <div>
    <p>Bitte bestätige deine Anmeldung mit dem Link in der E-Mail, die wir dir gerade geschickt haben. Schau auch im Spamfolder nach, falls du nichts von uns hören sollst.</p>
  </div>
</div>
