<div class="pdp-activity-option-block col-xl-12">
  <div class="row title-row">
    <div class="col-xl-12">
      <div>
        <h2>Datum und Teilnehmer</h2>
      </div>
    </div>
  </div>
  <div class="row selection-row">
    <div class="col-xl-4">
      <form>
        <div class="form-group month">
          <select>
            <option value="" selected disabled hidden>Datum</option>
            <option value="1">Januar</option>
            <option value="2">Februar</option>
            <option value="3">März</option>
            <option value="4">April</option>
            <option value="5">Mai</option>
            <option value="6">Juni</option>
            <option value="7">Juli</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Dezember</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-xl-4">
      <form>
        <div class="form-group date">
          <select>
            <option value="" selected disabled hidden>Teilnehmer</option>
            <option value="1">Januar</option>
            <option value="2">Februar</option>
            <option value="3">März</option>
            <option value="4">April</option>
            <option value="5">Mai</option>
            <option value="6">Juni</option>
            <option value="7">Juli</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">Oktober</option>
            <option value="11">November</option>
            <option value="12">Dezember</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-xl-4">
      <button class="btn btn-full btn-primary" type="next">Anschauen</button>
    </div>
  </div>
  <div class="activity-option-row">
    <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300002_1.jpg);">
      <div class="activity-detail-card">
        <div class="row first-row">
          <div class="col-sm-12">
            <div>
              <h2>Einlass am Morgen</h2>
            </div>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-6">
            <div>
              <p>Öffnungszeiten</p>
            </div>
          </div>
          <div class="col-6">
            <div>
              <p class="right-align">Gesamtpreis</p>
            </div>
          </div>
        </div>
        <div class="row third-row">
          <div class="col-6">
            <div>
              <p>09:00 - 12:00</p>
            </div>
          </div>
          <div class="col-6">
            <div>
              <p class="right-align">24 CHF</p>
            </div>
          </div>
        </div>
        <div class="row fourth-row">
          <div class="col-xl-12">
            <div class="activity-card-title">
              <button class="btn btn-full btn-secondary" type="next">Hinfügen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-option-row">
    <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300002_1.jpg);">
      <div class="activity-detail-card">
        <div class="row first-row">
          <div class="col-sm-12">
            <div>
              <h2>Einlass am Morgen</h2>
            </div>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-6">
            <div>
              <p>Öffnungszeiten</p>
            </div>
          </div>
          <div class="col-6">
            <div>
              <p class="right-align">Gesamtpreis</p>
            </div>
          </div>
        </div>
        <div class="row third-row">
          <div class="col-6">
            <div>
              <p>09:00 - 12:00</p>
            </div>
          </div>
          <div class="col-6">
            <div>
              <p class="right-align">24 CHF</p>
            </div>
          </div>
        </div>
        <div class="row fourth-row">
          <div class="col-xl-12">
            <div class="activity-card-title">
              <button class="btn btn-full btn-secondary" type="next">Hinfügen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-option-row">
    <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300002_1.jpg);">
      <div class="activity-detail-card">
        <div class="row first-row">
          <div class="col-sm-12">
            <div>
              <h2>Einlass am Morgen</h2>
            </div>
          </div>
        </div>
        <div class="row second-row">
          <div class="col-6">
            <div>
              <p>Öffnungszeiten</p>
            </div>
          </div>
          <div class="col-6">
            <div>
              <p class="right-align">Gesamtpreis</p>
            </div>
          </div>
        </div>
        <div class="row third-row">
          <div class="col-6">
            <div>
              <p>09:00 - 12:00</p>
            </div>
          </div>
          <div class="col-6">
            <div>
              <p class="right-align">24 CHF</p>
            </div>
          </div>
        </div>
        <div class="row fourth-row">
          <div class="col-xl-12">
            <div class="activity-card-title">
              <button class="btn btn-full btn-secondary" type="next">Hinfügen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
