.subtitle-container {
  font-size: 1rem;
  letter-spacing: .07rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

.title-container span {
  font-weight: 400 !important;
  opacity: .75 !important;
}

.title-container {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 600;
  opacity: 1;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.modal-legal-text-lp {
	font-size: .8rem;
	letter-spacing: .07rem;
	text-align: center;
	margin-top: 2.5rem;
	margin-bottom: 0rem;
}

.countdown-lp {
	margin-bottom: 2.5rem;
  display: inline-block;
}
