
<div class="landing-container">
  <div class="logo-container mr-bt-25 mr-tp-10">
    <a href="/">
      <img src="assets/img/logo.svg" width="110" alt="Flugio Logo" style="margin: 0 auto; display: block;">
    </a>
  </div>

  <div class="title-container">
    <p class="no-margin">
      Exklusive<span> Städtereisen bis zu </span>69%<span> günstiger</span>
    </p>
  </div>

  <div *ngIf="showContentLanding" class="subtitle-container">
    <app-date-countdown-circle class="countdown-lp" [endDate]="endDate"></app-date-countdown-circle>
    <p>Bald ist es soweit! Wir feiern den Start von Flugio mit einem
      einzigartigen Rabatt für dich. Wohin sollen wir der senden?</p>
  </div>

  <div *ngIf="!showContentLanding" class="col-lg-12 mr-bt-25">
    <p class="no-margin opa-5">Kostenloser Zugang zu Exklusive Angeboten nur mit deiner E-Mail</p>
  </div>

  <div class="col-lg-12 mr-bt-25">
    <form #loginForm="ngForm">
      <input type="email" name="email" autocomplete="email" class="mr-bt-10"
        placeholder="E-Mail" [(ngModel)]="email" email>
      <button class="btn btn-full btn-primary modal-input-button-email" type="next" (click)="sendEmailLink()"
        [disabled]="!loginForm.form.valid">Weiter</button>
    </form>
  </div>

  <div class="col-lg-12">
      <p class="modal-legal-text-lp opa-5">Mit dem Klick auf "Weiter" stimmst du unseren <a href="/agb">AGB</a>, Einsatz von <a
        href="/agb">Cookies</a> und <a href="/data-protection">Datenschutzbestimmungen</a> zu</p>
  </div>
</div>