<div class="logo-container">
  <a href="/">
    <img src="assets/img/logo.svg" width="110" alt="Flugio Logo" style="margin: 0 auto; display: block;">
  </a>
</div>
<div class="col-lg-12">
  <p class="modal-header-one">Exklusive Städtereisen bis zu 67% günstiger</p>
</div>
<div class="col-lg-12">
  <p class="modal-header-two">Kostenloser Zugang zu Exclusive Angeboten nur mit Ihrer E-Mail</p>
</div>
<div class="col-lg-12">
  <form #loginForm="ngForm">
    <div class="form-group">
      <input type="email" name="email" autocomplete="email" class="form-control modal-input-email" placeholder="E-Mail"
        [(ngModel)]="email" email>
      <button class="btn btn-primary modal-input-button-email" type="next" (click)="sendEmailLink()" [disabled]="!loginForm.form.valid">Weiter</button>
    </div>
  </form>
</div>
<div class="col-lg-12 modal-hr">
  <div class="strike">
    <span>oder</span>
  </div>
</div>
<div class="col-lg-12">
  <form>
    <div class="form-group">
      <button class="btn btn-primary modal-input-button-facebook" type="next">Weiter mit Facebook</button>
    </div>
  </form>
</div>
<div class="col-lg-12">
    <div class="form-group">
      <p class="modal-legal-text">Mit dem Klick auf "Weiter" stimmen Sie unseren AGB sowie dem Einsatz von Cookies zu
        und nehmen unsere Datenschutzbestimmungen zur Kenntnis</p>
    </div>
</div>