.section-datenschutz {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2.5rem;
  height:75vh;
  overflow: scroll;
}

.section-datenschutz:after {
  content: "";
  display: block;
  height: 2.5rem;
  width: 100%;
}

.section-datenschutz ul {
  padding-left: 1rem;
}

.section-datenschutz p {
  letter-spacing: .05rem;
}

@media only screen and (min-width: 1200px) {
  .section-datenschutz {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 5rem;
  }

  .section-datenschutz:after {
  content: "";
  display: block;
  height: 5rem;
  width: 100%;
}
}
