<div class="pdp-city-block col-xl-12">

  <div class="col-xl-12 pdp-city-block-title" [style.background-image]="imageUrl">
    <div class="pdp-city-block-gradient">
      <div class="text-block">
        <h2>{{ city?.name[locale] }}</h2>
        <hr/>
        <p>{{ city?.description[locale] }}</p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-left:0rem; margin-right:0rem;">
    <div *ngIf="featuredList" class="col-xl-6 pdp-icons-block gradient">
      <div class="text-block">
        <p i18n="perfect for">Perfekt für</p>
        <app-featured-icon [featured]="featured" *ngFor="let featured of featuredList"></app-featured-icon>
      </div>
    </div>
    <div class="col-xl-6 pdp-review-block gradient">
      <app-review [review]="city?.review" style="width:100%;"></app-review>
    </div>
  </div>

  <div class="row" style="margin-left:0rem; margin-right:0rem;">
    <div class="col-xl-12 pdp-city-description-block" style="background-image: url(assets/img/200001_1.jpg);">
      <div class="pdp-city-description-block-gradient">
        <div class="text-block">
          <p>Amsterdam ist berühmt für seine gezelligheid, ein niederländisches Lebensgefühl, das man nicht erklären und nur verstehen kann, wenn man es erlebt. Gezelligheid ist eine Stimmung, in der die Zeit stillzustehen scheint und die Sorgen verschwinden – zumindest bis zum nächsten Morgen. Sie lässt sich am besten in einem traditionellen bruin café erleben. Hier, wo Generationen von Rauchern die Wände bräunlich verfärbt haben, tropft gezelligheid quasi aus dem Zapfhahn. Auch nach dem Abendessen, wenn man bei Kerzenschein noch etwas die Zeit verquatscht, kann es gezellig werden.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-left:0rem; margin-right:0rem;">
    <div class="col-xl-12 pdp-city-activities-block gradient">
      <div>
        <div class="text-block">
          <p>Liste der spannendsten Sehenswürdigkeiten in Amsterdam. Mit übersichtlicher Karte und echten Geheimtipps!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-left:0rem; margin-right:0rem;">
    <div class="col-lg-6 pdp-city-activities-detail-block-title" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F300004_1.jpg?alt=media&token=bd188901-6495-4485-b6f1-d53080e03410');">
      <div class="pdp-city-activities-detail-block-gradient">
        <h2>Rijksmuseum</h2>
        <p>Das niederländische Nationalmuseum mit feinster Kunst</p>
      </div>
    </div>
    <div class="col-lg-6 pdp-city-activities-detail-block-title" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F300005_1.jpg?alt=media&token=ecd2c44f-87cc-4e8c-b897-89a69494f2db');">
      <div class="pdp-city-activities-detail-block-gradient">
        <h2>Van Gogh Museum</h2>
        <p>Vincent van Gogh und seine Zeitgenossen</p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-left:0rem; margin-right:0rem;">
    <div class="col-lg-6 pdp-city-activities-detail-block-title" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F300007_1.jpg?alt=media&token=b19c3b96-a9d3-403b-b464-036e667162a5');">
      <div class="pdp-city-activities-detail-block-gradient">
        <h2>Anne Frank Huis</h2>
        <p>Das erstaunliche Haus und die Geschichte von Anne Frank</p>
      </div>
    </div>
    <div class="col-lg-6 pdp-city-activities-detail-block-title" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F300006_1.jpg?alt=media&token=6c7cf4cc-1907-4851-8039-56d3246a699d');">
      <div class="pdp-city-activities-detail-block-gradient">
        <h2>Heineken Experience</h2>
        <p>Hinter den Türen der ehemaligen Heineken-Brauerei</p>
      </div>
    </div>
  </div>

</div>
