<div class="pdp-city-block col-xl-12">
  <div class="col-xl-12 pdp-city-block-title" [style.background-image]="imageUrl">
    <div class="pdp-city-block-gradient">
      <div class="text-block">
        <h2>{{ city?.name.en_GB }}</h2>
        <hr/>
        <p>{{ city?.description.en_GB }}</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0rem; margin-right:0rem;">
    <div class="col-xl-6 pdp-icons-block gradient">
      <div class="text-block">
        <p>Perfekt für</p>
        <div class="icon-block-one">
          <img src="assets/icon/icon-chef.svg" width="35" height="35" alt="Chef Icon" placement="top" ngbTooltip="Gutes Essen">
          <span></span>
          <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Spa Icon" placement="top" ngbTooltip="Spa">
          <span></span>
          <img src="assets/icon/icon-cocktail.svg" width="35" height="35" alt="Cocktail Icon" placement="top" ngbTooltip="Bars">
        </div>
        <div class="icon-block-two">
          <img src="assets/icon/icon-route.svg" width="35" height="35" alt="Route Icon" placement="top" ngbTooltip="City Tours">
          <span></span>
          <img src="assets/icon/icon-camera.svg" width="35" height="35" alt="Camera Icon" placement="top" ngbTooltip="Schöne Gebäuden">
        </div>
      </div>
    </div>
    <div class="col-xl-6 pdp-review-block gradient">
      <div class="text-block">
        <p>"{{ city?.review.review.en_GB }}"</p>
        <div class="avatar-block">
          <img src="assets/img/avatar.jpg" width="75" height="75" alt="Review Avatar" class="avatar gradient">
          <p class="avatar-name">{{ city?.review.name.en_GB }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
