<div class="gradient" *ngIf="grading">

  <div class="butler gradient-full std-pd-ver-1 br-rd-top overflow-hidden std-pd-hor-1">
    <div class="wp-100">
      <img class="center-hori" height="75" width="75" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
      <div class="text text-center br-rd-all std-pd-ver-1 std-pd-hor-1">
        <p>Ich bewerte das Hotel mit einer...</p>
        <p class="no-margin">9.4</p>
      </div>
    </div>
  </div>

  <div>
    <div>
      <div>
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </div>
  </div>

</div>
