<div class="bg-cover" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fcms%2Fcms_00001.jpg?alt=media&token=22fdd572-cb12-4d23-a695-fa259ce4246f');">
  <div class="overlay-double-gradient-center">
    <div class="pd-25 pd-bt-0 nav-4">
      <div class="inline wp-fourth">
      </div>

      <div class="inline wp-half">
        <a href="/"><img class="px-tp-5 center-hori" src="assets/img/logo.svg" width="110" alt="Flugio Logo"></a>
      </div>

      <div class="inline wp-fourth">
          <p class="px-tp-10 mr-lf-10 inline fl-r"><a href="/account">Konto</a></p>
          <a class="px-tp-5 inline fl-r" href="/account"><img class="opa-50" src="assets/icon/icon-user.svg" height="35"
              alt="Icon User"></a>
      </div>
    </div>
    <div class="std-pd-hor-2 std-pd-ver-2">
      <div class="text-center">
        <h2 class="ft-xxl">Reiseführer</h2>
        <hr class="w-25-rem"/>
        <p class="no-margin">Inspiration für deine Reise</p>
      </div>
    </div>
  </div>
</div>

<div class="butler gradient-full std-pd-ver-1 overflow-hidden std-pd-hor-1">
  <div class="wp-100">
    <img class="center-hori" height="75" width="75" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
    <div class="text text-center br-rd-all std-pd-ver-1 std-pd-hor-1">
      <p class="no-margin">Sich in der Stadt zu verirren bedeutet, wirklich zu entdecken, worum es geht. Die Aromen, die Bräuche, die Klänge und vor allem die Menschen, die es einzigartig machen</p>
    </div>
  </div>
</div>

<div class="flex-wrap text-center">

  <div class="tg-1 flex-half bg-cover std-h-1">
    <a href="/travel-guide/amsterdam">
      <div class="overlay-double-gradient-center center hp-100">
        <div>
          <h2 class="ft-xxl">Amsterdam</h2>
          <hr class="w-25-rem"/>
          <p class="no-margin">Das Zentrum für Kunst, Mode und Gastronomie</p>
        </div>
      </div>
    </a>
  </div>

  <div class="tg-2 flex-half bg-cover std-h-1">
    <a href="/travel-guide/london">
      <div class="overlay-double-gradient-center center hp-100">
        <div>
          <h2 class="ft-xxl">London</h2>
          <hr class="w-25-rem"/>
          <p class="no-margin">Das Zentrum für Kunst, Mode und Gastronomie</p>
        </div>
      </div>
    </a>
  </div>

  <div class="tg-3 flex-half bg-cover std-h-1">
    <a href="/travel-guide/paris">
      <div class="overlay-double-gradient-center center hp-100">
        <div>
          <h2 class="ft-xxl">Paris</h2>
          <hr class="w-25-rem"/>
          <p class="no-margin">Das Zentrum für Kunst, Mode und Gastronomie</p>
        </div>
      </div>
    </a>
  </div>

  <div class="flex-half std-h-1 center gradient-full">
    <div>
      <p>Wünschst du ein exklusives Angebot?</p>
      <a href="/" class="btn btn-full btn-primary" type="next">Angebote anschauen</a>
    </div>
  </div>

  <div class="tg-4 flex-half bg-cover std-h-1">
    <a href="/travel-guide/prag">
      <div class="overlay-double-gradient-center center hp-100">
        <div>
          <h2 class="ft-xxl">Prag</h2>
          <hr class="w-25-rem"/>
          <p class="no-margin">Das Zentrum für Kunst, Mode und Gastronomie</p>
        </div>
      </div>
    </a>
  </div>

  <div class="tg-5 flex-half bg-cover std-h-1">
    <a href="/travel-guide/dublin">
      <div class="overlay-double-gradient-center center hp-100">
        <div>
          <h2 class="ft-xxl">Dublin</h2>
          <hr class="w-25-rem"/>
          <p class="no-margin">Das Zentrum für Kunst, Mode und Gastronomie</p>
        </div>
      </div>
    </a>
  </div>

  <div class="flex-half std-h-1 center gradient-full">
    <div>
      <p>Wünschst du ein exklusives Angebot?</p>
      <a href="/" class="btn btn-full btn-primary" type="next">Angebote anschauen</a>
    </div>
  </div>

  <div class="tg-6 flex-half bg-cover std-h-1">
    <a href="/travel-guide/lissabon">
      <div class="overlay-double-gradient-center center hp-100">
        <div>
          <h2 class="ft-xxl">Lissabon</h2>
          <hr class="w-25-rem"/>
          <p class="no-margin">Das Zentrum für Kunst, Mode und Gastronomie</p>
        </div>
      </div>
    </a>
  </div>

  <div class="tg-7 flex-half bg-cover std-h-1">
    <a href="/travel-guide/barcelona">
      <div class="overlay-double-gradient-center center hp-100">
        <div>
          <h2 class="ft-xxl">Barcelona</h2>
          <hr class="w-25-rem"/>
          <p class="no-margin">Das Zentrum für Kunst, Mode und Gastronomie</p>
        </div>
      </div>
    </a>
  </div>

  <div class="tg-8 flex-half bg-cover std-h-1">
    <a href="/travel-guide/berlin">
      <div class="overlay-double-gradient-center center hp-100">
        <div>
          <h2 class="ft-xxl">Berlin</h2>
          <hr class="w-25-rem"/>
          <p class="no-margin">Das Zentrum für Kunst, Mode und Gastronomie</p>
        </div>
      </div>
    </a>
  </div>

</div>

<app-footer></app-footer>
