<header class="row gradient">
  <div class="col-xl-12 cms-block-title" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fcms%2Fcms_00001.jpg?alt=media&token=22fdd572-cb12-4d23-a695-fa259ce4246f');">
    <div class="cms-block-gradient">
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-xl-12 logo-container">
          <a href="/">
            <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
          </a>
        </div>
      </div>
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-xl-12 text-block">
          <h2>Guides</h2>
          <hr/>
          <p>Inspiration für deine Reise</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-xl-12 cms-butler-block gradient">
    <div class="butler-container">
      <div class="butler-image"><img src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
      </div>
      <div class="butler-text"><p>Sich in der Stadt zu verirren bedeutet, wirklich zu entdecken, worum es geht. Die Aromen, die Bräuche, die Klänge und vor allem die Menschen, die es einzigartig machen</p></div>
    </div>
  </div>
</div>

<div class="row">
  <a href="/travel-guide/amsterdam" class="col-lg-6 section-travel-guide travel-guide-amsterdam">
    <div class="row">
      <div class="col-xl-12 text-block">
        <h2>Amsterdam</h2>
        <hr/>
        <p>Das Venedig des Nordens</p>
      </div>
    </div>
  </a>
  <a href="/travel-guide/london" class="col-lg-6 section-travel-guide travel-guide-london">
    <div class="row">
      <div class="col-xl-12 text-block">
        <h2>London</h2>
        <hr/>
        <p>Die blühende multikulturelle Metropole</p>
      </div>
    </div>
  </a>
</div>

<div class="row">
  <a href="/travel-guide/paris" class="col-lg-6 section-travel-guide travel-guide-paris">
    <div class="row">
      <div class="col-xl-12 text-block">
        <h2>Paris</h2>
        <hr/>
        <p>Das Zentrum für Kunst, Mode und Gastronomie</p>
      </div>
    </div>
  </a>
  <div class="col-lg-6 travel-guide-list-cta gradient-full">
    <div class="text">
      <p class="description">Wünschst du ein exklusives Angebot?</p>
    </div>
    <div class="button">
      <a href="/" class="btn btn-full btn-primary" type="next">Angebote ansehen</a>
    </div>
  </div>
</div>

<div class="row">
  <a href="/travel-guide/prag" class="col-lg-6 section-travel-guide travel-guide-prague">
    <div class="row">
      <div class="col-xl-12 text-block">
        <h2>Prag</h2>
        <hr/>
        <p>Jahrhunderte der Kultur und Geschichte</p>
      </div>
    </div>
  </a>
  <a href="/travel-guide/dublin" class="col-lg-6 section-travel-guide travel-guide-dublin">
    <div class="row">
      <div class="col-xl-12 text-block">
        <h2>Dublin</h2>
        <hr/>
        <p>Lebendige Kunstszenen und ein hervorragendes Nachtleben</p>
      </div>
    </div>
  </a>
</div>

<div class="row">
  <div class="col-lg-6 travel-guide-list-cta gradient-full">
    <div class="text">
      <p class="description">Wünschst du ein exklusives Angebot?</p>
    </div>
    <div class="button">
      <a href="/" class="btn btn-full btn-primary" type="next">Angebote ansehen</a>
    </div>
  </div>
  <a href="/travel-guide/lissabon" class="col-lg-6 section-travel-guide travel-guide-lisbon">
    <div class="row">
      <div class="col-xl-12 text-block">
        <h2>Lissabon</h2>
        <hr/>
        <p>Altertümliche Ruinen und weiße Kathedralen</p>
      </div>
    </div>
  </a>
</div>

<div class="row">
  <a href="/travel-guide/barcelona" class="col-lg-6 section-travel-guide travel-guide-barcelona">
    <div class="row">
      <div class="col-xl-12 text-block">
        <h2>Barcelona</h2>
        <hr/>
        <p>Kosmopolitische Hauptstadt der Region Katalonien</p>
      </div>
    </div>
  </a>
  <a href="/travel-guide/berlin" class="col-lg-6 section-travel-guide travel-guide-berlin">
    <div class="row">
      <div class="col-xl-12 text-block">
        <h2>Berlin</h2>
        <hr/>
        <p>Die Stadt der Freiheit</p>
      </div>
    </div>
  </a>
</div>

<app-footer></app-footer>
