<div class="pdp-activity-date-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <div class="butler-container">
                <div class="butler-image"><img src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
                </div>
                <!-- The part of "2 Erwachsene und 1 Kind" is dynamic, based on the selection made in the step "user-quantity".  -->
                <div class="butler-text"><span>
                  Für
                  {{ adults }} Erwachsene
                  <ng-container *ngIf="children > 0">
                    und {{ children }} Kind
                  </ng-container>, gibt es folgende Optionen. Der Preis ist für alle Personen zusammen.</span></div>
              </div>
            </div>
          </div>
          <div class="row date-options">

            <div class="col-lg-12 date-option" *ngFor="let offer of offers$ | async">
              <button class="btn-option-press fade-in-out" type="next" [class.active]="selectedOffer !== undefined && selectedOffer.id == offer.id" (click)="chooseOffer(offer)">
                <!-- This is the offer for a specific day. The price includes all persons -->
                <p>{{ offer.date.toDate() | date:'EEEE, MMMM d': '': locale }} &nbsp;|&nbsp; {{ offer.price.currency }} {{ offer.price.toDecimal() }}</p>
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
