<div class="pdp-activity-date-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <div class="butler-container">
                <div class="butler-image"><img src="assets/img/avatar-round-notification@2x.png" alt="Butler Flugio"></div>
                <div class="butler-text"><span>Based on "Number Adults" adults and "Number Children" children, we can offer the following days during your trip to experience "Name Activity". Please select below, the day on which you would like to go.</span></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form>
                <div class="form-group date" include="activity-date-input-select()">
                  <select required>
                    <!-- Placeholder -->
                    <option value="" hidden>Day</option>
                    <!-- Options -->
                    <option value="1">Monday 1. April</option>
                    <option value="2">Tuesday 2. April</option>
                    <option value="3">Wednesday 3. April</option>
                    <option value="4">Thursday 4. April</option>
                  </select>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
