<div class="container-fluid scroll">
    <div class="row luggage-overview">
        <div class="col-lg-7 vh100min">
            <div class="luggage-overview-gradient">
                <div class="luggage-wrapper">
                    <div class="image-row-one">
                        <div class="luggage-product"></div>
                        <div class="length center">90 cm</div>
                    </div>
                    <div class="image-row-two">
                        <div class="width center">60 cm</div>
                        <div class="depth center">40 cm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 content-col gradient-full">
            <div class="content-block">
                <p>blaat</p>
            </div>
        </div>
    </div>
</div>