<div class="container-fluid scroll">
    <div class="row luggage">
        <div class="col-lg-6 vh100min bg-luggage bg-cover">
            <div class="overlay-gradient-95 center">
                <div class="luggage-wrapper">
                    <div class="image-row-one center">
                        <div class="luggage-product bg-contain"></div>
                        <div class="luggage-length center">90 cm</div>
                    </div>
                    <div class="image-row-two">
                        <div class="luggage-width center">60 cm</div>
                        <div class="luggage-depth center">40 cm</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 std-pd-1 vh100min gradient-full center order-first order-lg-2">
            <div class="text-center">
                <div class="luggage-airline-logo bg-contain pd-bt-25"></div>
                <p class="pd-bt-25">Dein Angebot einhält ein Flug mit SWISS in Economy Light.</p>
                <p class="pd-bt-25">Ein Koffer mit den maximalen Abmessungen von 90 x 60 x 40 cm und ein Gewicht von maximal 23 kg, akzeptiert SWISS als Handgepäck.</p>
                <p class="pd-bt-25">Kostenloses aufgegebenes Gepäck ist nicht inbegriffen.</p>
                <button class="btn btn-full btn-primary">Zurück</button>
            </div>
        </div>
    </div>
</div>