<div class="pdp-user-quantity-block col-xl-12">
  <div class="center-wrap">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-12">
          <p class="label-user-quantity">Anzahl der Personen</p>
        </div>
      </div>
      <div class="row">
        <div class="user-quantity-button-wrapper">
          <div class="button-quantity">
            <button class="btn-press fade-in-out" type="next">
              <span class="button-number-day">1</span>
            </button>
          </div>
          <div class="button-quantity">
            <button class="btn-press fade-in-out active" type="next">
              <span class="button-number-day">2</span>
            </button>
          </div>
          <div class="button-quantity">
            <button class="btn-press fade-in-out" type="next">
              <span class="button-number-day">3</span>
            </button>
          </div>
          <div class="button-quantity">
            <button class="btn-press fade-in-out" type="next">
              <span class="button-number-day">4</span>
            </button>
          </div>
          <div class="button-quantity">
            <button class="btn-press fade-in-out" type="next">
              <span class="button-number-day">5</span>
            </button>
          </div>
          <div class="button-quantity">
            <button class="btn-press fade-in-out" type="next">
              <span class="button-number-day">6</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
