<div class="pdp-user-quantity-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <div class="butler-container">
                <span>"Wer kommt mit?"</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 adults">
              <p class="number-picker-label">Erwachsene <span>18+</span></p>
              <app-number-picker [minNumber]="1" [maxNumber]="6" [(currentNumber)]="adultNumber" (numberChange)="onAdultChange($event)"></app-number-picker>
            </div>
            <div class="col-lg-6 children">
              <p class="number-picker-label">Kinder <span>0-17</span></p>
              <app-number-picker [minNumber]="0" [maxNumber]="6" [(currentNumber)]="childrenNumber" (numberChange)="onChildrenChange($event)"></app-number-picker>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
