<div class="pdp-user-quantity-block col-xl-12">
  <div class="center-wrap">
    <div class="col-xl-12">
      <div class="row">
        <div class="col-xl-12">
          <p class="label-user-quantity" i18n="number of people">Anzahl der Personen</p>
        </div>
      </div>
      <div class="row">
        <div class="user-quantity-button-wrapper">
          <div *ngFor="let user of numberOfUsers" class="button-quantity">
            <button (click)="selectNumberOfUsers(user)" [class.active]="user === userNumber" class="btn-press fade-in-out" type="next">
              <span class="button-number-day">{{ user }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>