<div class="pdp-transportation-block col-xl-12" *ngIf="transportation">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-transportation">{{ transportationMessage }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-md-4">
          <button class="btn-icon-press fade-in-out" [class.active]="hasTransportation" type="next" (click)="yes()">
            <img src="assets/icon/icon-ride.svg" height="55" alt="Icon Ride">
            <p>Mit</p>
          </button>
        </div>
        <div class="col-md-4">
          <button class="btn-icon-press fade-in-out" type="next" [class.active]="!hasTransportation" (click)="no()">
            <img src="assets/icon/icon-walk.svg" height="55" alt="Icon Walk">
            <p>Ohne</p>
          </button>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
  </div>
</div>
