<div class="step-tr step-mobile-center center std-pd-hor-2" *ngIf="transportation">

  <div class="wp-100">

    <div class="butler mr-bt-25">
      <div class="wp-100">
        <img class="center-hori" height="75" width="75" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
        <div class="text text-center br-rd-all std-pd-ver-1 std-pd-hor-1">
          <p class="no-margin">{{ transportationMessage }}</p>
        </div>
      </div>
    </div>

    <div class="relative">

      <p class="ft-xs toggle-split">oder</p>

      <div class="toggle flex-wrap">
        <div class="flex-half toggle-split-right">
          <button class="btn-icon-press toggle-radius-left fade-in-out" [class.active]="hasTransportation" type="next" (click)="yes()">
            <img src="assets/icon/icon-ride.svg" height="55" alt="Icon Ride">
            <p class="mr-tp-5">Mit</p>
          </button>
        </div>
        <div class="flex-half toggle-split-left">
          <button class="btn-icon-press toggle-radius-right fade-in-out" type="next" [class.active]="!hasTransportation" (click)="no()">
            <img src="assets/icon/icon-walk.svg" height="55" alt="Icon Walk">
            <p class="mr-tp-5">Ohne</p>
          </button>
        </div>
      </div>

    </div>

  </div>

</div>
