<div class="pdp-success-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row first-row">
        <div class="col-xl-12">
          <div class="success-icon">
            <img src="assets/icon/icon-cocktail.svg" height="58" alt="Icon Cocktail">
          </div>
        </div>
      </div>
      <div class="row second-row">
        <div class="col-xl-12">
          <p class="label-success">Entspann weil deine Reise ist gebucht!<br />Du bekommst noch ein E-Mail mit alle Details<img src="assets/icon/tooltip.svg" height="19" alt="Icon Umbrella" placement="top" ngbTooltip="Innerhalb drei Tagen kontaktieren wir dich noch um alles noch kurz zu prüfen"></p>
        </div>
      </div>
    </div>
  </div>
</div>
