@media only screen and (max-width: 767.98px)  {
  .account-order-documents .btn-icon-press{
    margin-bottom: 2rem;
  }
}

.account-order-documents .btn-icon-press p {
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.account-order-documents {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.account-order-documents .buttons-first-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.account-order-documents .buttons-second-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

@media (min-width: 768px) {
  .account-order-documents .buttons-first-row {
    margin-bottom: 2rem;
  }
}

.account-order-documents .back-button {
  margin-top: 2.5rem;
}

@media only screen and (max-width: 767.98px)  {
  .account-order-documents .back-button {
    margin-top: .5rem;
  }
}
