.pdp-order-block {
  width: 100%;
}

.pdp-order-block .center-wrap {
  width: 100%;
}

@media only screen and (min-width: 1200px)  {
  .pdp-order-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

@media only screen and (max-width: 767.98px)  {
  .pdp-order-block .btn-icon-press{
    margin-bottom: 2rem;
  }

  .pdp-order-block {
    margin-top: -1rem;
  }
}

@media (max-width: 575.98px) {
  .pdp-order-block {
    margin-top: 1.95rem;
    margin-bottom: 8rem;
  }
}

.pdp-order-block .btn-icon-press p {
  margin-bottom: 0rem;
  margin-top: 1rem;
}
