<div *ngIf="documents.length == 0" class="row account-order-documents">
  <div class="col-sm-3">
  </div>
    <div class="col-lg-6">
      <!-- Content Page Start -->
      <div class="col-lg-12">
        <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
          <div class="butler-container">
            <div class="butler-image"><img src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio"></div>
            <div class="butler-text"><p>Ich habe die Unterlagen für dich angeordnet. Was genau brauchst du?</p></div>
          </div>
        </div>
      </div>
      <div class="row buttons-first-row">
        <div class="col-md-6">
          <button class="btn-icon-press fade-in-out" type="next" (click)="chooseDocuments('accommodation')">
            <img src="assets/icon/icon-accommodations.svg" height="55" alt="Icon Hotel">
            <p>Hotel</p>
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn-icon-press fade-in-out" type="next" (click)="chooseDocuments('flight')">
            <img src="assets/icon/icon-flights.svg" height="55" alt="Icon Flug">
            <p>Flug</p>
          </button>
        </div>
      </div>
      <div class="row buttons-second-row">
        <div class="col-md-6">
          <button class="btn-icon-press fade-in-out" type="next" (click)="chooseDocuments('activity')">
            <img src="assets/icon/icon-activities.svg" height="55" alt="Icon Aktivität">
            <p>Aktivitäten</p>
          </button>
        </div>
        <div class="col-md-6">
          <button class="btn-icon-press fade-in-out" type="next" (click)="chooseDocuments('various')">
            <img src="assets/icon/icon-others.svg" height="55" alt="Icon Andere">
            <p>Andere</p>
          </button>
        </div>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-full btn-primary back-button" (click)="goBackToMain()" type="back">Zurück</button>
      </div>
      <!-- Content Page End -->
    </div>
  <div class="col-sm-3">
  </div>
</div>

<app-account-order-document-list (goBackEmitter)="goBackEmitter(event)" *ngIf="documents.length > 0" [documents]="documents"></app-account-order-document-list>
