<div class="pdp-user-age-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-user-age">Am den gewünschte Reisedatum, sind alle Personen älter als 18?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-md-2">
          <button class="btn-press fade-in-out active" type="next">
            <span class="button-number-day">Ja</span>
          </button>
        </div>
        <div class="col-md-2">
          <button class="btn-press fade-in-out" type="next">
            <span class="button-number-day">Nein</span>
          </button>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
</div>
