.section-customer-service-intro {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-customer-service-intro p {
  margin-bottom: 0rem;
  letter-spacing: .07rem;
}

@media only screen and (min-width: 576px) {
  .section-customer-service-intro {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-customer-service-intro {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
