<header class="row gradient">
  <div class="col-xl-12 cms-block-title" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F4_00002_1.jpg?alt=media&token=75447f74-500b-4f58-b0b9-61c3afa47a81');">
    <div class="cms-block-gradient">
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-xl-12 logo-container">
          <a href="/">
            <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
          </a>
        </div>
      </div>
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-xl-12 text-block">
          <h2>James</h2>
          <hr/>
          <p>Der Butler von Flugio</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row gradient-full section-customer-service-intro">
</div>

<app-footer></app-footer>
