<div class="row account-profile" style="margin-right: 0px !important; margin-left: 0px !important;">
  <div class="col-sm-3">
  </div>
  <div class="col-lg-6">
    <!-- Content Page Start -->
    <div class="col-lg-12">
      <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
        <div class="butler-container">
          <div class="butler-image"><img src="assets/img/avatar-round-notification@2x.png" alt="Butler Flugio"></div>
          <div class="butler-text"><span>Diese Kontaktdaten haben wir von dir</span></div>
        </div>
      </div>
      <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
        <form #userUpdateForm="ngForm" class="contact-data-form" autocomplete="disabled">
          <div class="form-group">
            <input required="required" name="firstName" autocomplete="disabled" type="text" class="form-control"
              placeholder="Vorname" [(ngModel)]="userContact.firstName">
          </div>
          <div class="form-group">
            <input required="required" name="lastName" autocomplete="disabled" type="text" class="form-control"
              placeholder="Nachname" [(ngModel)]="userContact.lastName">
          </div>
          <div class="form-group">
            <input required="required" name="email" autocomplete="disabled" type="email" class="form-control"
              placeholder="E-Mail" [(ngModel)]="userContact.email">
          </div>
          <div class="form-group">
            <input autocomplete="disabled" name="phoneNumber" type="tel" class="form-control" placeholder="Telefonnummer"
              [(ngModel)]="userContact.phoneNumber">
          </div>
          <button class="btn btn-primary" (click)="updateUser()" type="next" [disabled]="!userUpdateForm.form.valid">Speichern</button>
        </form>
      </div>
    </div>
    <!-- Content Page End -->
  </div>
  <div class="col-sm-3">
  </div>
</div>
