.account-profile {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.account-profile .contact-data-form input {
  margin-bottom: 2rem;
}

.account-profile .contact-data-form button {
  width: 100%;
  margin-top: .5rem;
}
