<div class="row account-profile" style="margin-right: 0px !important; margin-left: 0px !important;">
  <div class="col-sm-3">
  </div>
  <div class="col-lg-6">
    <!-- Content Page Start -->
    <div class="col-lg-12">
      <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
        <div class="butler-container">
          <div class="butler-image"><img src="assets/img/avatar-round-notification@2x.png" alt="Butler Flugio"></div>
          <div class="butler-text"><span>Unten können sie Ihre Kontaktdaten anpassen wenn nötig</span></div>
        </div>
      </div>
      <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
        <form class="contact-data-form">
          <div class="form-group">
            <input required="required" autocomplete="off" type="text" class="form-control" placeholder="Vorname">
          </div>
          <div class="form-group">
            <input required="required" autocomplete="off" type="text" class="form-control" placeholder="Nachname">
          </div>
          <div class="form-group">
            <input required="required" autocomplete="off" type="email" class="form-control" placeholder="E-Mail">
          </div>
          <div class="form-group">
            <input autocomplete="off" type="tel" class="form-control" placeholder="Telefonnummer">
          </div>
          <button class="btn btn-primary" type="next">Speichern</button>
        </form>
      </div>
    </div>
    <!-- Content Page End -->
  </div>
  <div class="col-sm-3">
  </div>
</div>

<div class="row account-remove" style="margin-right: 0px !important; margin-left: 0px !important;">
  <div class="col-sm-3">
  </div>
  <div class="col-lg-6">
    <!-- Content Page Start -->
    <div class="col-lg-12">
      <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
        <div class="butler-container">
          <div class="butler-image"><img src="assets/img/avatar-round-notification@2x.png" alt="Butler Flugio"></div>
          <div class="butler-text"><span>Wünschen Sie Ihr Konto entfernen? Schreib dann "flugio" unten im Feld und drucken Sie auf "Entfernen"</span></div>
        </div>
      </div>
      <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
        <form class="contact-data-form">
          <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" placeholder="Verifizierung">
          </div>
          <button class="btn btn-primary" type="next">Entfernen</button>
        </form>
      </div>
    </div>
    <!-- Content Page End -->
  </div>
  <div class="col-sm-3">
  </div>
</div>
