<div class="center">
  <div class="account-container-content std-pd-2">

    <div class="butler-container">
      <div class="butler-image"><img src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio"></div>
      <div class="butler-text"><p>Diese Kontaktdaten habe ich von dir</p></div>
    </div>

    <form #userUpdateForm="ngForm" class="contact-data-form" autocomplete="disabled">
      <input class="mr-bt-25" required="required" name="firstName" autocomplete="disabled" type="text"
        placeholder="Vorname" [(ngModel)]="userContact.firstName">
      <input class="mr-bt-25" required="required" name="lastName" autocomplete="disabled" type="text"
        placeholder="Nachname" [(ngModel)]="userContact.lastName">
      <input class="mr-bt-25" required="required" name="email" autocomplete="disabled" type="email"
        placeholder="E-Mail" [(ngModel)]="userContact.email">
      <input class="mr-bt-25" autocomplete="disabled" name="phoneNumber" type="text" placeholder="Telefonnummer"
        [(ngModel)]="userContact.phoneNumber">
      <button class="btn btn-full btn-primary mr-bt-25" (click)="updateUser()" type="next" [disabled]="!userUpdateForm.form.valid">Speichern</button>
    </form>

  </div>
</div>