<div class="step ease-in-out" (click)="goToStep(0)">
    <span class="number ease-in-out center fl-l ft-xs" [ngClass]="{
                      'active': currentStep > 0,
                      'current': currentStep == 0
                    }">1</span>
    <p class="label ease-in-out mr-lf-10 x-mobile fl-l" [ngClass]="{
                    'active': currentStep > 0,
                    'current': currentStep == 0
                  }">Stadt</p>
</div>
<div class="line ease-in-out fl-l" [ngClass]="{
                      'step-line': true,
                      'active': currentStep > 0
                    }">
</div>

<div class="step" (click)="goToStep(1)">
  <span class="number ease-in-out center fl-l ft-xs" [ngClass]="{
                    'active': currentStep > 0,
                    'current': currentStep == 1 || currentStep == 2
                  }">2</span>
  <p class="label ease-in-out mr-lf-10 x-mobile fl-l" [ngClass]="{
                    'active': currentStep > 0,
                    'current': currentStep == 1 || currentStep == 2
                  }">Hotel</p>
</div>
<div class="line ease-in-out fl-l" [ngClass]="{
                    'step-line': true,
                    'active': currentStep > 3
                  }">
</div>

<div class="step" (click)="goToStep(4)">
  <span class="number ease-in-out center fl-l ft-xs" [ngClass]="{
                  'active': currentStep > 3,
                  'current': currentStep == 4
                }">3</span>
  <p class="label ease-in-out mr-lf-10 x-mobile fl-l" [ngClass]="{
                  'active': currentStep > 3,
                  'current': currentStep == 4
                }">Flug</p>
</div>
<div class="line ease-in-out fl-l" [ngClass]="{
                    'step-line': true,
                    'active': currentStep > 4
                  }">
</div>

<div class="step" (click)="goToStep(5)">
  <span class="number ease-in-out center fl-l ft-xs" [ngClass]="{
                  'active': currentStep > 4,
                  'current': currentStep == 5 || currentStep == 6 || currentStep == 7
                }">4</span>
  <p class="label ease-in-out mr-lf-10 x-mobile fl-l" [ngClass]="{
                  'active': currentStep > 4,
                  'current': currentStep == 5 || currentStep == 6 || currentStep == 7
                }">Aktivitäten</p>
</div>
<div class="line ease-in-out fl-l" [ngClass]="{
                'step-line': true,
                'active': currentStep > 7
              }">
</div>

<div class="step" (click)="goToStep(8)">
  <span class="number ease-in-out center fl-l ft-xs" [ngClass]="{
                  'active': currentStep > 7,
                  'current': currentStep > 7
                }">5</span>
  <p class="label ease-in-out mr-lf-10 x-mobile fl-l" [ngClass]="{
                  'active': currentStep > 7,
                  'current': currentStep > 7
                }">Zahlung</p>
</div>
