<div class="row header gradient">
  <div class="col-xl-12">
    <div class="row logo">
      <div class="col-xl-12">
        <img src="assets/img/logo.svg" width="100" height="32" alt="Flugio Logo" class="logo">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="deal-card" style="background-image: url(assets/img/sample.jpg);">
      <div class="row first-row">
        <div class="deal-card-title">
          <p>London</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="deal-card" style="background-image: url(assets/img/sample.jpg);">
    </div>
  </div>
</div>
