<div class="chat-container">

<div class="chat-message-row">
  <div class="chat-message-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
    <div>
      <div class="chat-message james">
        <div class="avatar"></div>
        <div class="message" style="margin-bottom:1rem;">Mein Name ist James und ich bin ein echter Roboter! Ich würde gerne jede Frage beantworten, die du hast. Bitte habe Geduld, da ich nicht immer die Antwort habe.</div>
        <div class="message">Also, wie kann ich dir helfen? 👌🏼</div>
      </div>
      <div class="chat-message {{ message.author}}" *ngFor="let message of messages">
        <div class="avatar"></div>
        <div class="message">{{ message.message }}</div>
      </div>
    </div>
  </div>
</div>

<div class="chat-input-row">
  <div class="chat-input-container">
    <form>
      <div class="chat-input-input">
        <input autocomplete="off" name="message" required="required" type="text" [(ngModel)]="currentText" class="form-control" placeholder="Nachricht"/>
      </div>
      <div class="chat-input-button">
        <button type="submit" class="btn-round-sm btn-next" value="Talk" (click)="talk()"><img _ngcontent-c10="" alt="Icon Next" height="10" src="assets/icon/next.svg"></button>
      </div>
    </form>
  </div>
</div>

</div>
