.chat-container {
  min-height: calc(100vh - 7.5rem);
  max-height: calc(100vh - 7.5rem);
  height: calc(100vh - 7.5rem);
}

.chat-message-row {
  min-height: calc(100vh - 12.5rem);
  max-height: calc(100vh - 12.5rem);
  height: calc(100vh - 12.5rem);
  overflow-y: scroll;
  z-index: 1;
}

.chat-message-container{
  overflow: scroll;
  height: 100%;
}

.chat-input-row {
  min-height: 5rem;
  max-height: 5rem;
  height: 5rem;
  z-index: 2;
  padding-top: 1.35rem;
}

.chat-input-input {
  float: left;
  width: calc(100% - 3.1rem);
}

.chat-input-button {
  float: right;
  width: 2.6rem;
  text-align: right;
  margin-left: .5rem;
}

.chat-input-button button:focus {
  outline: none;
}

.btn-round-sm {
  border: none;
  font-size: 1.2rem;
  border-radius: 100%;
  height: 2.6rem;
  width: 2.6rem;
  background: rgba(85, 144, 151, 1);
  color: var(--color-one);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

::-webkit-scrollbar {
  display:none
}

.chat-message {
  margin-bottom: 1rem;
}

.james {
  float: left;
  clear: both;
}

.james .message {
  border-top-left-radius: 0rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  margin-left: 4.5rem;
  background: rgba(85, 144, 151, 1);
  width: fit-content;
}

.james .avatar {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-assistant%402x.png?alt=media&token=6edcb3be-5a71-45d3-9825-f7c31e690cca');
  background-size: 3.5rem 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  float: left;
}

.user {
  float: right;
  clear: both;
}

.user .message {
  margin-right: 4.5rem;
  padding: 1rem 1rem 1rem 1rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background: rgba(85, 144, 151, 1);
  width: fit-content;
}

.user .avatar {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-user%402x.png?alt=media&token=a4f9cbac-8215-46c7-a7fa-113829f711af');
  background-size: 3.5rem 3.5rem;
  width: 3.5rem;
  height: 3.5rem;
  float: right;
}
