@media only screen and (min-width: 1200px) {
	.rating-block .icon-block-one img:first-child {
		margin-right: .75rem !important;
	}
	.rating-block .icon-block-one .full-star-rating {
		margin-right: .75rem !important;
	}
	.rating-block .icon-block-one .empty-star-rating {
		margin-right: .75rem !important;
	}
	.rating-block .icon-block-one .part-star-rating {
		margin-right: .75rem !important;
	}
	.rating-block .icon-block-one img:last-child {
		margin-right: 0rem !important;
	}
}
.rating-block {
	background-color: rgba(77, 131, 132, 1);
	align-items: center;
	display: flex;
	align-items: center;
}
.rating-block .text-block {
	text-align: center;
	margin: 0 auto;
	font-size: 1rem;
}
.rating-block .icon-block-one {
	margin-bottom: 1rem;
	margin-top: 2rem;
}
.rating-block .icon-block-one img {}
.rating-block .icon-block-one img:first-child {
	margin-right: .75rem;
}
.rating-block .icon-block-one .full-star-rating {
	margin-right: .75rem;
}
.rating-block .icon-block-one .empty-star-rating {
	margin-right: .75rem;
}
.rating-block .icon-block-one .part-star-rating {
	margin-right: .75rem;
}
.rating-block .icon-block-one img:last-child {
	margin-right: 0rem;
}
.rating-block .rating-number {
	margin-top: 2rem;
	margin-bottom: 0rem;
}