@media only screen and (min-width: 1200px)  {
  .pdp-accommodation-review-block .icon-block-one img:first-child {
    margin-right: 15px !important;
  }

  .pdp-accommodation-review-block .icon-block-one .full-star-rating {
    margin-right: 10px !important;
  }

  .pdp-accommodation-review-block .icon-block-one .empty-star-rating {
    margin-right: 15px !important;
  }

  .pdp-accommodation-review-block .icon-block-one .part-star-rating {
    margin-right: 10px !important;
  }

  .pdp-accommodation-review-block .icon-block-one img:last-child {
    margin-right: 0rem !important;
  }
}

.pdp-accommodation-review-block {
  background-color: rgba(77, 131, 132, 1);
  align-items: center;
  display: flex;
  align-items: center;
  height: 20rem;
}

.pdp-accommodation-review-block .text-block {
  text-align: center;
  margin: 0 auto;
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-accommodation-review-block .icon-block-one {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.pdp-accommodation-review-block .icon-block-one img {
}

.pdp-accommodation-review-block .icon-block-one img:first-child {
  margin-right: 10px;
}

.pdp-accommodation-review-block .icon-block-one .full-star-rating {
  margin-right: 5px;
}

.pdp-accommodation-review-block .icon-block-one .empty-star-rating {
  margin-right: 10px;
}

.pdp-accommodation-review-block .icon-block-one .part-star-rating {
  margin-right: 5px;
}

.pdp-accommodation-review-block .icon-block-one img:last-child {
  margin-right: 0rem;
}

.pdp-accommodation-review-block .rating-number {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
