<div class="pdp-payment-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-payment">Was sind deine Kreditkarte Einzelheiten?</p>
        </div>
      </div>
      <div class="row payment-form">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12">
              <form>
                <div class="form-group number">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nummer">
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <form>
                <div class="form-group name">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <form>
                <div class="form-group month">
                  <select>
                    <option value="" selected disabled hidden>Monat</option>
                    <option value="1">Januar</option>
                    <option value="2">Februar</option>
                    <option value="3">März</option>
                    <option value="4">April</option>
                    <option value="5">Mai</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Dezember</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <form>
                <div class="form-group year">
                  <select>
                    <option value="" selected disabled hidden>Jahr</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <form>
                <div class="form-group cvv">
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="CVV">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-trust"><img src="assets/icon/icon-lock.svg" width="13" alt="Icon Lock" class="icon-lock">Sicheres
            Einkaufen durch Stripe</p>
        </div>

        <button (click)="handlePayment()">
          Add Credits to your Account
        </button>
      </div>
    </div>
  </div>
</div>