<sidebar-js [sidebarjsConfig]="{position: 'left', backdropOpacity: 0}">
  <div class="sidebarjs-center-container" style="display: flex; align-items: center; flex-wrap: wrap; height: 100%;">
    <div class="sidebarjs-center-container-content" style="width:100%; float: left; clear: both;">
      <div class="content-block price-title">
        <p i18n="sidebar overview">Übersicht</p>
        <hr class="price-hr"/>
      </div>
      <!-- Below is the amount of money that customer 1 needs to pay based on the selection of the flight.
      This amount includes the flight and accommodation costs for this one person. -->
      <div class="content-block">
        <p class="price-label">Teilnehmer - 3. April 1988</p>
        <p class="price-amount">CHF 189</p>
      </div>
      <!-- Below is the amount of money that customer 2 needs to pay based on the selection of the flight.
      This amount includes the flight and accommodation costs for this one person. -->
      <div class="content-block">
        <p class="price-label">Teilnehmer - 2. Juni 2017</p>
        <p class="price-amount">CHF 149</p>
      </div>
      <!-- The block below is only displayed when the customer has chosen for an insurance.
      Otherwise, this block is not being displayed. -->
      <div class="content-block">
        <p class="price-label">Annullierungskosten-Versicherung</p>
        <p class="price-amount">CHF 49</p>
      </div>
      <!-- The block below is only displayed when the component in the deal detail view is active and filled in. -->
      <div class="content-block">
        <p class="price-label">Buchungsgebühr</p>
        <p class="price-amount">CHF 19</p>
      </div>
      <div class="content-block price-total">
        <hr class="total-hr"/>
        <p class="price-label">Insgesamt</p>
        <!-- Below is the amount of money that the customer needs to pay based on the selection of choices (flight, accommodation, activities, insurance, etc.)
        This changes throughout the checkout process because the customer can change all the time certain options.
        The amount at the beginning in a stripe ("-"). Once the customer selected a a flight, the amount will update. -->
        <p class="price-amount">CHF {{ deal?.marketing.price }}</p>
      </div>
      <div class="content-block sidebarjs-close-button">
        <button sidebarjsClose class="btn btn-small btn-primary" type="next" i18n="close sidebar">Schliessen</button>
      </div>
    </div>
  </div>
</sidebar-js>
<div class="row nav-container">
  <div class="col-xl-3"></div>
  <div class="col-xl-9 nav-col">
    <div class="row">
      <div class="col-xs-4">
        <div class="btn-back-container">
          <button (click)="moveToPreviousStep()" type="button" name="button-back" class="btn-round-pdp" i18n="sidebar next">Zurück</button>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="price-container-small">
          <div class="price-info">
            <p class="price-label">Gesamtbetrag</p>
            <!-- Below is the amount of money that the customer needs to pay based on the selection of choices (flight, accommodation, activities, insurance, etc.)
            This changes throughout the checkout process because the customer can change all the time certain options.
            The amount at the beginning in a stripe ("-"). Once the customer selected a a flight, the amount will update. -->
            <p class="price-amount">CHF {{ deal?.marketing.price }}</p>
            <button sidebarjsOpen class="btn btn-small btn-primary" type="next" i18n="sidebar details">Details</button>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="btn-next-container">
          <button (click)="moveToNextStep()" type="button" name="button-next" class="btn-round-pdp" i18n="sidebar next">Weiter</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div [style.background-image]="imageUrl" class="row pdp-container">
  <nav class="col-xl-3 gradient-20 pdp-column-left-bar">
    <div class="row logo">
      <div class="col-xl-12">
        <div class="logo-container">
          <a href="/">
            <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
          </a>
        </div>
        <div class="center-container">
          <div class="steps">
            <div class="price-container">
              <div class="price-info">
                <p class="price-label" i18n="sidebar total">Gesamtbetrag</p>
                <!-- Below is the amount of money that the customer needs to pay based on the selection of choices (flight, accommodation, activities, insurance, etc.)
                This changes throughout the checkout process because the customer can change all the time certain options.
                The amount at the beginning in a stripe ("-"). Once the customer selected a a flight, the amount will update. -->
                <p class="price-amount">{{ accummulations.totalPrice }}</p>
                <button sidebarjsOpen class="btn btn-small btn-primary" type="next" i18n="sidebar details">Details</button>
              </div>
            </div>
            <div class="timeline-container">
              <div class="from-to-date">
                <div *ngIf="accummulations.startDate" class="from-date">
                  <!-- Below is the day number (example: "20") that the customer flies (based on his/her selection) -->
                  <p class="day">{{ accummulations.startDate | date:'d'}}</p>
                  <!-- Below is the day number (example: "June") that the customer flies (based on his/her selection) -->
                  <p class="month">{{ accummulations?.startDate | date:'MMM. yyyy'}}</p>
                  <!-- Below is the day name (example: "Wed.") that the customer flies (based on his/her selection).
                  The day name is always shorted to 3 letters followed by a point (".") -->
                  <p class="weekday">{{ accummulations?.startDate | date:'E. hh:mm'}}</p>
                </div>
                <div class="arrow-wrapper">
                  <div class="arrow-nights">
                    <!-- Below is the amount of nights that the customer is going to stay at the accommodation -->
                    <ng-template #tipAccommodation>{{ accummulations?.numberOfNights}} Nächte<br />{{(accommodationDoc | doc | async)?.name[locale]}}<br />Check-in: {{ accummulations?.startDate | date:'mediumDate'}}<br />Check-out: {{ accummulations?.endDate | date:'mediumDate'}}</ng-template>
                    <!-- Below is the amount of people that will be staying at the accommodation -->
                    <ng-template #tipPeople>{{ accummulations.adults }} Erwachsene<br />{{ accummulations.children }} Kind</ng-template>
                    <!-- Below is the amount of nights that the customer is going to stay at the accommodation -->
                    <p class="nights">{{ accummulations?.numberOfNights}} <img src="assets/icon/icon-moon.svg" height="15" alt="Icon Moon" placement="top" [ngbTooltip]="tipAccommodation"></p>
                    <!-- Below is the amount of people that will be staying at the accommodation -->
                    <p class="persons">{{ accummulations?.adults + accummulations?.children }} <img src="assets/icon/icon-person.svg" height="15" alt="Icon Person" placement="top" [ngbTooltip]="tipPeople"></p>
                  </div>
                </div>
                <div class="to-date" *ngIf="accummulations.endDate">
                  <!-- Below is the day number (example: "20") that the customer flies back (based on his/her selection) -->
                  <p class="day">{{ accummulations?.endDate | date:'d'}}</p>
                  <!-- Below is the day number (example: "June") that the customer flies back (based on his/her selection) -->
                  <p class="month">{{ accummulations?.endDate | date:'MMM. yyyy'}}</p>
                  <!-- Below is the day name (example: "Wed.") that the customer flies back (based on his/her selection).
                  The day name is always shorted to 3 letters followed by a point (".") -->
                  <p class="weekday">{{ accummulations?.endDate | date:'E. hh:mm'}}</p>
                </div>
              </div>
            </div>

            <app-step-progress [currentStep]="currentStep"></app-step-progress>

          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="col-xl-9 pdp-column-right-bar">
    <div class="container">
      <div class="row pdp-row-right-bar-container">

        <app-city *ngIf="currentStep == 0" [city]="city" [imageUrl]="imageUrl" style="width:100%;"></app-city>

        <app-accommodation *ngIf="currentStep == 1" [accommodation]="accommodation" style="width:100%;"></app-accommodation>

        <app-user-quantity *ngIf="currentStep == 2" style="width:100%;" [(childrenNumber)]="accummulations.children" [(adultNumber)]="accummulations.adults"></app-user-quantity>

        <app-ages-children *ngIf="currentStep == 3" style="width:100%;" [accummulations]="accummulations" [childrenNumber]="accummulations.children" [(childrenBirthdays)]="accummulations.childrenBirthdays"></app-ages-children>

        <app-calendar *ngIf="currentStep == 4" style="width:100%;" [deal]="deal" [accummulations]="accummulations"></app-calendar>

        <app-calendar-option *ngIf="currentStep == 5" style="width:100%;"></app-calendar-option>

        <app-activities *ngIf="currentStep == 6" style="width:100%;"></app-activities>

        <app-activity-detail *ngIf="currentStep == 7" style="width:100%;"></app-activity-detail>

        <app-activity-option *ngIf="currentStep == 8" style="width:100%;"></app-activity-option>

        <app-on-board *ngIf="currentStep == 9" style="width:100%;" [accummulations]="accummulations"></app-on-board>

        <app-insurance *ngIf="currentStep == 10" style="width:100%;" [accummulations]="accummulations"></app-insurance>

        <app-user-data *ngIf="currentStep == 11" style="width:100%;"></app-user-data>

        <app-payment *ngIf="currentStep == 12" style="width:100%;"></app-payment>

        <app-success *ngIf="currentStep == 13" style="width:100%;"></app-success>

      </div>
    </div>
  </section>
</div>
