<ng-sidebar-container class="vh100min">

  <ng-sidebar autoFocus=false position='left' showBackdrop=true closeOnClickOutside=true animate=true #sidebar>
    <div class="nav-2 std-pd-2 gradient-full center vh100min width-full ft-xs" *ngIf="accummulations.hasFlightAccommodation">
      <div class="width-full">
        
        <div class="text-center">
          <p>Preis für {{ accummulations.adults }} Erwachsene<ng-container *ngIf="accummulations.adults == 1">r</ng-container><br />und {{ accummulations.children }} Kind<ng-container *ngIf="accummulations.children !== 1">er</ng-container></p>
        </div>

        <hr/>

        <div *ngIf="accummulations.flightAccommodationPrice">
          <div class="grid-flex">
            <span class="prio-1">Flug & Hotel</span>
            <span class="prio-2">{{ accummulations.flightAccommodationPrice.currency }} {{ accummulations.flightAccommodationPrice }}</span>
          </div>
          <div class="grid-flex">
            <span class="prio-1 opa-5">Abflug</span>
            <span class="prio-2 opa-5">{{ accummulations.startDate.toDate() | date:'E d MMM hh:mm': '': localeSimple}}</span>
          </div>
          <div class="grid-flex">
            <span class="prio-1 opa-5">Hinflug</span>
            <span class="prio-2 opa-5">{{ accummulations.endDate.toDate() | date:'E d MMM hh:mm': '': localeSimple}}</span>
          </div>
          <div>
            <span class="opa-5 underline link" (click)="goToStep(4)">Anpassen</span>
          </div>
        </div>

        <div class="mr-tp-10" *ngIf="accummulations.activities.values">
          <div *ngFor="let pack of accummulations.activities | keyvalue">
            <div class="grid-flex">
              <span class="prio-1" *ngIf="pack.value.activity">{{ pack.value.activity?.name[locale] }}</span>
              <span class="prio-2" *ngIf="pack.value.offer">{{ pack.value.offer?.price.currency }} {{ pack.value.offer?.price }}</span>
            </div>
            <div class="grid-flex">
              <span class="prio-1 opa-5">Datum</span>
              <span class="prio-2 opa-5">{{ pack.value.offer?.date.toDate() | date:'E d MMM' : '': localeSimple}}</span>
            </div>
            <div>
              <span class="opa-5 no-margin underline link" (click)="goToStep(5)">Anpassen</span>
            </div>
          </div>
        </div>

        <div class="mr-tp-10" *ngIf="accummulations.luggage > 0">
          <div class="grid-flex">
            <span class="prio-1">Zusätzliches Gepäck</span>
            <span class="prio-2">{{ accummulations.luggagePrice.currency }} {{ accummulations.luggagePrice }}</span>
          </div>
          <div class="grid-flex">
            <span class="prio-1 opa-5">{{ accummulations.luggage }} Gepäckstück<ng-container *ngIf="accummulations.luggage > 1">e</ng-container></span>
          </div>
          <div>
            <span class="opa-5 no-margin underline link" (click)="goToStep(8)">Anpassen</span>
          </div>
        </div>

        <div class="mr-tp-10" *ngIf="accummulations.transportationPrice.amount > 0 && accummulations.hasTransportation">
          <div class="grid-flex">
            <span class="prio-1">Transport</span>
            <span class="prio-2">{{ accummulations.transportationPrice.currency }} {{ accummulations.transportationPrice }}</span>
          </div>
          <div>
            <span class="opa-5 no-margin underline" (click)="goToStep(9)">Anpassen</span>
          </div>
        </div>

        <div class="mr-tp-10" *ngIf="accummulations.insurancePrice.amount > 0 && accummulations.hasInsurance">
          <div class="grid-flex">
            <span class="prio-1">Versicherung</span>
            <span class="prio-2">{{ accummulations.insurancePrice.currency }} {{ accummulations.insurancePrice }}</span>
          </div>
          <div>
            <span class="opa-5 no-margin underline link" (click)="goToStep(10)">Anpassen</span>
          </div>
        </div>

        <div class="mr-tp-10 grid-flex" *ngIf="accummulations.bookingFee.amount > 0">
          <span class="prio-1">Buchungsgebühr</span>
          <span class="prio-2">{{ accummulations.bookingFee.currency }} {{ accummulations.bookingFee }}</span>
        </div>

        <hr/>

        <div class="grid-flex">
          <span class="prio-1">Gesamtbetrag</span>
          <span class="prio-2">{{ accummulations.totalPriceAmount.currency }} {{ accummulations.totalPriceAmount }}
          </span>
        </div>

        <div class="text-center mr-tp-25">
          <button class="btn btn-small btn-primary" type="next" i18n="close sidebar"
            (click)="sidebar.close()">Schliessen</button>
        </div>

      </div>
    </div>

  </ng-sidebar>

  <div ng-sidebar-content>

    <ngx-smart-modal #authModal identifier="authModal" class="auth-modal" [closable]="false" customClass="nsm-centered"
      [dismissable]="false" [escapable]="false">
      <div class="gradient-full br-rd-all pd-25 text-center">
        <app-auth (emailSentChanged)="emailSentChanged($event)" (isLoggedInChange)="isLoggedInChange($event)"
          *ngIf="!emailSent"></app-auth>
        <app-email-sent *ngIf="emailSent"></app-email-sent>
      </div>
    </ngx-smart-modal>

    <ngx-smart-modal #luggageModal identifier="luggageModal" class="luggage-modal" [closable]="false">
      <app-luggage-detail *ngIf="currentStep == 8" [accummulations]="accummulations"></app-luggage-detail>
    </ngx-smart-modal>

    <div class="nav-3 width-full grid-flex">
      <div class="left-bar prio-1"></div>
      <div class="right-bar prio-2 grid-flex std-pd-6">
        <div class="prio-1" *ngIf="currentStep < 12">
          <button (click)="moveToPreviousStep()" type="button" name="button-back" class="btn-round-pdp" i18n="sidebar next">Zurück</button>
        </div>
        <div class="prio-2 text-center">
          <p class="no-margin ft-xs">Gesamtbetrag</p>
          <p class="no-margin mr-tp-2-rev ft-xs mr-bt-1">{{ accummulations.totalPriceAmount.currency }} {{ accummulations.totalPriceAmount }}</p>
          <button [attr.disabled]="!accummulations.event ? true : null" (click)="sidebar.open()"
            class="btn btn-small btn-primary" type="next" i18n="sidebar details">Details</button>
        </div>
        <div class="prio-3" *ngIf="currentStep < 11">
          <button (click)="moveToNextStep()" type="button" name="button-next" class="btn-round-pdp"
            i18n="sidebar next">Weiter</button>
        </div>
      </div>
    </div>

    <div [style.background-image]="imageUrl" class="flex grid-canvas deal bg-cover">

      <div class="gradient-95 grid-canvas">

        <div class="gradient-20 left-bar nav-5 fl-l std-pd-6">

          <div class="width-full">

            <div class="logo-mobile">
              <a href="/">
                <img src="assets/img/logo-mobile.svg" alt="Flugio Logo Mobile">
              </a>
            </div>

            <div class="logo mr-bt-25">
              <a href="/">
                <img src="assets/img/logo.svg" alt="Flugio Logo">
              </a>
            </div>

            <div class="text-center mr-bt-25 x-mobile">
              <p class="ft-xs mr-bt-2" i18n="sidebar total">Gesamtbetrag</p>
              <p class="ft-l mr-bt-5">{{ accummulations.totalPriceAmount.currency }} {{ accummulations.totalPriceAmount }}</p>
              <button [attr.disabled]="!accummulations.event ? true : null" (click)="sidebar.open()" class="btn btn-small btn-primary" type="next" i18n="sidebar details">Details</button>
            </div>

            <div class="grid-flex mr-bt-25 x-mobile text-center">

              <div *ngIf="accummulations.startDate">
                <p class="no-margin ft-l">{{ accummulations.startDate.toDate() | date:'d': '': localeSimple}}</p>
                <p class="no-margin ft-xs">{{ accummulations?.startDate.toDate() | date:'MMM yyyy': '': localeSimple}}</p>
                <p class="no-margin ft-xs">{{ accummulations?.startDate.toDate() | date:'E hh:mm': '': localeSimple}}</p>
              </div>

              <div class="period">
                <ng-template #tipAccommodation>{{ accummulations?.numberOfNights}}
                  Nächte<br />{{(accommodation$ | async)?.name[locale]}}<br />Check-in:
                  {{ accummulations?.startDate.toDate() | date:'MMM d, y': '': localeSimple }}<br />Check-out:
                  {{ accummulations?.endDate.toDate() | date:'MMM d, y': '': localeSimple }}</ng-template>

                <ng-template #tipPeople>{{ accummulations.adults }} Erwachsene<ng-container
                    *ngIf="accummulations.adults == 1">r</ng-container><br />{{ accummulations.children }}
                  Kind<ng-container *ngIf="accummulations.children !== 1">er</ng-container>
                </ng-template>

                <p class="ft-xs no-margin">{{ accummulations?.numberOfNights}} <img src="assets/icon/icon-moon.svg" height="15" alt="Icon Moon" placement="top" [ngbTooltip]="tipAccommodation"></p>
                <div class="line-x mr-tp-bt-5"></div>
                <p class="ft-xs">{{ accummulations?.adults + accummulations?.children }} <img
                    src="assets/icon/icon-person.svg" height="15" alt="Icon Person" placement="top"
                    [ngbTooltip]="tipPeople"></p>
              </div>

              <div *ngIf="accummulations.endDate">
                <p class="no-margin ft-l">{{ accummulations?.endDate.toDate() | date:'d': '' : localeSimple}}</p>
                <p class="no-margin ft-xs">{{ accummulations?.endDate.toDate() | date:'MMM yyyy': '' : localeSimple}}</p>
                <p class="no-margin ft-xs">{{ accummulations?.endDate.toDate() | date:'E hh:mm':'': localeSimple}}</p>
              </div>

            </div>

            <div class="steps">
              <app-step-progress [currentStep]="currentStep" (currentStepChange)="goToStep($event)"></app-step-progress>
            </div>

          </div>

        </div>

        <div class="std-pd-5 right-bar scroll fl-l">
          <div>
            <div>

              <app-city *ngIf="currentStep == 0" [city]="city" [imageUrl]="imageUrl" style="width:100%;"></app-city>

              <app-accommodation *ngIf="currentStep == 1" [accommodation]="accommodation$ | async" style="width:100%;">
              </app-accommodation>

              <app-user-quantity *ngIf="currentStep == 2 && accommodation$" style="width:100%;"
                [(childrenNumber)]="accummulations.children" [(adultNumber)]="accummulations.adults"
                [accommodation]="accommodation$ | async"></app-user-quantity>

              <app-ages-children *ngIf="currentStep == 3" style="width:100%;" [accummulations]="accummulations"
                [childrenNumber]="accummulations.children" [(childrenBirthdays)]="accummulations.childrenBirthdays">
              </app-ages-children>

              <app-calendar *ngIf="currentStep == 4" style="width:100%;" [deal]="deal" [accummulations]="accummulations"
              (flightChosen)="flightChosen($event)">
              </app-calendar>

              <app-activities *ngIf="currentStep == 5" style="width:100%;" [deal]="deal"
                [startDate]="accummulations.startDate" [endDate]="accummulations.endDate" [city]="city"
                [currentActivities]="accummulations.activities" (selectedActivityChange)="selectedActivityChange($event)">
              </app-activities>

              <app-activity-detail *ngIf="currentStep == 6" style="width:100%;" [activity]="accummulations.activity"
                [adults]="accummulations.adults" [children]="accummulations.children"
                [startDate]="accummulations.startDate" [endDate]="accummulations.endDate"
                (moveToDateSelectionEvent)="moveToDateSelectionEvent($event)">
              </app-activity-detail>

              <app-activity-date *ngIf="currentStep == 7" style="width:100%;" [activity]="accummulations.activity"
                [selectedOffer]="accummulations.activityOffer" [adults]="accummulations.adults"
                [children]="accummulations.children" [startDate]="accummulations.startDate"
                [endDate]="accummulations.endDate" (selectedActivityOfferChange)="selectedActivityOfferChange($event)">
              </app-activity-date>

              <app-luggage *ngIf="currentStep == 8" style="width: 100%;"
                [luggage]="accummulations['luggage']"
                (luggageChange)="luggageChange($event)"
              ></app-luggage>

              <app-transportation *ngIf="currentStep == 9" style="width:100%;" [deal]="deal"
                [hasTransportation]="accummulations['hasTransportation']"
                [transportationPrice]="accummulations['transportationPrice']"
                (hasTransportationChange)="hasTransportationChange($event)"
                (transportationPriceChange)="transportationPriceChange($event)"></app-transportation>

              <app-insurance *ngIf="currentStep == 10" style="width:100%;"
                [totalPrice]="accummulations['totalPriceAmount']" [hasInsurance]="accummulations['hasInsurance']"
                [insurancePrice]="accummulations['insurancePrice']" (hasInsuranceChange)="hasInsuranceChange($event)"
                (insurancePriceChange)="insurancePriceChange($event)">
              </app-insurance>

              <app-user-data *ngIf="currentStep == 11" style="width:100%;" [(user)]="accummulations['contact']"
                (userContactChange)="userContactChange($event)"></app-user-data>

              <app-payment-form *ngIf="currentStep == 12" style="width:100%;"
                [amount]="accummulations['totalPriceAmount']" (stripeResult)="stripeResult($event)"
                (errorStripe)="errorStripe($event)"></app-payment-form>

              <app-success *ngIf="currentStep == 13" style="width:100%;" [accummulations]="accummulations"
                [event]="accummulations['event']" [payment]="accummulations['payment']"></app-success>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</ng-sidebar-container>