<div class="row nav-container">
  <div class="col-xl-3"></div>
  <div class="col-xl-9 nav-col">
    <div class="row">
      <div class="col-xs-4">
        <div class="btn-back-container">
          <button type="button" name="button-back" class="btn-round-pdp">Zurück</button>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="price-container-small">
          <div class="price-info">
            <p class="price-label">Gesamtbetrag</p>
            <p class="price-amount">CHF 425,46</p>
            <button class="btn btn-small btn-primary" type="next">Details</button>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="btn-next-container">
          <button type="button" name="button-next" class="btn-round-pdp">Weiter</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row pdp-container" style="background-image: url(assets/img/sample.jpg);">
  <nav class="col-xl-3 gradient-20 pdp-column-left-bar">
    <div class="row logo">
      <div class="col-xl-12">
        <div class="logo-container">
          <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
        </div>
        <div class="center-container">
          <div class="steps">
            <div class="price-container">
              <div class="price-info">
                <p class="price-label">Gesamtbetrag</p>
                <p class="price-amount">CHF 425,46</p>
                <button class="btn btn-small btn-primary" type="next">Details</button>
              </div>
            </div>
            <div class="timeline-container">
              <div class="from-to-date">
                <div class="from-date">
                  <p class="day">14</p>
                  <p class="month">Jun. 2018</p>
                  <p class="weekday">Do. 08:15</p>
                </div>
                <div class="arrow-wrapper">
                  <div class="arrow-nights">
                    <ng-template #tipAccommodation>3 Nächte<br />Hotel Bulgari<br />Check-in: Jun. 14 2018<br />Check-out: Jun. 17 2018</ng-template>
                    <ng-template #tipPeople>1 Erwachsene<br />1 Kind</ng-template>
                    <p class="nights">3 <img src="assets/icon/icon-moon.svg" height="15" alt="Icon Moon" placement="top" [ngbTooltip]="tipAccommodation"></p>
                    <p class="persons">2 <img src="assets/icon/icon-person.svg" height="15" alt="Icon Person" placement="top" [ngbTooltip]="tipPeople"></p>
                  </div>
                </div>
                <div class="to-date">
                  <p class="day">17</p>
                  <p class="month">Jun. 2018</p>
                  <p class="weekday">So. 17:30</p>
                </div>
              </div>
            </div>
            <div class="container-center-steps">
              <div class="step-one">
                <span class="active">1</span>
                <p class="active">Stadt</p>
              </div>
              <div class="step-line active"></div>
              <div class="step-two">
                <span class="current">2</span>
                <p class="current">Hotel</p>
              </div>
              <div class="step-line"></div>
              <div class="step-three">
                <span>3</span>
                <p>Flug</p>
              </div>
              <div class="step-line"></div>
              <div class="step-four">
                <span>4</span>
                <p>Aktivitäten</p>
              </div>
              <div class="step-line"></div>
              <div class="step-five">
                <span>5</span>
                <p>Zahlung</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="col-xl-9 pdp-column-right-bar">
    <div class="container">
      <div class="row pdp-row-right-bar-container">
        <!-- <div class="pdp-city-block col-xl-12">
          <div class="col-xl-12 pdp-city-block-title" style="background-image: url(assets/img/sample.jpg);">
            <div class="pdp-city-block-gradient">
              <div class="text-block">
                <h2>London</h2>
                <hr/>
                <p>Geheimnisse und Trends von London entdecken</p>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:0rem; margin-right:0rem;">
            <div class="col-xl-6 pdp-icons-block gradient">
              <div class="text-block">
                <p>Perfekt für</p>
                <div class="icon-block-one">
                  <img src="assets/icon/icon-chef.svg" width="35" height="35" alt="Chef Icon" placement="top" ngbTooltip="Gutes Essen">
                  <span></span>
                  <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Spa Icon" placement="top" ngbTooltip="Spa">
                  <span></span>
                  <img src="assets/icon/icon-cocktail.svg" width="35" height="35" alt="Cocktail Icon" placement="top" ngbTooltip="Bars">
                </div>
                <div class="icon-block-two">
                  <img src="assets/icon/icon-route.svg" width="35" height="35" alt="Route Icon" placement="top" ngbTooltip="City Tours">
                  <span></span>
                  <img src="assets/icon/icon-camera.svg" width="35" height="35" alt="Camera Icon" placement="top" ngbTooltip="Schöne Gebäuden">
                </div>
              </div>
            </div>
            <div class="col-xl-6 pdp-review-block gradient">
              <div class="text-block">
                <p>"Die Stadt bietet einfach alles! Shopping und Sightseeing"</p>
                <div class="avatar-block">
                  <img src="assets/img/avatar.jpg" width="75" height="75" alt="Review Avatar" class="avatar gradient">
                  <p class="avatar-name">John Doe</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 pdp-block-one gradient">
          </div>
          <div class="row" style="margin-left:0rem; margin-right:0rem;">
            <div class="col-xl-6 pdp-block-one gradient">
            </div>
            <div class="col-xl-6 pdp-block-one gradient">
            </div>
          </div>
        </div> -->
        <div class="pdp-user-quantity-block">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-user-quantity">Für wieviele Personen ist die Reise?</p>
                </div>
              </div>
              <div class="row">
                <div class="user-quantity-button-wrapper">
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">1</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out active" type="next">
                      <span class="button-number-day">2</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">3</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">4</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">5</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">6</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="pdp-user-age-block">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-user-age">Am den gewünschte Reisedatum, sind alle Personen älter als 18?</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-md-2">
                  <button class="btn-press fade-in-out active" type="next">
                    <span class="button-number-day">Ja</span>
                  </button>
                </div>
                <div class="col-md-2">
                  <button class="btn-press fade-in-out" type="next">
                    <span class="button-number-day">Nein</span>
                  </button>
                </div>
                <div class="col-sm-4">
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-user-data-block">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-user-age">Wie können wir mit dir Kontakt aufnehmen?</p>
                </div>
              </div>
              <div class="row user-data-form">
                <div class="col-sm-2"></div>
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-lg-6">
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Vorname">
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-6">
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nachname">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="E-Mail-Addresse">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Telefonnummer">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-activity-block col-xl-12">
          <div class="row activity-row">
            <div class="col-xl-12 activity-col" style="background-image: url(assets/img/sample.jpg);">
              <div class="activity-card">
                <div class="row first-row">
                  <div class="col-md-6">
                    <div class="activity-card-title">
                      <h2>London Library</h2>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service">
                      <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
                      <p>Ohne Anstehen</p>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-md-6">
                    <div class="activity-card-description">
                      <p>Die Weltweit grösste Bibliothek ab CHF 33</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="activity-card-button">
                      <button class="btn btn-full btn-primary" type="next">Anschauen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row activity-row">
            <div class="col-xl-12 activity-col" style="background-image: url(assets/img/sample.jpg);">
              <div class="activity-card">
                <div class="row first-row">
                  <div class="col-md-6">
                    <div class="activity-card-title">
                      <h2>London Library</h2>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service">
                      <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
                      <p>Ohne Anstehen</p>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-md-6">
                    <div class="activity-card-description">
                      <p>Die Weltweit grösste Bibliothek ab CHF 33</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="activity-card-button">
                      <button class="btn btn-full btn-primary" type="next">Anschauen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row activity-row">
            <div class="col-xl-12 activity-col" style="background-image: url(assets/img/sample.jpg);">
              <div class="activity-card">
                <div class="row first-row">
                  <div class="col-md-6">
                    <div class="activity-card-title">
                      <h2>London Library</h2>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service">
                      <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
                      <p>Ohne Anstehen</p>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-md-6">
                    <div class="activity-card-description">
                      <p>Die Weltweit grösste Bibliothek ab CHF 33</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="activity-card-button">
                      <button class="btn btn-full btn-primary" type="next">Anschauen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-payment-block">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-payment">Was sind deine Kreditkarte Einzelheiten?</p>
                </div>
              </div>
              <div class="row payment-form">
                <div class="col-sm-2"></div>
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-lg-12">
                      <form>
                        <div class="form-group number">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nummer">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <form>
                        <div class="form-group name">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <form>
                        <div class="form-group month">
                          <select>
                            <option value="" selected disabled hidden>Monat</option>
                            <option value="1">Januar</option>
                            <option value="2">Februar</option>
                            <option value="3">März</option>
                            <option value="4">April</option>
                            <option value="5">Mai</option>
                            <option value="6">Juni</option>
                            <option value="7">Juli</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">Oktober</option>
                            <option value="11">November</option>
                            <option value="12">Dezember</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-4">
                      <form>
                        <div class="form-group year">
                          <select>
                            <option value="" selected disabled hidden>Jahr</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-4">
                      <form>
                        <div class="form-group cvv">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="CVV">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-trust"><img src="assets/icon/icon-lock.svg" width="13" alt="Icon Lock" class="icon-lock">Sicheres Einkaufen durch Stripe</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-onboard-block">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-onboard">Yolo! Für nur CHF 39 bekommst du eine Flasche Champagne im Flugzeug</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-md-4">
                  <button class="btn-icon-press fade-in-out active" type="next">
                    <img src="assets/icon/icon-smile.svg" height="45" alt="Icon Smile">
                    <p>Mit</p>
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn-icon-press fade-in-out" type="next">
                    <img src="assets/icon/icon-cry.svg" height="45" alt="Icon Cry">
                    <p>Ohne</p>
                  </button>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-insurance-block">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-insurance">Eine Versicherung für nur CHF 25.56 schützt dich vor hohen Annullierungskosten<img src="assets/icon/tooltip.svg" height="19" alt="Icon Umbrella" placement="top" ngbTooltip="Text for more information about the insurance"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-md-4">
                  <button class="btn-icon-press fade-in-out active" type="next">
                    <img src="assets/icon/icon-umbrella.svg" height="45" alt="Icon Umbrella">
                    <p>Mit</p>
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn-icon-press fade-in-out" type="next">
                    <img src="assets/icon/icon-cloud-rain.svg" height="45" alt="Icon Cloud Rain">
                    <p>Ohne</p>
                  </button>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-success-block">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row first-row">
                <div class="col-xl-12">
                  <div class="success-icon">
                    <img src="assets/icon/icon-cocktail.svg" height="58" alt="Icon Cocktail">
                  </div>
                </div>
              </div>
              <div class="row second-row">
                <div class="col-xl-12">
                  <p class="label-success">Entspann weil deine Reise ist gebucht!<br />Du bekommst noch ein E-Mail mit alle Details<img src="assets/icon/tooltip.svg" height="19" alt="Icon Umbrella" placement="top" ngbTooltip="Innerhalb drei Tagen kontaktieren wir dich noch um alles noch kurz zu prüfen"></p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
