<sidebar-js [sidebarjsConfig]="{position: 'left', backdropOpacity: 0}">
  <div class="sidebarjs-center-container" style="display: flex; align-items: center; flex-wrap: wrap; height: 100%;">
    <div class="sidebarjs-center-container-content" style="width:100%; float: left; clear: both;">
      <div class="content-block price-title">
        <p>Übersicht</p>
        <hr class="price-hr"/>
      </div>
      <div  class="content-block">
        <p class="price-label">Teilnehmer - 3. April 1988</p>
        <p class="price-amount">CHF 189</p>
      </div>
      <div class="content-block">
        <p class="price-label">Teilnehmer - 2. Juni 2017</p>
        <p class="price-amount">CHF 149</p>
      </div>
      <div class="content-block">
        <p class="price-label">2 x Aufgabegepäck bis 20 kg</p>
        <p class="price-amount">CHF 120</p>
      </div>
      <div class="content-block">
        <p class="price-label">Annullierungskosten-Versicherung</p>
        <p class="price-amount">CHF 49</p>
      </div>
      <div class="content-block">
        <p class="price-label">Buchungsgebühr</p>
        <p class="price-amount">CHF 19</p>
      </div>
      <div class="content-block price-total">
        <hr class="total-hr"/>
        <p class="price-label">Insgesamt</p>
        <p class="price-amount">CHF 526</p>
      </div>
      <div class="content-block sidebarjs-close-button">
        <button sidebarjsClose class="btn btn-small btn-primary" type="next">Schliessen</button>
      </div>
    </div>
  </div>
</sidebar-js>
<div class="row nav-container">
  <div class="col-xl-3"></div>
  <div class="col-xl-9 nav-col">
    <div class="row">
      <div class="col-xs-4">
        <div class="btn-back-container">
          <button type="button" name="button-back" class="btn-round-pdp">Zurück</button>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="price-container-small">
          <div class="price-info">
            <p class="price-label">Gesamtbetrag</p>
            <p class="price-amount">CHF 526</p>
            <button sidebarjsOpen class="btn btn-small btn-primary" type="next">Details</button>
          </div>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="btn-next-container">
          <button type="button" name="button-next" class="btn-round-pdp">Weiter</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row pdp-container" style="background-image: url(assets/img/100001_1.jpg);">
  <nav class="col-xl-3 gradient-20 pdp-column-left-bar">
    <div class="row logo">
      <div class="col-xl-12">
        <div class="logo-container">
          <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
        </div>
        <div class="center-container">
          <div class="steps">
            <div class="price-container">
              <div class="price-info">
                <p class="price-label">Gesamtbetrag</p>
                <p class="price-amount">CHF 526</p>
                <button sidebarjsOpen class="btn btn-small btn-primary" type="next">Details</button>
              </div>
            </div>
            <div class="timeline-container">
              <div class="from-to-date">
                <div class="from-date">
                  <p class="day">14</p>
                  <p class="month">Jun. 2018</p>
                  <p class="weekday">Do. 08:15</p>
                </div>
                <div class="arrow-wrapper">
                  <div class="arrow-nights">
                    <ng-template #tipAccommodation>3 Nächte<br />Hotel Bulgari<br />Check-in: Jun. 14 2018<br />Check-out: Jun. 17 2018</ng-template>
                    <ng-template #tipPeople>1 Erwachsene<br />1 Kind</ng-template>
                    <p class="nights">3 <img src="assets/icon/icon-moon.svg" height="15" alt="Icon Moon" placement="top" [ngbTooltip]="tipAccommodation"></p>
                    <p class="persons">2 <img src="assets/icon/icon-person.svg" height="15" alt="Icon Person" placement="top" [ngbTooltip]="tipPeople"></p>
                  </div>
                </div>
                <div class="to-date">
                  <p class="day">17</p>
                  <p class="month">Jun. 2018</p>
                  <p class="weekday">So. 17:30</p>
                </div>
              </div>
            </div>
            <div class="container-center-steps">
              <div class="step-one">
                <span class="active">1</span>
                <p class="active">Stadt</p>
              </div>
              <div class="step-line active"></div>
              <div class="step-two">
                <span class="current">2</span>
                <p class="current">Hotel</p>
              </div>
              <div class="step-line"></div>
              <div class="step-three">
                <span>3</span>
                <p>Flug</p>
              </div>
              <div class="step-line"></div>
              <div class="step-four">
                <span>4</span>
                <p>Aktivitäten</p>
              </div>
              <div class="step-line"></div>
              <div class="step-five">
                <span>5</span>
                <p>Zahlung</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <section class="col-xl-9 pdp-column-right-bar">
    <div class="container">
      <div class="row pdp-row-right-bar-container">
        <!-- <div class="pdp-city-block col-xl-12">
          <div class="col-xl-12 pdp-city-block-title" style="background-image: url(assets/img/100001_1.jpg);">
            <div class="pdp-city-block-gradient">
              <div class="text-block">
                <h2>London</h2>
                <hr/>
                <p>Geheimnisse und Trends von London entdecken</p>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:0rem; margin-right:0rem;">
            <div class="col-xl-6 pdp-icons-block gradient">
              <div class="text-block">
                <p>Perfekt für</p>
                <div class="icon-block-one">
                  <img src="assets/icon/icon-chef.svg" width="35" height="35" alt="Chef Icon" placement="top" ngbTooltip="Gutes Essen">
                  <span></span>
                  <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Spa Icon" placement="top" ngbTooltip="Spa">
                  <span></span>
                  <img src="assets/icon/icon-cocktail.svg" width="35" height="35" alt="Cocktail Icon" placement="top" ngbTooltip="Bars">
                </div>
                <div class="icon-block-two">
                  <img src="assets/icon/icon-route.svg" width="35" height="35" alt="Route Icon" placement="top" ngbTooltip="City Tours">
                  <span></span>
                  <img src="assets/icon/icon-camera.svg" width="35" height="35" alt="Camera Icon" placement="top" ngbTooltip="Schöne Gebäuden">
                </div>
              </div>
            </div>
            <div class="col-xl-6 pdp-review-block gradient">
              <div class="text-block">
                <p>"Die Stadt bietet einfach alles! Shopping und Sightseeing"</p>
                <div class="avatar-block">
                  <img src="assets/img/avatar.jpg" width="75" height="75" alt="Review Avatar" class="avatar gradient">
                  <p class="avatar-name">John Doe</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 pdp-block-one gradient">
          </div>
          <div class="row" style="margin-left:0rem; margin-right:0rem;">
            <div class="col-xl-6 pdp-block-one gradient">
            </div>
            <div class="col-xl-6 pdp-block-one gradient">
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-accommodation-block col-xl-12">
          <div class="col-xl-12 pdp-accommodation-block-title" style="background-image: url(assets/img/200001_1.jpg);">
            <div class="pdp-accommodation-block-gradient">
              <div class="text-block">
                <h2>Bulgari Hotel</h2>
                <hr/>
                <p>Zeitloser Glanz in London</p>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:0rem; margin-right:0rem;">
            <div class="col-xl-6 pdp-icons-block gradient">
              <div class="text-block">
                <p>Beliebteste Ausstattungen</p>
                <div class="icon-block-one">
                  <img src="assets/icon/icon-chef.svg" width="35" height="35" alt="Chef Icon" placement="top" ngbTooltip="Gutes Essen">
                  <span></span>
                  <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Spa Icon" placement="top" ngbTooltip="Spa">
                  <span></span>
                  <img src="assets/icon/icon-cocktail.svg" width="35" height="35" alt="Cocktail Icon" placement="top" ngbTooltip="Bars">
                </div>
                <div class="icon-block-two">
                  <img src="assets/icon/icon-route.svg" width="35" height="35" alt="Route Icon" placement="top" ngbTooltip="City Tours">
                  <span></span>
                  <img src="assets/icon/icon-camera.svg" width="35" height="35" alt="Camera Icon" placement="top" ngbTooltip="Schöne Gebäuden">
                </div>
              </div>
            </div>
            <div class="col-xl-6 pdp-review-block gradient">
              <div class="text-block">
                <p>"Lage und Ausstattung sind super. Sehr Freundlich!"</p>
                <div class="avatar-block">
                  <img src="assets/img/avatar.jpg" width="75" height="75" alt="Review Avatar" class="avatar gradient">
                  <p class="avatar-name">Mathias Inhelder</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 pdp-accommodation-description-block" style="background-image: url(assets/img/200001_1.jpg);">
            <div class="pdp-accommodation-description-block-gradient">
              <div class="text-block">
                <p>Im Herzen von Knightsbridge bietet das Bulgari Hotel, London 85 wunderschöne, geräumige Zimmer und Suiten, eine elegante Bar und ein Restaurant, einen 25 m langen Pool, ein eigenes Kino und einen faszinierenden Ballsaal. Freuen Sie sich darüber hinaus auf einen preisgekrönten Wellnessbereich und ein Fitnesscenter in der Unterkunft.</p>
              </div>
            </div>
          </div>
          <div class="col-xl-12 pdp-accommodation-review-block gradient">
            <div class="text-block">
              <p>Bewertung Tripadvisor</p>
              <div class="icon-block-one">
                <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Chef Icon" placement="top" ngbTooltip="Gutes Essen">
                <span></span>
                <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Spa Icon" placement="top" ngbTooltip="Spa">
                <span></span>
                <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Cocktail Icon" placement="top" ngbTooltip="Bars">
                <span></span>
                <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Route Icon" placement="top" ngbTooltip="City Tours">
                <span></span>
                <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Camera Icon" placement="top" ngbTooltip="Schöne Gebäuden">
              </div>
              <p class="rating-number">4.7 aus 5</p>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-user-quantity-block col-xl-12">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-user-quantity">Anzahl der Personen</p>
                </div>
              </div>
              <div class="row">
                <div class="user-quantity-button-wrapper">
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">1</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out active" type="next">
                      <span class="button-number-day">2</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">3</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">4</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">5</span>
                    </button>
                  </div>
                  <div class="button-quantity">
                    <button class="btn-press fade-in-out" type="next">
                      <span class="button-number-day">6</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-user-age-block col-xl-12">
          <div class="center-wrap">
            <div>
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-user-age">Am den gewünschte Reisedatum, sind alle Personen älter als 18?</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-md-2">
                  <button class="btn-press fade-in-out active" type="next">
                    <span class="button-number-day">Ja</span>
                  </button>
                </div>
                <div class="col-md-2">
                  <button class="btn-press fade-in-out" type="next">
                    <span class="button-number-day">Nein</span>
                  </button>
                </div>
                <div class="col-sm-4">
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-calendar-block col-xl-12">
          <div class="center-wrap">
            <div class="col-xl-12">
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-calendar">Wählen Sie ein Reisedatum</p>
                </div>
              </div>
              <div class="row filters">
                <div style="margin:0 auto;">
                  <div style="float:left;" class="wrapper-airport">
                    <form>
                      <div class="form-group airport">
                        <select>
                          <option value="" selected disabled hidden>Flughafen</option>
                          <option value="1">Zürich</option>
                          <option value="2">Basel</option>
                        </select>
                      </div>
                    </form>
                  </div>
                  <span class="calendar-span"></span>
                  <div style="float:right;" class="wrapper-nights">
                    <form>
                      <div class="form-group nights">
                        <select>
                          <option value="" selected disabled hidden>Nächte</option>
                          <option value="1">3 Nächte</option>
                          <option value="2">4 Nächte</option>
                        </select>
                      </div>
                    </form>
                  </div>
              </div>
              </div>
              <div class="row">
                <div class="calendar-wrapper">
                  <owl-date-time-inline [pickerType]="'calendar'"></owl-date-time-inline>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="pdp-activity-block col-xl-12">
          <div class="activity-row">
            <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300001_1.jpg);">
              <div class="activity-card">
                <div class="row first-row">
                  <div class="col-md-6">
                    <div class="activity-card-title">
                      <h2>Buckingham Palace</h2>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service">
                      <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
                      <p>Ohne Anstehen</p>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-md-6">
                    <div class="activity-card-description">
                      <p>Königlichen Staatsgemächer im Herzen des Buckingham Palace ab CHF 33</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="activity-card-button">
                      <button class="btn btn-full btn-primary" type="next">Anschauen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="activity-row">
            <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300002_1.jpg);">
              <div class="activity-card">
                <div class="row first-row">
                  <div class="col-md-6">
                    <div class="activity-card-title">
                      <h2>Tower of London</h2>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service">
                      <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
                      <p>Ohne Anstehen</p>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-md-6">
                    <div class="activity-card-description">
                      <p>Eintritt mit der Kronjuwelen-Ausstellung ab CHF 29</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="activity-card-button">
                      <button class="btn btn-full btn-primary" type="next">Anschauen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="activity-row">
            <div class="col-xl-12 activity-col" style="background-image: url(assets/img/300003_1.jpg);">
              <div class="activity-card">
                <div class="row first-row">
                  <div class="col-md-6">
                    <div class="activity-card-title">
                      <h2>Harry Potter Tour</h2>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="service">
                      <img src="assets/icon/icon-no-waiting.svg" width="20" alt="No Waiting Icon" class="icon">
                      <p>Ohne Anstehen</p>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-md-6">
                    <div class="activity-card-description">
                      <p>Tagestour mit Transfer ab Downtown London hinter die Kulissen ab CHF 36</p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="activity-card-button">
                      <button class="btn btn-full btn-primary" type="next">Anschauen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="pdp-activity-detail-block col-xl-12">
          <div class="col-xl-12 pdp-activity-detail-block-title" style="background-image: url(assets/img/300001_1.jpg);">
            <div class="pdp-activity-detail-block-gradient">
              <div class="text-block">
                <h2>Buckingham Palace</h2>
                <hr/>
                <p>Staatsgemächer</p>
              </div>
            </div>
          </div>
          <div class="row" style="margin-left:0rem; margin-right:0rem;">
            <div class="col-xl-6 pdp-icons-block gradient">
              <div class="text-block">
                <p>Perfekt für</p>
                <div class="icon-block-one">
                  <img src="assets/icon/icon-chef.svg" width="35" height="35" alt="Chef Icon" placement="top" ngbTooltip="Gutes Essen">
                  <span></span>
                  <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Spa Icon" placement="top" ngbTooltip="Spa">
                  <span></span>
                  <img src="assets/icon/icon-cocktail.svg" width="35" height="35" alt="Cocktail Icon" placement="top" ngbTooltip="Bars">
                </div>
                <div class="icon-block-two">
                  <img src="assets/icon/icon-route.svg" width="35" height="35" alt="Route Icon" placement="top" ngbTooltip="City Tours">
                  <span></span>
                  <img src="assets/icon/icon-camera.svg" width="35" height="35" alt="Camera Icon" placement="top" ngbTooltip="Schöne Gebäuden">
                </div>
              </div>
            </div>
            <div class="col-xl-6 pdp-review-block gradient">
              <div class="text-block">
                <p>"Die Stadt bietet einfach alles! Shopping und Sightseeing"</p>
                <div class="avatar-block">
                  <img src="assets/img/avatar.jpg" width="75" height="75" alt="Review Avatar" class="avatar gradient">
                  <p class="avatar-name">John Doe</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 pdp-block-one gradient">
          </div>
          <div class="row" style="margin-left:0rem; margin-right:0rem;">
            <div class="col-xl-6 pdp-block-one gradient">
            </div>
            <div class="col-xl-6 pdp-block-one gradient">
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-activity-option-block col-xl-12">
          <div class="row title-row">
            <div class="col-xl-12">
              <div>
                <h2>Datum und Teilnehmer</h2>
              </div>
            </div>
          </div>
          <div class="row selection-row">
            <div class="col-xl-4">
              <form>
                <div class="form-group month">
                  <select>
                    <option value="" selected disabled hidden>Datum</option>
                    <option value="1">Januar</option>
                    <option value="2">Februar</option>
                    <option value="3">März</option>
                    <option value="4">April</option>
                    <option value="5">Mai</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Dezember</option>
                  </select>
                </div>
              </form>

            </div>
            <div class="col-xl-4">
              <form>
                <div class="form-group date">
                  <select>
                    <option value="" selected disabled hidden>Teilnehmer</option>
                    <option value="1">Januar</option>
                    <option value="2">Februar</option>
                    <option value="3">März</option>
                    <option value="4">April</option>
                    <option value="5">Mai</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Dezember</option>
                  </select>
                </div>
              </form>
            </div>
            <div class="col-xl-4">
              <button class="btn btn-full btn-primary" type="next">Anschauen</button>
            </div>
          </div>
          <div class="activity-option-row">
            <div class="col-xl-12 activity-col">
              <div class="activity-detail-card">
                <div class="row first-row">
                  <div class="col-sm-12">
                    <div>
                      <h2>Einlass am Morgen</h2>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-6">
                    <div>
                      <p>Öffnungszeiten</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div>
                      <p class="right-align">Gesamtpreis</p>
                    </div>
                  </div>
                </div>
                <div class="row third-row">
                  <div class="col-6">
                    <div>
                      <p>09:00 - 12:00</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div>
                      <p class="right-align">24 CHF</p>
                    </div>
                  </div>
                </div>
                <div class="row fourth-row">
                  <div class="col-xl-12">
                    <div class="activity-card-title">
                      <button class="btn btn-full btn-secondary" type="next">Hinfügen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="activity-option-row">
            <div class="col-xl-12 activity-col">
              <div class="activity-detail-card">
                <div class="row first-row">
                  <div class="col-sm-12">
                    <div>
                      <h2>Einlass am Morgen</h2>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-6">
                    <div>
                      <p>Öffnungszeiten</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div>
                      <p class="right-align">Gesamtpreis</p>
                    </div>
                  </div>
                </div>
                <div class="row third-row">
                  <div class="col-6">
                    <div>
                      <p>09:00 - 12:00</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div>
                      <p class="right-align">24 CHF</p>
                    </div>
                  </div>
                </div>
                <div class="row fourth-row">
                  <div class="col-xl-12">
                    <div class="activity-card-title">
                      <button class="btn btn-full btn-secondary" type="next">Hinfügen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="activity-option-row">
            <div class="col-xl-12 activity-col">
              <div class="activity-detail-card">
                <div class="row first-row">
                  <div class="col-sm-12">
                    <div>
                      <h2>Einlass am Morgen</h2>
                    </div>
                  </div>
                </div>
                <div class="row second-row">
                  <div class="col-6">
                    <div>
                      <p>Öffnungszeiten</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div>
                      <p class="right-align">Gesamtpreis</p>
                    </div>
                  </div>
                </div>
                <div class="row third-row">
                  <div class="col-6">
                    <div>
                      <p>09:00 - 12:00</p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div>
                      <p class="right-align">24 CHF</p>
                    </div>
                  </div>
                </div>
                <div class="row fourth-row">
                  <div class="col-xl-12">
                    <div class="activity-card-title">
                      <button class="btn btn-full btn-secondary" type="next">Hinfügen</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-onboard-block col-xl-12">
          <div class="center-wrap">
            <div>
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-onboard">Yolo! Für nur CHF 39 bekommst du eine Flasche Champagne im Flugzeug</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-md-4">
                  <button class="btn-icon-press fade-in-out active" type="next">
                    <img src="assets/icon/icon-smile.svg" height="45" alt="Icon Smile">
                    <p>Mit</p>
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn-icon-press fade-in-out" type="next">
                    <img src="assets/icon/icon-cry.svg" height="45" alt="Icon Cry">
                    <p>Ohne</p>
                  </button>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-insurance-block col-xl-12">
          <div class="center-wrap">
            <div>
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-insurance">Eine Versicherung für nur CHF 25.56 schützt dich vor hohen Annullierungskosten<img src="assets/icon/tooltip.svg" height="19" alt="Icon Umbrella" placement="top" ngbTooltip="Text for more information about the insurance"></p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-md-4">
                  <button class="btn-icon-press fade-in-out active" type="next">
                    <img src="assets/icon/icon-umbrella.svg" height="45" alt="Icon Umbrella">
                    <p>Mit</p>
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn-icon-press fade-in-out" type="next">
                    <img src="assets/icon/icon-cloud-rain.svg" height="45" alt="Icon Cloud Rain">
                    <p>Ohne</p>
                  </button>
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-user-data-block col-xl-12">
          <div class="center-wrap">
            <div>
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-user-age">Persönliche Angaben</p>
                </div>
              </div>
              <div class="row user-data-form">
                <div class="col-sm-2"></div>
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-lg-6">
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Vorname">
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-6">
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nachname">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="E-Mail-Addresse">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Telefonnummer">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-payment-block col-xl-12">
          <div class="center-wrap">
            <div>
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-payment">Was sind deine Kreditkarte Einzelheiten?</p>
                </div>
              </div>
              <div class="row payment-form">
                <div class="col-sm-2"></div>
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-lg-12">
                      <form>
                        <div class="form-group number">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nummer">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <form>
                        <div class="form-group name">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name">
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <form>
                        <div class="form-group month">
                          <select>
                            <option value="" selected disabled hidden>Monat</option>
                            <option value="1">Januar</option>
                            <option value="2">Februar</option>
                            <option value="3">März</option>
                            <option value="4">April</option>
                            <option value="5">Mai</option>
                            <option value="6">Juni</option>
                            <option value="7">Juli</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">Oktober</option>
                            <option value="11">November</option>
                            <option value="12">Dezember</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-4">
                      <form>
                        <div class="form-group year">
                          <select>
                            <option value="" selected disabled hidden>Jahr</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="col-lg-4">
                      <form>
                        <div class="form-group cvv">
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="CVV">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <div class="row">
                <div class="col-xl-12">
                  <p class="label-trust"><img src="assets/icon/icon-lock.svg" width="13" alt="Icon Lock" class="icon-lock">Sicheres Einkaufen durch Stripe</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="pdp-success-block col-xl-12">
          <div class="center-wrap">
            <div>
              <div class="row first-row">
                <div class="col-xl-12">
                  <div class="success-icon">
                    <img src="assets/icon/icon-cocktail.svg" height="58" alt="Icon Cocktail">
                  </div>
                </div>
              </div>
              <div class="row second-row">
                <div class="col-xl-12">
                  <p class="label-success">Entspann weil deine Reise ist gebucht!<br />Du bekommst noch ein E-Mail mit alle Details<img src="assets/icon/tooltip.svg" height="19" alt="Icon Umbrella" placement="top" ngbTooltip="Innerhalb drei Tagen kontaktieren wir dich noch um alles noch kurz zu prüfen"></p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
