<div class="row nav-container">
  <div class="col-xl-3"></div>
  <div class="col-xl-9 nav-col">
    <div class="btn-back-container">
      <button type="button" name="button-back" class="btn-round-pdp">Zurück</button>
    </div>
    <div class="btn-next-container">
      <button type="button" name="button-next" class="btn-round-pdp">Weiter</button>
    </div>
  </div>
</div>
<div class="row pdp-container" style="background-image: url(assets/img/sample.jpg);">
  <nav class="col-xl-3 gradient-20 pdp-column-left-bar">
    <div class="row logo">
      <div class="col-xl-12">
        <div class="logo-container">
          <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
        </div>
        <div class="center-container">
          <nav class="steps">
            <div class="step-one">
              <span class="active">1</span>
              <p class="active">Stadt</p>
            </div>
            <div class="step-line active"></div>
            <div class="step-two">
              <span class="active">2</span>
              <p class="active">Hotel</p>
            </div>
            <div class="step-line"></div>
            <div class="step-three">
              <span>3</span>
              <p>Flug</p>
            </div>
            <div class="step-line"></div>
            <div class="step-four">
              <span>4</span>
              <p>Aktivitäten</p>
            </div>
            <div class="step-line"></div>
            <div class="step-five">
              <span>5</span>
              <p>Zahlung</p>
            </div>
          </nav>
      </div>
      </div>
    </div>
  </nav>
  <section class="col-xl-9 pdp-column-right-bar">
    <div class="container">
      <div class="row pdp-row-right-bar-container">
        <div class="col-xl-12 pdp-city-block-title" style="background-image: url(assets/img/sample.jpg);">
          <div class="pdp-city-block-gradient">
            <div class="text-block">
              <h2>London</h2>
              <hr/>
              <p>Geheimnisse und Trends von London entdecken</p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 pdp-icons-block gradient">
          <div class="text-block">
            <p>Perfekt für</p>
            <div class="icon-block-one">
              <img src="assets/icon/icon-chef.svg" width="35" height="35" alt="Chef Icon" placement="top" ngbTooltip="Gutes Essen">
              <span></span>
              <img src="assets/icon/icon-spa.svg" width="35" height="35" alt="Spa Icon" placement="top" ngbTooltip="Spa">
              <span></span>
              <img src="assets/icon/icon-cocktail.svg" width="35" height="35" alt="Cocktail Icon" placement="top" ngbTooltip="Bars">
            </div>
            <div class="icon-block-two">
              <img src="assets/icon/icon-route.svg" width="35" height="35" alt="Route Icon" placement="top" ngbTooltip="City Tours">
              <span></span>
              <img src="assets/icon/icon-camera.svg" width="35" height="35" alt="Camera Icon" placement="top" ngbTooltip="Schöne Gebäuden">
            </div>
          </div>
        </div>
        <div class="col-xl-6 pdp-review-block gradient">
          <div class="text-block">
            <p>"Der Stadt hat einfach alles! Shopping und Sightseeing"</p>
            <div class="avatar-block">
              <img src="assets/img/avatar.jpg" width="75" height="75" alt="Review Avatar" class="avatar gradient">
              <p class="avatar-name">John Doe</p>
            </div>
          </div>
        </div>
        <div class="col-xl-12 pdp-block-one gradient">
        </div>
        <div class="col-xl-6 pdp-block-one gradient">
        </div>
        <div class="col-xl-6 pdp-block-one gradient">
        </div>
      </div>
    </div>
  </section>
</div>
