<div class="pdp-activity-detail-block col-xl-12">
    <div class="col-xl-12 pdp-activity-detail-block-title" [style.background-image]="imageUrl">
      <div class="pdp-activity-detail-block-gradient">
        <div class="text-block">
          <h2>{{ activity?.name[locale] }}</h2>
          <hr/>
          <p>{{ activity?.description[locale] }}</p>
        </div>
      </div>
    </div>

    <div class="row" style="margin-left:0rem; margin-right:0rem;">
      <div class="col-xl-6 pdp-icons-block gradient">
        <div class="text-block">
          <p i18n="perfect for">ab {{ price.currency }} {{ price.toDecimal() }} für<br>
            {{ adults }} Erwachsene<ng-container *ngIf="adults == 1">r</ng-container>
            <ng-container *ngIf="children > 0">
              und {{ children }} Kind<ng-container *ngIf="children !== 1">er</ng-container>
            </ng-container>
          </p>
          <button class="btn btn-small btn-primary" type="next" (click)="moveToDateSelection()">Datum wählen</button>
        </div>
      </div>
      <div class="col-xl-6" style="padding-left:0; padding-right:0;">
        <app-rating [rating]="activity?.rating"></app-rating>
      </div>
    </div>

    <div class="row" style="margin-left:0rem; margin-right:0rem;">
      <div class="col-xl-12 pdp-activity-detail-description-block" [style.background-image]="imageUrl">
        <div class="pdp-activity-detail-description-block-gradient">
          <div class="text-block">
            <p>{{ activity?.overview[locale] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-left:0rem; margin-right:0rem;">
      <div class="col-xl-12 pdp-activity-detail-languages-block gradient">
        <div>
          <div *ngIf="languageList" class="text-block">
            <p class="label">Lass dich von einem der Audioguides führen</p>
            <app-language [language]="language" *ngFor="let language of languageList"></app-language>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-left:0rem; margin-right:0rem;">
      <div class="col-xl-6 pdp-review-block gradient">
        <app-review [review]="activity?.review" style="width:100%;"></app-review>
      </div>
      <div class="col-xl-6 pdp-icons-block gradient">
        <div class="text-block">
            <p class="label-activity-duration" i18n="activity duration">Für diese Aktivität benötigst du ungefähr</p>
            <p class="activity-duration">{{ activity?.duration }}</p>
            <p i18n="activity minutes">Minuten</p>
        </div>
      </div>
    </div>

    <div class="row" style="margin-left:0rem; margin-right:0rem;">
      <div class="col-xl-12 pdp-activity-detail-butler-block gradient">
        <div class="butler-container">
          <div class="butler-image"><img src="assets/img/avatar-round-notification@2x.png" alt="Butler Flugio">
          </div>
          <div class="butler-text"><span>{{ activity?.advice[locale] }}</span></div>
        </div>
      </div>
    </div>

</div>
