.section-data-protection {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2.5rem;
  height:75vh;
  overflow: scroll;
  letter-spacing: .05rem;
}

.section-data-protection:after {
  content: "";
  display: block;
  height: 2.5rem;
  width: 100%;
}

.section-data-protection ul {
  padding-left: 1rem;
}

@media only screen and (min-width: 1200px) {
  .section-data-protection {
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 5rem;
  }

  .section-data-protection:after {
  content: "";
  display: block;
  height: 5rem;
  width: 100%;
}
}
