<header class="row gradient">
  <div class="col-xl-12 cms-block-title" style="background-image: url(assets/img/100001_1.jpg);">
    <div class="cms-block-gradient">
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-xl-12 logo-container">
          <a href="/">
            <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
          </a>
        </div>
      </div>
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-xl-12 text-block">
          <h2>Reiseführer</h2>
          <hr/>
          <p>Reiseführer als perfekter Urlaubsbegleiter</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row">
</div>

<app-footer></app-footer>
