.order-document-data-line .document-label p {
  white-space: nowrap;
  line-height: 2.55;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: .07rem;
}

.order-document-data-line .document-button a {
  line-height: 1.75;
}
