<header class="row travel-guide-title gradient">
  <div class="travel-guide-gradient" style="background-image: linear-gradient(to bottom right, rgba(19, 78, 94, .5) 0%, rgba(77, 131, 132, .5) 100%), url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F4_00002_1.jpg?alt=media&token=75447f74-500b-4f58-b0b9-61c3afa47a81'); background-size: cover; background-position: center; width:100%;">
    <div>
      <div class="col-xl-12 logo">
        <a href="/">
          <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
        </a>
      </div>
      <div class="col-xl-12 text-block">
        <h2>Amsterdam</h2>
        <hr/>
        <p>Fahren entlang historischer Kanäle</p>
      </div>
    </div>
  </div>
</header>

<div class="row travel-guide-icons gradient-full">
  <div class="col-lg-4">
    <div class="icon">
      <img src="assets/icon/icon-route.svg" height="50" width="50" alt="Icon Cocktail">
    </div>
    <div class="text">
      <p class="description">Stundenlang durch das Herz von Amsterdam schlendern</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="icon">
      <img src="assets/icon/icon-activities.svg" height="50" width="50" alt="Icon Cocktail">
    </div>
    <div class="text">
      <p class="description">Amsterdam ist berühmt für seine Gemütlichkeit</p>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="icon">
      <img src="assets/icon/icon-cocktail.svg" height="50" width="50" alt="Icon Cocktail">
    </div>
    <div class="text">
      <p class="description">Um jede Ecke gibt es eine gemütliche Bar</p>
    </div>
  </div>
</div>

<div class="row travel-guide-overview">
  <div class="col-lg-4 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/activities%2F2-00002-1.jpg?alt=media&token=4c42fdd1-cb54-4748-9492-4bf82e16e9ff');">
    <div class="travel-guide-overview-gradient">
    </div>
  </div>
  <div class="col-lg-8 content-col">
    <div class="gradient-full">
      <div class="content-block">
        <p>Amsterdams kanalgewebter Kern wird von stimmungsvollen schmalen Gassen durchzogen. Man weiß nie, was man findet: einen winzigen versteckten Garten; eine Boutique, die geistreiche, stilisierte niederländisch gestaltete Haushaltswaren und Mode verkauft; eine juwelenkastenartige "Jenever"-Destillerie; einen Blumenstand, der mit Tulpen in einem Regenbogen von Farbtönen gefüllt ist; eine alte, klostergewordene, klassizistisch-musikalische Veranstaltungsstätte; ein Ultra-Nischen-Restaurant wie ein Avocado- oder Erdbeerspezialist oder ein alter holländischer Klassiker neu erfinden.</p>
      </div>
    </div>
  </div>
</div>

<div class="row travel-guide-overview">
  <div class="col-lg-8 content-col">
    <div class="gradient-full">
      <div class="content-block">
        <p>Man kann keinen Kilometer laufen, ohne auf ein Meisterwerk der Stadt zu stoßen. Das Van Gogh Museum beherbergt die weltweit größte Sammlung des gefolterten einheimischen Sohnes Vincent. Ein paar Blocks entfernt, füllen Vermeers, Rembrandts und andere Schätze des Goldenen Zeitalters das prächtige Rijksmuseum. Das Museum het Rembrandthuis bietet über sein mit Radierungen vollgestopftes Atelier mehr von Rembrandt, während das Stedelijk Museum Matisse und Mondrians zu seinem modernen Bestand zählt.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/activities%2F2-00001-1.jpg?alt=media&token=5b2bfe0e-32fd-41cc-bdd0-5ecf59090e5b');">
    <div class="travel-guide-overview-gradient">
    </div>
  </div>
</div>

<div class="row travel-guide-agenda">
  <div class="col-lg-4 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F300007_1.jpg?alt=media&token=b19c3b96-a9d3-403b-b464-036e667162a5');">
    <div class="travel-guide-overview-gradient">
    </div>
  </div>
  <div class="col-lg-4 content-col gradient-full">
    <div class="content-block">
      <p class="day">Tag 1</p>
      <p class="title">Anne Frank</p>
      <p class="description">Das Anne Frank Haus ist ein Schriftstellerhaus und ein biographisches Museum, das der jüdischen Kriegstagebuchschreiberin Anne Frank gewidmet ist</p>
    </div>
  </div>
  <div class="col-lg-4 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/activities%2F2-00002-1.jpg?alt=media&token=4c42fdd1-cb54-4748-9492-4bf82e16e9ff');">
    <div class="travel-guide-overview-gradient">
    </div>
  </div>
  <div class="col-lg-4 content-col gradient-full">
    <div class="content-block">
      <p class="day">Tag 2</p>
      <p class="title">Heineken</p>
      <p class="description">Interaktiver Rundgang durch die Geschichte des Bierriesen in der ehemaligen Brauerei mit einem Verkostungsraum-Finale</p>
    </div>
  </div>
  <div class="col-lg-4 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F300006_1.jpg?alt=media&token=6c7cf4cc-1907-4851-8039-56d3246a699d');">
    <div class="travel-guide-overview-gradient">
    </div>
  </div>
  <div class="col-lg-4 content-col gradient-full">
    <div class="content-block">
      <p class="day">Tag 3</p>
      <p class="title">Rijksmuseum</p>
      <p class="description">Das Rijksmuseum ist ein niederländisches Nationalmuseum, das sich der Kunst und Geschichte in Amsterdam widmet</p>
    </div>
  </div>
</div>

<div class="row travel-guide-restaurants gradient-full">
  <div class="col-lg-4 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Ffood_two.jpg?alt=media&token=1751a067-b5c5-48fd-810a-7cdc7afd2ab1');">
    <div class="travel-guide-restaurants-gradient">
    </div>
  </div>
  <div class="col-lg-4 content-col-one">
    <div>
      <div class="content-block">
        <p class="title">Brasserie Ambassade</p>
        <p class="description">Französisch</p>
        <p class="price">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
        </p>
      </div>
      <div class="content-block">
        <p class="title">Spectrum</p>
        <p class="description">Europäisch</p>
        <p class="price">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
        </p>
      </div>
      <div class="content-block">
        <p class="title">Senses</p>
        <p class="description">Europäisch</p>
        <p class="price">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 content-col-two">
    <div>
      <div class="content-block">
        <p class="title">The Good Companion</p>
        <p class="description">Meeresfrüchte</p>
        <p class="price">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
        </p>
      </div>
      <div class="content-block">
        <p class="title">La Rive</p>
        <p class="description">Mittelmeer</p>
        <p class="price">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
        </p>
      </div>
      <div class="content-block">
        <p class="title">Bistrot des Alpes</p>
        <p class="description">Französisch</p>
        <p class="price">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
          <img src="assets/icon/icon-heart-10.png" width="26" alt="Heart Flugio">
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row travel-guide-cities">
  <div class="col-md-3 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F1529251820553_paris_1.jpg?alt=media&token=21a839c4-599f-4e04-8cc6-c632c9ce2130');">
    <div class="travel-guide-cities-gradient">
      <div>
        <p class="number">01</p>
        <hr/>
        <p class="title">Paris</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F1529251902418_london_1.jpg?alt=media&token=7e35776d-8c2f-40bf-8e79-fa8004981c95');">
    <div class="travel-guide-cities-gradient">
      <div>
        <p class="number">02</p>
        <hr/>
        <p class="title">London</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F1531435722405_200001_optimised.jpg?alt=media&token=ab587f2b-50bb-4c47-8076-4d16e200c449');">
    <div class="travel-guide-cities-gradient">
      <div>
        <p class="number">03</p>
        <hr/>
        <p class="title">Prag</p>
      </div>
    </div>
  </div>
  <div class="col-md-3 image-col" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F4_00002_1.jpg?alt=media&token=75447f74-500b-4f58-b0b9-61c3afa47a81');">
    <div class="travel-guide-cities-gradient">
      <div>
        <p class="number">04</p>
        <hr/>
        <p class="title">Amsterdam</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
