/**********************************************************************/
/***********************   Travel Guide General   *********************/
/**********************************************************************/

.travel-guide-gradient {
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	width: 100%;
}

/**********************************************************************/
/************************   Travel Guide Title   **********************/
/**********************************************************************/

.travel-guide-title .logo {
	margin-top: 2.5rem;
}
.travel-guide-title .logo img {
	display: block;
	margin: 0 auto;
}
.travel-guide-title .text-block {
	margin: 0 auto;
	text-align: center;
	margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
.travel-guide-title .text-block h2 {
	font-size: 1.8rem;
	margin-bottom: .8rem;
}
.travel-guide-title .text-block hr {
	width: 2.5rem;
	margin: 0 auto;
	margin-bottom: .55rem;
}
.travel-guide-title .text-block p {
	font-size: 1rem;
	margin-bottom: 0rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

/**********************************************************************/
/************************   Travel Guide Icons   **********************/
/**********************************************************************/

.travel-guide-icons .col-lg-4 {
	display: flex;
  align-items: center;
  justify-content: center;
	padding: 7.5rem 5rem 7.5rem 5rem;
}
@media only screen and (max-width: 992px)  {
	.travel-guide-icons .col-lg-4 {
	  padding: 2.5rem 5rem 2.5rem 5rem;
	}
	.travel-guide-icons .col-lg-4:first-of-type {
	  padding: 5rem 5rem 2.5rem 5rem;
	}
	.travel-guide-icons .col-lg-4:last-of-type {
	  padding: 2.5rem 5rem 5rem 5rem;
	}
}
.travel-guide-icons .icon {
	float: left;
  opacity: .5;
}
.travel-guide-icons .text {
	float: left;
  margin-left: 2.5rem;
}
.travel-guide-icons .text .description {
	margin-bottom: 0rem;
}


/**********************************************************************/
/**********************   Travel Guide Schedule   *********************/
/**********************************************************************/

.travel-guide-agenda .col-lg-12{
  padding-left: 0rem;
	padding-right: 0rem;
}

/**********************************************************************/
/********************   Travel Guide Restaurants   ********************/
/**********************************************************************/

.travel-guide-restaurants .image-col {
  background-position: center;
	background-size: cover;
}
@media only screen and (max-width: 992px)  {
	.travel-guide-restaurants .image-col {
	  min-height: 20rem;
	}
}
.travel-guide-restaurants-gradient {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%);
}
.travel-guide-restaurants .content-col {
  padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
}

/**********************************************************************/
/***********************   Travel Guide Cities   **********************/
/**********************************************************************/

.travel-guide-cities .image-col {
	height: 20rem;
	background-position: center;
	background-size: cover;
}
.travel-guide-cities-gradient {
	display: flex;
	align-items: center;
	justify-content: center;
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%);
}
.travel-guide-cities .image-col .title {
	margin-bottom: 0rem;
	font-size: 1.4rem;
	text-align: center;
}
.travel-guide-cities .image-col .number {
	margin-bottom: .8rem;
	font-size: 1.4rem;
	text-align: center;
}
.travel-guide-cities .image-col hr {
	width: 2.5rem;
	margin: 0 auto;
	margin-bottom: .55rem;
}

/**********************************************************************/
/***********************   Travel Guide Butler   **********************/
/**********************************************************************/

.cms-butler-block {
  height: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: rgba(77, 131, 132, 1);
}

.cms-butler-block .butler-container{
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}

@media only screen and (min-width: 768px)  {
  .cms-butler-block {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (min-width: 1200px)  {
  .cms-butler-block {
    padding-left: 17.5rem;
    padding-right: 17.5rem;
  }
}
