<div class="row featured-block gradient-top">
  <div class="col-xl-12">
    <p class="featured-text">Bekannt aus der</p>
    <div class="featured-container">
      <div class="featured-element featured-one">
        <img src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/icons%2Ficon-20minuten.svg?alt=media&token=83421b86-ce19-4adc-9964-079657c386e3" alt="20minuten Logo">
      </div>
      <div class="featured-element featured-two">
        <img src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/icons%2Ficon-blickch.svg?alt=media&token=4eec2fb8-9c80-42bf-a728-9ea7cc077035" alt="Blick CH Logo">
      </div>
      <div class="featured-element featured-three">
        <img src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/icons%2Ficon-srf1.svg?alt=media&token=e3cdee3a-d4d6-4213-b0af-71dfebdb65ec" alt="SRF 1 Logo">
      </div>
    </div>
  </div>
</div>
