<div class="std-pd-hor-3 std-pd-ver-4 step-mobile-normal">

  <div class="butler gradient-full std-pd-ver-1 std-pd-hor-1 br-rd-top overflow-hidden">
    <div class="wp-100">
      <img class="center-hori" height="75" width="75" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
      <div class="text text-center br-rd-all std-pd-ver-1 std-pd-hor-1">
        <p class="no-margin">Während deiner Reise verbleibst du im ...</p>
      </div>
    </div>
  </div>

  <div class="bg-cover" [style.background-image]="imageUrl">
    <div class="overlay-double-gradient-center std-pd-hor-2 std-pd-ver-2">
      <div class="text-center">
        <h2 class="ft-xxl">{{ accommodation?.name[locale] }}</h2>
        <hr class="w-25-rem"/>
        <p class="no-margin">{{ accommodation?.description[locale]}}</p>
      </div>
    </div>
  </div>

  <div class="gradient-full std-pd-hor-2 std-pd-ver-3">
    <div class="grid-flex std-pd-hor-2 text-center mr-bt-50">
      <div>
        <p class="no-margin ft-xs opa-50">Stil</p>
        <hr/>
        <p class="no-margin">{{ accommodation?.property.style[locale]}}</p>
      </div>
      <div>
        <p class="no-margin ft-xs opa-50">Zimmer</p>
        <hr/>
        <p class="no-margin">{{ accommodation?.property.rooms}}</p>
      </div>
      <div>
        <p class="no-margin ft-xs opa-50">Setting</p>
        <hr/>
        <p class="no-margin">{{ accommodation?.property.setting[locale]}}</p>
      </div>
    </div>
    <div class="text-center">
      <p>{{ accommodation?.property.about[locale]}}</p>
    </div>
  </div>

  <div class="flex-wrap">
    <div class="cms-1 flex-half std-pd-ver-1 std-pd-hor-1 gradient-full center text-center">
      <div>
        <p i18n="perfect for">Beliebt für</p>
        <app-interest [interest]="interest" *ngFor="let interest of interestList"></app-interest>
      </div>
    </div>
    <div class="flex-half std-pd-ver-1 std-pd-hor-1 gradient-full center text-center">
      <app-review [review]="accommodation?.review"></app-review>
    </div>
  </div>

  <div class="bg-cover" [style.background-image]="imageUrl">
    <div class="overlay-double-gradient-center">
      <div class="std-pd-hor-2 std-pd-ver-2 text-center">
        <p class="no-margin">{{ accommodation?.overview[locale] }}</p>
      </div>
    </div>
  </div>

  <div class="gradient-full center std-pd-ver-2 std-pd-hor-1">
    <app-rating [rating]="accommodation?.rating"></app-rating>
  </div>

  <!-- <div>
    <app-carousel [carouselImages]="accommodation?.image"></app-carousel>
  </div> -->

  <div class="butler gradient-full std-pd-ver-1 std-pd-hor-1 br-rd-bottom overflow-hidden">
    <div class="wp-100">
      <img class="center-hori" height="75" width="75" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio">
      <div class="text text-center br-rd-all std-pd-ver-1 std-pd-hor-1">
        <p class="no-margin">{{ accommodation?.advice[locale] }}</p>
      </div>
    </div>
  </div>

  <app-grading [grading]="accommodation?.grading"></app-grading>

</div>
