<div class="pdp-accommodation-block col-xl-12">
  <div class="col-xl-12 pdp-accommodation-block-title" [style.background-image]="imageUrl">
    <div class="pdp-accommodation-block-gradient">
      <div class="text-block">
        <h2>{{ accommodation?.name[locale] }}</h2>
        <hr/>
        <p>{{ accommodation?.description[locale]}}</p>
      </div>
    </div>
  </div>
  <div class="row" style="margin-left:0rem; margin-right:0rem;">
    <div *ngIf="featuredList" class="col-xl-6 pdp-icons-block gradient">
      <div class="text-block">
        <p i18n="perfect for">Perfekt für</p>
        <app-featured-icon [featured]="featured" *ngFor="let featured of featuredList"></app-featured-icon>
      </div>
    </div>

    <div class="col-xl-6 pdp-review-block gradient">
      <app-review [review]="accommodation?.review" style="width:100%;"></app-review>
    </div>

  </div>
  <div class="col-xl-12 pdp-accommodation-description-block" style="background-image: url(assets/img/200001_1.jpg);">
    <div class="pdp-accommodation-description-block-gradient">
      <div class="text-block">
        <p>{{ accommodation?.secrets[locale] }} </p>
      </div>
    </div>
  </div>
  <div class="col-xl-12 pdp-accommodation-review-block gradient">
    <div class="text-block">
      <p>Bewertung Tripadvisor</p>
      <div class="icon-block-one">
        <img src="assets/icon/icon-heart-10.png" width="32"/>
        <img src="assets/icon/icon-heart-10.png" width="32"/>
        <img src="assets/icon/icon-heart-10.png" width="32"/>
        <img src="assets/icon/icon-heart-{{starNumber}}.png" width="32"/>
        <img src="assets/icon/icon-heart-0.png" width="32"/>
      </div>
      <p class="rating-number">{{ accommodation?.rating }} aus 5</p>
    </div>
  </div>
</div>
