@import "~bootstrap/dist/css/bootstrap.css";

/**********************************************************************/
/*************************   Container Page   *************************/
/**********************************************************************/

body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: rgba(235,235,235,1);
}

.bs-tooltip-top {
    margin-bottom: .25rem;
}

.tooltip-inner {
    padding: 0.45rem 0.6rem;
    color: rgba(19, 78, 94, 1);
    background-color: rgba(235,235,235,1);
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: .05rem;
    border-radius: 0.5rem;
}

.tooltip.show {
    opacity: 1;
}

.container-fluid {
}

.nav-container {
  padding-bottom: .95rem;
  padding-top: 5rem;
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  /* background-image: url(assets/img/nav-gradient.png); */
  background-size: contain;
  background-repeat: repeat-x;
  background-image: linear-gradient(to top, rgba(0,0,0,.4) 0%,rgba(0,0,0,.3) 25%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.1) 75%,rgba(0,0,0,0) 100%);
}

.nav-col {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media only screen and (min-width: 1200px)  {
  .nav-col {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .nav-container {
    padding-bottom: 2.5rem;
  }
}

@media only screen and (min-width: 576px) {
  .nav-container {
    background-image: none;
  }
}

.nav-container .col-xs-4 {
  width: 33.333333%;
}

/**********************************************************************/
/****************************   Sidebar   *****************************/
/**********************************************************************/

[sidebarjs].sidebarjs--left[_ngcontent-c2] [sidebarjs-container][_ngcontent-c2] {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 1rem;
    letter-spacing: .07rem;
}

[sidebarjs-container][_ngcontent-c2] {
    width: 100% !important;
    max-width: 100vw !important;
    background-image: linear-gradient(to bottom right, rgba(19, 78, 94, .93) 0%, rgba(77, 131, 132, .93) 100%) !important;
    background-color: inherit !important;
}

@media only screen and (min-width: 1200px)  {
  [sidebarjs-container][_ngcontent-c2] {
      width: 100% !important;
      max-width: calc((100% / 12)*3) !important;
  }
}

.sidebarjs-center-container .price-label {
    float:left;
    display: inline-block;
    width: 60%;
    text-align: left;
    color: rgba(235,235,235,1);
    font-size: .8rem;
}

.sidebarjs-center-container .price-title {
    float:left;
    display: inline-block;
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    color: rgba(235,235,235,1);
}

.sidebarjs-center-container .price-total {
    float:left;
    display: inline-block;
    font-size: 1.8rem;
    width: 100%;
    text-align: center;
    color: rgba(235,235,235,1);
}

.sidebarjs-center-container .price-amount {
    float:right;
    display: inline-block;
    width: 40%;
    text-align: right;
    font-size: .8rem;
}

.sidebarjs-center-container .content-block {
    width: 100%;
    float: left;
    clear: both;
    padding-left: 3rem;
    padding-right: 3rem;
}

.sidebarjs-center-container .content-block button {
    margin: 0 auto;
    display: block;
}

.sidebarjs-center-container .sidebarjs-close-button {
    margin-top: 2rem;
}

.sidebarjs-center-container .content-block .price-hr {
  width: 2.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 2.5rem;
}

.sidebarjs-center-container .content-block .total-hr {
  margin: 0 auto;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 575.98px)  {
  .sidebarjs-center-container .content-block button {
  }

  .sidebarjs-center-container .sidebarjs-close-button {
      position: absolute;
      bottom: 0;
      padding-bottom: 1.2rem;
  }
}

@media only screen and (min-width: 1200px)  {
  .sidebarjs-center-container .price-label {
  }

  .sidebarjs-center-container .price-amount {
  }
}

/**********************************************************************/
/**************   Paddings, Margins, Heights & Widths   ***************/
/**********************************************************************/

h2 {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 400;
}

h4 {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 400;
}

a {
  color: rgba(235, 235, 235, 1);
}

a:hover {
  text-decoration: none;
  color: rgba(235, 235, 235, 1);
}

/**********************************************************************/
/***************************   Gradients   ****************************/
/**********************************************************************/

.gradient {
  background-image: linear-gradient(to bottom right, rgba(19, 78, 94, 1) 0%, rgba(19, 78, 94, 0) 100%);
}

.gradient-20 {
  background-image: linear-gradient(to bottom right, rgba(19, 78, 94, .5) 0%, rgba(77, 131, 132, .5) 100%);
}

/**********************************************************************/
/*****************************   Logo   *******************************/
/**********************************************************************/

@media only screen and (min-width: 1200px)  {
  .pdp-column-left-bar .logo img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1199.98px)  {
  .pdp-column-left-bar .logo-container{
    float: left;
    margin-top: 1.75rem;
    margin-left: 1rem;
  }

  .pdp-column-left-bar .timeline-container {
    display: none ;
  }

  .pdp-column-left-bar .price-container {
    display: none ;
  }

  .pdp-column-left-bar .logo img {
    width: 80px;
  }
}

.header-row .logo img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .pdp-column-left-bar .logo{
    max-width: 540px;
    margin: 0 auto;
  }

  .pdp-column-left-bar .logo .col-xl-12{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .pdp-column-left-bar .logo{
    max-width: 720px;
    margin: 0 auto;
  }

  .pdp-column-left-bar .logo .col-xl-12{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .pdp-column-left-bar .logo{
    max-width: 960px;
    margin: 0 auto;
  }

  .pdp-column-left-bar .logo .col-xl-12{
    padding-left: 0px;
    padding-right: 0px;
  }
}

/**********************************************************************/
/****************************   Header   ******************************/
/**********************************************************************/

.header-row {
  height: 50vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.header-row .logo-container {
  margin-top: 0rem;
}

.header-row .header-title{
  font-size: 1.4rem;
  letter-spacing: .07rem;
  text-align: center;
  margin-bottom: .5rem;
}

.header-row .header-subtitle{
  font-size: 1rem;
  letter-spacing: .07rem;
  text-align: center;
}

.header-row .title-row {
  margin-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  opacity: 1;
}

.header-row .title-row span{
  font-weight: 400 !important;
  opacity: .75 !important;
}

@media only screen and (max-width : 991.98px) {
  .header-row {
    height: auto;
  }

  .header-row .title-row {
    margin-top: 4rem;
  }

  .header-row .header-title{
    margin-bottom: 2.5rem;
  }
}

/**********************************************************************/
/****************************   Footer   ******************************/
/**********************************************************************/

.footer-row {
  height: 50vh;
}

.footer-center-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

@media only screen and (min-width : 768px) {
  .footer-ul-container {
    height: 11rem !important;
  }
}

.footer-row ul {
  list-style: none;
  margin-bottom: 0rem;
  -webkit-padding-start: 0rem;
}

.footer-ul-container {
  display: block;
  margin: 0 auto;
}

.footer-row ul p {
  margin-bottom: 0rem;
  font-size: .9rem;
  letter-spacing: .07rem;
}

.footer-row ul li {
  margin-bottom: .5rem;
}

.footer-row ul li:last-child {
  margin-bottom: 0rem;
}

.footer-row h4 {
  margin-bottom: 3rem;
}

.footer-row .instagram-icon {
  margin-right: 1rem;
  opacity: .5;
}

.footer-row .facebook-icon {
  margin-right: 1rem;
  opacity: .5;
}

@media only screen and (min-width: 768px)  {
  .footer-column-four {
    padding-top: 9.2rem;
  }
}

@media only screen and (max-width : 768px) {
  .footer-column-two,
  .footer-column-three,
  .footer-column-four {
    display: none;
  }
}

/**********************************************************************/
/************************   Left Bar Container   **********************/
/**********************************************************************/

@media only screen and (min-width: 1200px)  {

  .pdp-column-left-bar .logo-container {
    height: 10vh;
    padding-top: 2.5rem;
  }

  .pdp-column-left-bar .center-container {
    height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/**********************************************************************/
/**************************   Steps Small   ***************************/
/**********************************************************************/

.pdp-column-left-bar .steps {
  width: auto;
  float: right;
  margin-top: 1.75rem;
  margin-right: 1rem;
}

.nav-container .price-container-small {
  text-align: center;
}

.nav-container .price-label {
  margin-bottom: 0rem;
  font-size: .8rem;
  letter-spacing: .07rem;
}

.nav-container .price-amount {
  margin-bottom: .2rem;
  font-size: 1rem;
  letter-spacing: .07rem;
}

.nav-container .price-info button {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.pdp-column-left-bar .steps p{
  display: none;
}

.pdp-column-left-bar .steps .step-line {
  width: 1.2rem;
  border-top-width: .12rem;
  border-top-style: solid;
  border-top-color: rgba(235,235,235,.5);
  margin-top: .7rem;
  float: left;
}

.pdp-column-left-bar .steps .active {
  border-color: rgba(235,235,235,1) !important;
  color: rgba(235,235,235,1) !important;
}

.pdp-column-left-bar .steps span.current {
  border-color: rgba(235,235,235,1) !important;
  color: rgba(235,235,235,1) !important;
  background-color: rgba(235,235,235,.15) !important;
}

.pdp-column-left-bar .steps p.current {
  border-color: rgba(235,235,235,1) !important;
  color: rgba(235,235,235,1) !important;
}

.pdp-column-left-bar .steps .step-one,
.pdp-column-left-bar .steps .step-two,
.pdp-column-left-bar .steps .step-three,
.pdp-column-left-bar .steps .step-four,
.pdp-column-left-bar .steps .step-five {
  float: left;
}

.pdp-column-left-bar .steps .step-one span,
.pdp-column-left-bar .steps .step-two span,
.pdp-column-left-bar .steps .step-three span,
.pdp-column-left-bar .steps .step-four span,
.pdp-column-left-bar .steps .step-five span {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding-top: .18rem;
  border-radius: 100%;
  border-style: solid;
  border-width: .1rem;
  color: rgba(235,235,235,.5);
  border-color: rgba(235,235,235,.5);
  font-size: .7rem;
}

/**********************************************************************/
/****************************   Steps Big   ***************************/
/**********************************************************************/

@media only screen and (min-width: 1200px)  {

  .pdp-column-left-bar .steps {
  margin: 0 auto;
  width: 100%;
  float: left;
  clear: both;
}

.pdp-column-left-bar .container-center-steps {
margin: 0 auto;
width: 9.7rem;
}

.pdp-column-left-bar .timeline-container {
  float: left;
  clear: both;
}

.pdp-column-left-bar .steps .step-line {
  height: 1rem;
  border-left-width: .12rem;
  border-left-style: solid;
  border-left-color: rgba(235,235,235,.5);
  margin-left: .85rem;
  clear: both;
  border-top: none;
  margin-top: 0rem;
}

.pdp-column-left-bar .steps .active {
  border-color: rgba(235,235,235,1) !important;
  color: rgba(235,235,235,1) !important;
}

.pdp-column-left-bar .steps .step-one,
.pdp-column-left-bar .steps .step-two,
.pdp-column-left-bar .steps .step-three,
.pdp-column-left-bar .steps .step-four,
.pdp-column-left-bar .steps .step-five {
  float: left;
  clear: both;
}

.pdp-column-left-bar .steps .step-one p,
.pdp-column-left-bar .steps .step-two p,
.pdp-column-left-bar .steps .step-three p,
.pdp-column-left-bar .steps .step-four p,
.pdp-column-left-bar .steps .step-five p {
  float: left;
  display: inline-block;
  height: 1.85rem;
  padding-top: .3rem;
  margin-left: 2rem;
  margin-bottom: 0rem;
  color: rgba(235,235,235,.5);
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-column-left-bar .steps .timeline-container {
  margin-bottom: 3rem;
  width: 100%;
}

.pdp-column-left-bar .steps .timeline-container p {
  display: inline-block;
  letter-spacing: .07rem;
  margin-bottom: 0rem;
}

.pdp-column-left-bar .price-container {
  margin-bottom: 3rem;
  width: 100%;
  float: left;
  clear: both;
}

.timeline-container .from-date,
.timeline-container .to-date {
  float: left;
  width: 33.33%;
  text-align: center;
}

.timeline-container .day {
  width:100%;
  font-size:1.4rem;
}

.timeline-container .weekday,
.timeline-container .month {
  width: 100%;
  font-size: .8rem;
}

.timeline-container .arrow-wrapper {
  float:left; width:33.33%;
  padding-left:1rem;
  padding-right:1rem;
}

.timeline-container .arrow-wrapper img {
  display:inline-block;
  margin-top:-.3rem;
}

.timeline-container .arrow-nights {
  text-align:center;
  margin-top: 1rem;
}

.timeline-container .nights {
  padding-bottom: .4rem;
  border-bottom-width: .12rem;
  border-bottom-style: solid;
  border-bottom-color: rgba(235,235,235,.5);
  width:100%;
  font-size:.8rem;
}

.timeline-container .persons {
  margin-top: .55rem;
  width:100%;
  font-size:.8rem;
}

.nav-container .price-container-small {
  display: none;
}

.pdp-column-left-bar .price-container p {
  display: inline-block;
  letter-spacing: .07rem;
  margin-bottom: 0rem;
}

.pdp-column-left-bar .price-container .price-info {
  float:left;
  width:100%;
  text-align:center;
}

.pdp-column-left-bar .price-container .price-label {
  width:100%;
  font-size:.8rem;
  margin-bottom:.25rem;
}

.pdp-column-left-bar .price-container .price-amount {
   width:100%;
   font-size:1.4rem;
   margin-bottom:.5rem;
}

.pdp-column-left-bar .steps .step-one span,
.pdp-column-left-bar .steps .step-two span,
.pdp-column-left-bar .steps .step-three span,
.pdp-column-left-bar .steps .step-four span,
.pdp-column-left-bar .steps .step-five span {
  float: left;
  width: 1.85rem;
  height: 1.85rem;
  text-align: center;
  padding-top: .25rem;
  border-radius: 100%;
  border-style: solid;
  border-width: .1rem;
  color: rgba(235,235,235,.5);
  border-color: rgba(235,235,235,.5);
  font-size: .8rem;
}

}

/**********************************************************************/
/**************************   Product Page   **************************/
/**********************************************************************/
.pdp-container {
  height: 100vh;
  background-size: cover;
}

@media only screen and (max-width: 575.98px)  {
  .pdp-container {
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(19,78,94,1) 0%, rgba(77,131,132,1) 100%) !important;
  }

  .pdp-container::before {
  	background-image: none !important;
  }
}

.pdp-container::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.9) 0%, rgba(77,131,132,.9) 100%);
}

.pdp-column-left-bar {
  height: 100%;
  /* background-color: rgba(77, 131, 132, 1); */
}

@media only screen and (max-width: 1199.98px)  {
  .pdp-column-left-bar {
    height: 5rem;
  }
}

.pdp-column-right-bar {
  /* height: 100%;
  height: 100vh; */
}

@media only screen and (min-width: 1200px)  {
  .pdp-row-right-bar-container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .pdp-column-right-bar {
    overflow-y: scroll;
  }
}

/**********************************************************************/
/****************************   City Page   ***************************/
/**********************************************************************/

.pdp-block-one {
  height: 20rem;
  background-color: rgba(77, 131, 132, 1);
}

.pdp-city-block-title,
.pdp-accommodation-block-title {
  height: 20rem;
  margin-top: 2rem;
  background-size: cover;
  background-position: center;
}

.pdp-city-block-gradient,
.pdp-accommodation-block-gradient {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  display: flex;
  align-items: center;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%),
    linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 40%,rgba(0,0,0,.3) 60%,rgba(0,0,0,0) 100%);
}

.pdp-city-block-gradient .text-block,
.pdp-accommodation-block-gradient .text-block {
  margin: 0 auto;
  text-align: center;
}

.pdp-city-block-gradient .text-block h2,
.pdp-accommodation-block-gradient .text-block h2 {
  font-size: 1.8rem;
  letter-spacing: .07rem;
  margin-bottom: .8rem;
}

.pdp-city-block-gradient .text-block p,
.pdp-accommodation-block-gradient .text-block p {
  font-size: 1rem;
  letter-spacing: .07rem;
  margin-bottom: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

hr {
  display: block;
  height: .1rem;
  border: 0;
  border-top: .1rem solid rgba(235,235,235,.5);
  padding: 0;
}

.pdp-city-block-title .text-block hr,
.pdp-accommodation-block-title .text-block hr {
  width: 2.5rem;
  margin: 0 auto;
  margin-bottom: .55rem;
}

.pdp-icons-block {
  background-color: rgba(77, 131, 132, 1);
  align-items: center;
  display: flex;
  align-items: center;
  height: 20rem;
}

.pdp-icons-block .text-block {
  text-align: center;
  margin: 0 auto;
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-icons-block .icon-block-one span,
.pdp-icons-block .icon-block-two span {
  width: 1rem;
  display: inline-block;
}

.pdp-icons-block .icon-block-one {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.btn-back-container {
  z-index: 1;
  float: left;
}

.btn-next-container {
  z-index: 1;
  float: right;
}

@media only screen and (min-width: 1200px)  {
  .btn-back-container {
    left: 4.5rem;
  }

  .btn-next-container {
    right: 4.5rem;
  }

  .pdp-city-block-title {
    margin-top: 2.5rem;
  }
}

.pdp-review-block {
  background-color: rgba(77, 131, 132, 1);
  align-items: center;
  display: flex;
  align-items: center;
  height: 20rem;
}

.pdp-review-block .text-block {
  text-align: center;
  margin: 0 auto;
  letter-spacing: .07rem;
  font-size: 1rem;
  font-style: italic;
}

.pdp-review-block .text-block p {
  margin-bottom: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.pdp-review-block .avatar-block img {
  border-radius: 50%;
  opacity: .5;
  margin-top: 2rem;
}

.pdp-review-block .avatar-block .avatar-name {
  font-size: .8rem;
  margin-top: .5rem;
  font-style: normal;
}

/**********************************************************************/
/***************************   Deal Card   ****************************/
/**********************************************************************/

.deal-row {
}

.deal-col {
  background-size: cover;
  background-position: center;
}

.deal-card {
  height: 50vh;
}

.deal-card::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%),
    linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 65%,rgba(0,0,0,.4) 100%);
}

.deal-card-title {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  z-index: 3;
  float: left;
  font-weight: 400;
}

.deal-card-title h2{
  margin-bottom: .1rem;
}

.deal-card-title span {
  font-size: 1.1rem;
  letter-spacing: .07rem;
  font-weight: 300;
  margin-left: .5rem;
  opacity: .5;
}

.deal-card .icon-fight,
.deal-card .icon-accommodation,
.deal-card .icon-activity,
.deal-card .icon-transportation {
  opacity: .5;
}

.deal-card-price {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 400;
  z-index: 3;
  position: absolute;
  bottom: 0rem;
  left: 2rem;
}

.deal-card-price p span{
  font-size: .7rem;
  font-weight: 400;
  margin-right: .25rem;
}

.deal-card-timer {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 400;
  z-index: 3;
  position: absolute;
  bottom: 0rem;
  right: 2rem;
}

.deal-card .first-row {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  color: rgba(235, 235, 235, 1);
  z-index: 2;
  position: relative;
  height: 50%;
}

.deal-card .second-row {
  color: rgba(235, 235, 235, 1);
  z-index: 2;
  position: relative;
  height: 50%;
}

.deal-card .discount-number {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding-top: 1.2rem;
  background: rgba(19, 78, 94, 1);
  color: rgba(235, 235, 235, 1);
  text-align: center;
  float: right;
  letter-spacing: .05rem;
}

.deal-card .percentage-label {
    font-size: .7rem;
    margin-bottom: 0rem;
    opacity: .75;
}

.percentage-number {
    font-size: 1.2rem;
    margin-bottom: -0.2rem;
}

/**********************************************************************/
/*************************   Users Quantity   *************************/
/**********************************************************************/

.pdp-user-quantity-block {
  width: 100%;
}

.pdp-user-quantity-block .center-wrap {
  width: 100%;
}

.pdp-user-quantity-block .label-user-quantity {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-user-quantity-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }

}

@media only screen and (max-width: 767.98px)  {
  .pdp-user-quantity-block .btn-press{
  }

  .pdp-user-quantity-block {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 768px)  {
  .user-quantity-button-wrapper .button-quantity{
    margin-bottom: 2rem;
    float:left;
    height: 4rem !important;
    width: auto !important;
    margin-bottom: 0rem !important;
  }

  .user-quantity-button-wrapper {
    width: auto !important;
    margin: 0 auto;
  }

  .user-quantity-button-wrapper .button-quantity{
    margin-right: 1rem;
  }

  .user-quantity-button-wrapper .button-quantity:last-child{
    margin-right: 0rem;
  }

  .user-quantity-button-wrapper .button-quantity .btn-press{
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: 4rem !important;
    width: 4rem !important;
  }

}

.user-quantity-button-wrapper .button-quantity{
  height: 5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.user-quantity-button-wrapper{
  width: 100%;
}

/**********************************************************************/
/***************************   Users Age   ****************************/
/**********************************************************************/

.pdp-user-age-block {
  width: 100%;
}

.pdp-user-age-block .center-wrap {
  width: 100%;
}

.pdp-user-age-block .label-user-age {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-user-age-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

@media only screen and (max-width: 767.98px)  {
  .pdp-user-age-block .btn-press{
    margin-bottom: 2rem;
  }

  .pdp-user-age-block {
    margin-top: -4rem;
  }
}

/**********************************************************************/
/***************************   Users Data   ***************************/
/**********************************************************************/

.pdp-user-data-block {
  width: 100%;
}

.pdp-user-data-block .center-wrap {
  width: 100%;
}

.pdp-user-data-block .label-user-age {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-user-data-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

@media only screen and (max-width: 1199.98px)  {
  .pdp-user-data-block {
    margin-top: -6.2rem;
  }
}

.user-data-form .form-group {
  margin-bottom: 3rem;
}

.user-data-form .row:last-child .form-group:last-child {
  margin-bottom: 0rem;
}

.form-control::-webkit-input-placeholder {
  color: rgba(235,235,235,0.5);
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: rgba(235,235,235,0.5);
}

.form-control::-moz-placeholder { /* Firefox 19+ */
  color: rgba(235,235,235,0.5);
}

.form-control:-ms-input-placeholder {
  color: rgba(235,235,235,0.5);
}

.form-control:focus {
  background-color: inherit;
  border-color: rgba(235,235,235,1);
  color: rgba(235,235,235,1);
}

.form-control {
  background-color: inherit;
  border-radius: 0;
  font-size: 1rem;
  letter-spacing: .07rem;
  color: rgba(235,235,235,1);
  border-top: 0rem;
  border-right: 0rem;
  border-left: 0rem;
  border-style: solid;
  border-color: rgba(235,235,235,0.5);
  border-bottom-width: .12rem;
  padding: 0.5rem 1rem;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/**********************************************************************/
/****************************   Payment   *****************************/
/**********************************************************************/

.pdp-payment-block {
  width: 100%;
}

.pdp-payment-block .center-wrap {
  width: 100%;
}

.pdp-payment-block .label-user-age {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-payment-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .payment-form .name,
  .payment-form .number {
    margin-bottom: 3rem;
  }

  .payment-form .month,
  .payment-form .year {
    margin-bottom: 0rem !important;
  }

  .pdp-payment-block .label-trust {
    margin-bottom: 0rem !important;
  }
}

@media only screen and (max-width: 1199.98px)  {
  .pdp-payment-block {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
}

.payment-form .name,
.payment-form .number,
.payment-form .month,
.payment-form .year {
  margin-bottom: 3rem;
}

.payment-form .month::after,
.payment-form .year::after {
  position: absolute;
  content: "";
  top: 17px;
  right: 30px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.pdp-payment-block .label-payment {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-payment-block select {
  background-color: inherit;
  letter-spacing: .07rem;
  font-size: 1rem;
  background-color: inherit;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-size: 1rem;
  letter-spacing: .07rem;
  width: 100%;
  border-top: 0rem;
  border-right: 0rem;
  border-left: 0rem;
  border-style: solid;
  border-color: rgba(235,235,235,0.5);
  border-bottom-width: .12rem;
  padding: 0.5rem 1rem;
  color: rgba(235,235,235,1);
}

.pdp-payment-block .powered-by-stripe img {
  display: block;
  margin: 0 auto;
  opacity: .5;
}

.pdp-payment-block .powered-by-stripe {
  margin-top: 3rem;
}

select:focus {
  outline: none;
}

.pdp-payment-block .label-trust {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: .8rem;
  margin-top: 3.3rem;
}

.pdp-payment-block .icon-lock {
  margin-top: -.3rem;
  margin-right: .5rem;
}

/**********************************************************************/
/***************************   Insurance   ****************************/
/**********************************************************************/

.pdp-insurance-block {
  width: 100%;
}

.pdp-insurance-block .center-wrap {
  width: 100%;
}

.pdp-insurance-block .label-insurance {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-insurance-block .label-insurance img {
    margin-left: .5rem;
    margin-top: -.15rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-insurance-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

@media only screen and (max-width: 767.98px)  {
  .pdp-insurance-block .btn-icon-press{
    margin-bottom: 2rem;
  }

  .pdp-insurance-block {
    margin-top: -1rem;
  }
}

.pdp-insurance-block .btn-icon-press p {
  margin-bottom: 0rem;
  margin-top: 1rem;
}

/**********************************************************************/
/****************************   Success   *****************************/
/**********************************************************************/

.pdp-success-block {
  width: 100%;
}

.pdp-success-block .center-wrap {
  width: 100%;
}

.pdp-success-block .label-success {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-success-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

@media only screen and (max-width: 767.98px)  {
  .pdp-success-block {
    margin-top: -2.5rem;
  }

  .pdp-success-block .first-row {
      margin-bottom: 2.5rem !important;
  }
}

.pdp-success-block .success-icon {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  background: rgba(19, 78, 94, 1);
  color: rgba(235, 235, 235, 1);
  margin: 0 auto;
  text-align: center;
  letter-spacing: .05rem;
}

.pdp-success-block .success-icon img {
    margin-top: 3.4rem;
}

.pdp-success-block .first-row {
    margin-bottom: 5rem;
}

.pdp-success-block .label-success {
    line-height: 1.8rem;
}

.pdp-success-block .label-success img {
    margin-left: .5rem;
    margin-top: -.15rem;
}

/**********************************************************************/
/****************************   Onboard   *****************************/
/**********************************************************************/

.pdp-onboard-block {
  width: 100%;
}

.pdp-onboard-block .center-wrap {
  width: 100%;
}

.pdp-onboard-block .label-onboard {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-onboard-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

@media only screen and (max-width: 767.98px)  {
  .pdp-onboard-block .btn-icon-press{
    margin-bottom: 2rem;
  }

  .pdp-onboard-block {
    margin-top: -1rem;
  }
}

.pdp-onboard-block .btn-icon-press p {
  margin-bottom: 0rem;
  margin-top: 1rem;
}

/**********************************************************************/
/****************************   Activity   ****************************/
/**********************************************************************/

.pdp-activity-block-gradient {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%),
    linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 40%,rgba(0,0,0,.3) 60%,rgba(0,0,0,0) 100%);
}

.activity-col {
  background-size: cover;
  background-position: center;
}

.activity-card {
}

.activity-card::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%),
    linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 65%,rgba(0,0,0,.4) 100%);
}

.activity-card-title {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  z-index: 3;
  float: left;
}

.activity-card .icon {
  opacity: 1;
}

.activity-card-description {
  font-size: 1rem;
  letter-spacing: .07rem;
  font-weight: 400;
  z-index: 3;
}

.activity-card-button {
}

.activity-card .first-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.75rem;
  color: rgba(235, 235, 235, 1);
  z-index: 2;
  position: relative;
  margin-bottom: 10rem;
}

.activity-card .second-row {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  color: rgba(235, 235, 235, 1);
  z-index: 2;
  position: relative;
}

@media only screen and (min-width: 768px)  {
  .activity-card-description {
    position: absolute;
    bottom: 0rem;
    left: 1rem;
  }

  .activity-card-description p {
    margin-bottom: -.425rem;
  }

  .activity-card-button {
    position: absolute;
    bottom: 0rem;
    right: 1rem;
  }

  .activity-card {
    height: 40vh;
  }

  .activity-card .service {
    float: right;
  }

  .activity-card .service p {
    float: right;
  }

  .activity-card .first-row {
    height: 50%;
    margin-bottom: 0rem;
  }

  .activity-card .second-row {
    height: 50%;
    padding-bottom: 2rem;
  }

  .pdp-activity-block  {
    margin-top: 2.5rem !important;
  }

  .pdp-activity-block .activity-row  {
    margin-bottom: 2.5rem !important;
  }
}

.activity-card .service {
  color: rgba(235, 235, 235, 1);
  letter-spacing: .07rem;
}

.activity-card .service img {
  margin-right: .75rem;
  float: left;
}

.activity-card .service p {
  line-height: 1.75rem;
  float: left;
}

.activity-card .btn-primary {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.pdp-activity-block  {
  margin-top: 1rem;
}

.pdp-activity-block .activity-row  {
  margin-bottom: 1rem;
}

/**********************************************************************/
/****************************   Buttons   *****************************/
/**********************************************************************/

.btn {
  height: 2.5rem;
  border-radius: 100%;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  line-height: 1.1;
  text-align: center;
  vertical-align: middle;
  letter-spacing: .07rem;
  font-size: .95rem;
}

.btn-full {
  width: 100%;
}

.btn-primary {
  color: rgba(235, 235, 235, 1);
  border: none;
  background-color: rgba(85, 144, 151, 1);
}

.btn-small {
  font-size: .8rem;
  height: 2rem;
  line-height: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
}

.btn-round-pdp {
  border: none;
  width: 5rem;
  height: 5rem;
  font-size: .9rem;
  border-radius: 100%;
  letter-spacing: .07rem;
  background: rgba(85, 144, 151, 1);
  color: rgba(235, 235, 235, 1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1199.98px)  {
  .nav-container .btn-round-pdp{
    width: 5rem;
    height: 5rem;
  }
}

.btn-primary:hover {
  background-color: rgba(85, 144, 151, 0.7);
  cursor: pointer;
  color: rgba(235, 235, 235, 1);
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
  box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
  box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
}

.btn-remove {
  color: rgba(51, 51, 51, 1);
  border: none;
  background-color: rgba(235, 235, 235, 1);
}

.btn-remove:hover {
  background-color: rgba(235, 235, 235, .7);
  cursor: pointer;
}

.btn-remove:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
  box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
}

.btn-secondary {
  color: rgba(235, 235, 235, 1);
  border-color: rgba(235, 235, 235, 1);
  background-color: inherit;
  border-width: 0.1rem;
  border-style: solid;
}

.btn-secondary:hover {
  border-color: rgba(235, 235, 235, 0.7);
  background-color: inherit;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
  box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
}

.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: rgba(235, 235, 235, 1);
  background-color: rgba(85, 144, 151, 1);
  background-image: none;
  border-color: rgba(85, 144, 151, .5);
}

.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: rgba(235,235,235,1);
    background-color: inherit;
    background-image: none;
    border-color: rgba(235, 235, 235, 1);
}

.btn-remove.active, .btn-remove:active, .show>.btn-remove.dropdown-toggle {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(235, 235, 235, 1);
    background-image: none;
    border-color: rgba(235, 235, 235, .5);
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: rgba(235, 235, 235, 1);
    background-color: rgba(85, 144, 151, 1);
    border-color: rgba(85, 144, 151, .5);
    box-shadow: none;
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: rgba(235, 235, 235, 1);
    background-color: inherit;
    border-color: rgba(235, 235, 235, .5);
    box-shadow: none;
}

.btn-remove:not([disabled]):not(.disabled).active, .btn-remove:not([disabled]):not(.disabled):active, .show>.btn-remove.dropdown-toggle {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(235, 235, 235, 1);
    border-color: rgba(235, 235, 235, .5);
    box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: rgba(85, 144, 151, 1);
    border-color: rgba(85, 144, 151, 1);
    cursor: not-allowed;
}

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
    color: rgba(235, 235, 235, 1);
}

.btn.disabled, .btn:disabled {
    opacity: .5;
}

.btn-press {
  color: rgba(235, 235, 235, 1);
  background-color: inherit;
  border-width: 0.1rem;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  letter-spacing: .07rem;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  opacity: .5;
}

.btn-icon-press {
  color: rgba(235, 235, 235, 1);
  background-color: inherit;
  border-width: 0.1rem;
  border-color: rgba(235, 235, 235, 1);
  border-style: solid;
  width: 100%;
  padding-top: 2.2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
  letter-spacing: .07rem;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  opacity: .5;
}

.pdp-user-age-block .active,
.pdp-insurance-block .active,
.pdp-user-quantity-block .active {
  opacity: 1;
  background-color: rgba(235, 235, 235, .15);
}

.btn-press:hover,
.btn-icon-press:hover {
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn-press:focus,
.btn-icon-press:focus {
    outline: none;
}
