@import "~bootstrap/dist/css/bootstrap.css";

/**********************************************************************/
/*************************   Container Page   *************************/
/**********************************************************************/

body {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container-fluid {
}

.nav-container {
  padding-bottom: .95rem;
  padding-top: 5rem;
  position: fixed;
  bottom: 0;
  z-index: 3;
  width: 100%;
  /* background-image: url(assets/img/nav-gradient.png); */
  background-size: contain;
  background-repeat: repeat-x;
  background-image: linear-gradient(to top, rgba(0,0,0,.4) 0%,rgba(0,0,0,.3) 25%,rgba(0,0,0,.2) 50%,rgba(0,0,0,.1) 75%,rgba(0,0,0,0) 100%);
}

.nav-container p:first-of-type{
  text-align: center;
  font-size: .7rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
  letter-spacing: .07rem;
}

.nav-container p:last-of-type{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 0rem;
  letter-spacing: .07rem;
}

.nav-col {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media only screen and (min-width: 1200px)  {
  .nav-col {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .nav-container {
    padding-bottom: 2.5rem;
  }

  .nav-container .price{
    display: none;
  }
}

@media only screen and (min-width: 576px) {
  .nav-container {
    background-image: none;
  }
}

.nav-container .col-xs-4 {
  width: 33.333333%;
}

/**********************************************************************/
/**************   Paddings, Margins, Heights & Widths   ***************/
/**********************************************************************/

h2 {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 400;
}

h4 {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 400;
}

a {
  color: rgba(235, 235, 235, 1);
}

a:hover {
  text-decoration: none;
  color: rgba(235, 235, 235, 1);
}

/**********************************************************************/
/***************************   Gradients   ****************************/
/**********************************************************************/

.gradient {
  background-image: linear-gradient(to bottom right, rgba(19, 78, 94, 1) 0%, rgba(19, 78, 94, 0) 100%);
}

.gradient-20 {
  background-image: linear-gradient(to bottom right, rgba(19, 78, 94, .5) 0%, rgba(77, 131, 132, .5) 100%);
}

/**********************************************************************/
/*****************************   Logo   *******************************/
/**********************************************************************/

@media only screen and (min-width: 1200px)  {
  .pdp-column-left-bar .logo img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1199.99px)  {
  .pdp-column-left-bar .logo-container{
    float: left;
    margin-top: 1.75rem;
  }

  .pdp-column-left-bar .price-container {
    display: none;
  }

  .pdp-column-left-bar .logo img {
    width: 80px;
  }
}

.header-row .logo img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .pdp-column-left-bar .logo{
    max-width: 540px;
    margin: 0 auto;
  }

  .pdp-column-left-bar .logo .col-xl-12{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .pdp-column-left-bar .logo{
    max-width: 720px;
    margin: 0 auto;
  }

  .pdp-column-left-bar .logo .col-xl-12{
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .pdp-column-left-bar .logo{
    max-width: 960px;
    margin: 0 auto;
  }

  .pdp-column-left-bar .logo .col-xl-12{
    padding-left: 0px;
    padding-right: 0px;
  }
}

/**********************************************************************/
/****************************   Header   ******************************/
/**********************************************************************/

.header-row {
  height: 50vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.header-row .logo-container {
  margin-top: 0rem;
}

.header-row .header-title{
  font-size: 1.4rem;
  letter-spacing: .07rem;
  text-align: center;
  margin-bottom: .5rem;
}

.header-row .header-subtitle{
  font-size: 1rem;
  letter-spacing: .07rem;
  text-align: center;
}

.header-row .title-row {
  margin-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  opacity: 1;
}

.header-row .title-row span{
  font-weight: 400 !important;
  opacity: .75 !important;
}

@media only screen and (max-width : 991.99px) {
  .header-row {
    height: auto;
  }

  .header-row .title-row {
    margin-top: 4rem;
  }

  .header-row .header-title{
    margin-bottom: 2.5rem;
  }
}

/**********************************************************************/
/****************************   Footer   ******************************/
/**********************************************************************/

.footer-row {
  height: 50vh;
}

.footer-center-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

@media only screen and (min-width : 768px) {
  .footer-ul-container {
    height: 11rem !important;
  }
}

.footer-row ul {
  list-style: none;
  margin-bottom: 0rem;
  -webkit-padding-start: 0rem;
}

.footer-ul-container {
  display: block;
  margin: 0 auto;
}

.footer-row ul p {
  margin-bottom: 0rem;
  font-size: .9rem;
  letter-spacing: .07rem;
}

.footer-row ul li {
  margin-bottom: .5rem;
}

.footer-row ul li:last-child {
  margin-bottom: 0rem;
}

.footer-row h4 {
  margin-bottom: 3rem;
}

.footer-row .instagram-icon {
  margin-right: 1rem;
  opacity: .5;
}

.footer-row .facebook-icon {
  margin-right: 1rem;
  opacity: .5;
}

@media only screen and (min-width: 768px)  {
  .footer-column-four {
    padding-top: 9.2rem;
  }
}

@media only screen and (max-width : 768px) {
  .footer-column-two,
  .footer-column-three,
  .footer-column-four {
    display: none;
  }
}

/**********************************************************************/
/************************   Left Bar Container   **********************/
/**********************************************************************/

@media only screen and (min-width: 1200px)  {

  .pdp-column-left-bar .logo-container {
    height: 10vh;
    padding-top: 2.5rem;
  }

  .pdp-column-left-bar .center-container {
    height: 90vh;
    display: flex;
    align-items: center;
  }
}

/**********************************************************************/
/**************************   Steps Small   ***************************/
/**********************************************************************/

.pdp-column-left-bar .steps {
  width: auto;
  float: right;
  margin-top: 1.75rem;
}

.pdp-column-left-bar .steps p{
  display: none;
}

.pdp-column-left-bar .steps .step-line {
  width: 1.2rem;
  border-top-width: .12rem;
  border-top-style: solid;
  border-top-color: rgba(235,235,235,.5);
  margin-top: .7rem;
  float: left;
}

.pdp-column-left-bar .steps .active {
  border-color: rgba(235,235,235,1) !important;
  color: rgba(235,235,235,1) !important;
}

.pdp-column-left-bar .steps .step-one,
.pdp-column-left-bar .steps .step-two,
.pdp-column-left-bar .steps .step-three,
.pdp-column-left-bar .steps .step-four,
.pdp-column-left-bar .steps .step-five {
  float: left;
}

.pdp-column-left-bar .steps .step-one span,
.pdp-column-left-bar .steps .step-two span,
.pdp-column-left-bar .steps .step-three span,
.pdp-column-left-bar .steps .step-four span,
.pdp-column-left-bar .steps .step-five span {
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding-top: .18rem;
  border-radius: 100%;
  border-style: solid;
  border-width: .1rem;
  color: rgba(235,235,235,.5);
  border-color: rgba(235,235,235,.5);
  font-size: .7rem;
}

/**********************************************************************/
/****************************   Steps Big   ***************************/
/**********************************************************************/

@media only screen and (min-width: 1200px)  {

  .pdp-column-left-bar .steps {
  margin: 0 auto;
  width: 9.7rem;
  float: left;
  clear: both;
}

.pdp-column-left-bar .price-container {
  float: left;
  clear: both;
}

.pdp-column-left-bar .steps .step-line {
  height: 1.5rem;
  border-left-width: .12rem;
  border-left-style: solid;
  border-left-color: rgba(235,235,235,.5);
  margin-left: .93rem;
  clear: both;
  border-top: none;
  margin-top: 0rem;
}

.pdp-column-left-bar .steps .active {
  border-color: rgba(235,235,235,1) !important;
  color: rgba(235,235,235,1) !important;
}

.pdp-column-left-bar .steps .step-one,
.pdp-column-left-bar .steps .step-two,
.pdp-column-left-bar .steps .step-three,
.pdp-column-left-bar .steps .step-four,
.pdp-column-left-bar .steps .step-five {
  float: left;
  clear: both;
}

.pdp-column-left-bar .steps .step-one p,
.pdp-column-left-bar .steps .step-two p,
.pdp-column-left-bar .steps .step-three p,
.pdp-column-left-bar .steps .step-four p,
.pdp-column-left-bar .steps .step-five p {
  float: left;
  display: inline-block;
  height: 2rem;
  padding-top: .3rem;
  margin-left: 2rem;
  margin-bottom: 0rem;
  color: rgba(235,235,235,.5);
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-column-left-bar .steps .price-container {
  margin-bottom: 3rem;
  width: 100%;
}

.pdp-column-left-bar .steps .price-container .old-price {
  color: rgba(235,235,235,.5);
}

.pdp-column-left-bar .steps .price-container .new-price {
  color: rgba(235,235,235,1);
}

.pdp-column-left-bar .steps .price-container .amount {
  float: right;
  clear: right;
  font-size: 1.2rem;
  height: 3rem;
  line-height: 3.4rem;
}

.pdp-column-left-bar .steps .price-container .currency {
  font-size: .8rem
}

.pdp-column-left-bar .steps .price-container .prefix {
  color: rgba(235,235,235,.5);
  font-size: .8rem;
  height: 3rem;
}

.pdp-column-left-bar .steps .price-container p {
  display: inline-block;
  letter-spacing: .07rem;
  margin-bottom: 0rem;
}

.pdp-column-left-bar .steps .step-one span,
.pdp-column-left-bar .steps .step-two span,
.pdp-column-left-bar .steps .step-three span,
.pdp-column-left-bar .steps .step-four span,
.pdp-column-left-bar .steps .step-five span {
  float: left;
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding-top: .2rem;
  border-radius: 100%;
  border-style: solid;
  border-width: .1rem;
  color: rgba(235,235,235,.5);
  border-color: rgba(235,235,235,.5);
  font-size: 1rem;
}

}

/**********************************************************************/
/**************************   Product Page   **************************/
/**********************************************************************/
.pdp-container {
  height: 100vh;
  background-size: cover;
}

.pdp-container::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.9) 0%, rgba(77,131,132,.9) 100%);
}

.pdp-column-left-bar {
  height: 100%;
  /* background-color: rgba(77, 131, 132, 1); */
}

@media only screen and (max-width: 1199.98px)  {
  .pdp-column-left-bar {
    height: 5rem;
  }
}

.pdp-column-right-bar {
  height: 100%;
  /* background-color: rgba(77, 131, 132, 1); */
  height: 100vh;
}

.pdp-row-right-bar-container {
  background-color: black;
  margin-top: 1rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-row-right-bar-container {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .pdp-column-right-bar {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 575.99px)  {
  .pdp-container {
    background-image: none !important;
  }

  .pdp-column-right-bar {
    background-color: rgba(77, 131, 132, 1);
  }
}

/**********************************************************************/
/****************************   City Page   ***************************/
/**********************************************************************/

.pdp-block-one {
  height: 20rem;
  background-color: rgba(77, 131, 132, 1);
}

.pdp-city-block-title {
  height: 20rem;
  background-size: cover;
  background-position: center;
}

.pdp-city-block-gradient {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
  display: flex;
  align-items: center;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%),
    linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 40%,rgba(0,0,0,.3) 60%,rgba(0,0,0,0) 100%);
}

.pdp-city-block-gradient .text-block {
  margin: 0 auto;
  text-align: center;
}

.pdp-city-block-gradient .text-block h2 {
  font-size: 1.8rem;
  letter-spacing: .07rem;
  margin-bottom: .8rem;
}

.pdp-city-block-gradient .text-block p {
  font-size: 1rem;
  letter-spacing: .07rem;
  margin-bottom: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

hr {
  display: block;
  height: .1rem;
  border: 0;
  border-top: .1rem solid rgba(235,235,235,.5);
  padding: 0;
}

.pdp-city-block-title .text-block hr {
  width: 2.5rem;
  margin: 0 auto;
  margin-bottom: .55rem;
}

.pdp-icons-block {
  background-color: rgba(77, 131, 132, 1);
  align-items: center;
  display: flex;
  align-items: center;
  height: 20rem;
}

.pdp-icons-block .text-block {
  text-align: center;
  margin: 0 auto;
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-icons-block .icon-block-one span,
.pdp-icons-block .icon-block-two span {
  width: 1rem;
  display: inline-block;
}

.pdp-icons-block .icon-block-one {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.btn-back-container {
  z-index: 1;
  float: left;
  margin-left: .3rem;
}

.btn-next-container {
  z-index: 1;
  float: right;
  margin-right: .3rem;
}

@media only screen and (min-width: 1200px)  {
  .btn-back-container {
    left: 4.5rem;
  }

  .btn-next-container {
    right: 4.5rem;
  }
}

.pdp-review-block {
  background-color: rgba(77, 131, 132, 1);
  align-items: center;
  display: flex;
  align-items: center;
  height: 20rem;
}

.pdp-review-block .text-block {
  text-align: center;
  margin: 0 auto;
  letter-spacing: .07rem;
  font-size: 1rem;
  font-style: italic;
}

.pdp-review-block .text-block p {
  margin-bottom: 0rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.pdp-review-block .avatar-block img {
  border-radius: 50%;
  opacity: .5;
  margin-top: 2rem;
}

.pdp-review-block .avatar-block .avatar-name {
  font-size: .8rem;
  margin-top: .5rem;
  font-style: normal;
}

/**********************************************************************/
/***************************   Deal Card   ****************************/
/**********************************************************************/

.deal-row {
}

.deal-col {
  background-size: cover;
  background-position: center;
}

.deal-card {
  height: 50vh;
}

.deal-card::before {
  content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%),
    linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 65%,rgba(0,0,0,.4) 100%);
}

.deal-card-title {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  z-index: 3;
  float: left;
  font-weight: 400;
}

.deal-card-title h2{
  margin-bottom: .1rem;
}

.deal-card-title span {
  font-size: 1.1rem;
  letter-spacing: .07rem;
  font-weight: 300;
  margin-left: .5rem;
  opacity: .5;
}

.deal-card .icon-fight,
.deal-card .icon-accommodation,
.deal-card .icon-activity,
.deal-card .icon-transportation {
  opacity: .5;
}

.deal-card-price {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 400;
  z-index: 3;
  position: absolute;
  bottom: 0rem;
  left: 2rem;
}

.deal-card-price p span{
  font-size: .7rem;
  font-weight: 400;
  margin-right: .25rem;
}

.deal-card-timer {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  font-weight: 400;
  z-index: 3;
  position: absolute;
  bottom: 0rem;
  right: 2rem;
}

.deal-card .first-row {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  color: rgba(235, 235, 235, 1);
  z-index: 2;
  position: relative;
  height: 50%;
}

.deal-card .second-row {
  color: rgba(235, 235, 235, 1);
  z-index: 2;
  position: relative;
  height: 50%;
}

.discount-number {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding-top: 1.2rem;
  background: rgba(19, 78, 94, 1);
  color: rgba(235, 235, 235, 1);
  text-align: center;
  float: right;
  letter-spacing: .05rem;
}

.percentage-label {
    font-size: .7rem;
    margin-bottom: 0rem;
    opacity: .75;
}

.percentage-number {
    font-size: 1.2rem;
    margin-bottom: -0.2rem;
}

/**********************************************************************/
/****************************   Buttons   *****************************/
/**********************************************************************/

.btn {
  height: 2.2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  line-height: 1.1;
  text-align: center;
  vertical-align: middle;
  letter-spacing: .07rem;
  font-size: .95em;
}

.btn-full {
  width: 100%;
}

.btn-primary {
  color: rgba(235, 235, 235, 1);
  border: none;
  background-color: rgba(85, 144, 151, 1);
}

.btn-round-pdp {
  border: none;
  width: 5rem;
  height: 5rem;
  font-size: .9rem;
  border-radius: 50%;
  letter-spacing: .07rem;
  background: rgba(77,131,132,1);
  color: rgba(235, 235, 235, 1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
  background-color: rgba(85, 144, 151, 0.7);
  cursor: pointer;
  color: rgba(235, 235, 235, 1);
}

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
  box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
}

.btn-remove {
  color: rgba(51, 51, 51, 1);
  border: none;
  background-color: rgba(235, 235, 235, 1);
}

.btn-remove:hover {
  background-color: rgba(235, 235, 235, .7);
  cursor: pointer;
}

.btn-remove:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
  box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
}

.btn-secondary {
  color: rgba(235, 235, 235, 1);
  border-color: rgba(235, 235, 235, 1);
  background-color: inherit;
  border-width: 0.1rem;
  border-style: solid;
}

.btn-secondary:hover {
  border-color: rgba(235, 235, 235, 0.7);
  background-color: inherit;
  color: rgba(235, 235, 235, 1);
  cursor: pointer;
}

.btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
  box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
}

.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: rgba(235, 235, 235, 1);
  background-color: rgba(85, 144, 151, 1);
  background-image: none;
  border-color: rgba(85, 144, 151, .5);
}

.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    color: rgba(235,235,235,1);
    background-color: inherit;
    background-image: none;
    border-color: rgba(235, 235, 235, 1);
}

.btn-remove.active, .btn-remove:active, .show>.btn-remove.dropdown-toggle {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(235, 235, 235, 1);
    background-image: none;
    border-color: rgba(235, 235, 235, .5);
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: rgba(235, 235, 235, 1);
    background-color: rgba(85, 144, 151, 1);
    border-color: rgba(85, 144, 151, .5);
    box-shadow: none;
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: rgba(235, 235, 235, 1);
    background-color: inherit;
    border-color: rgba(235, 235, 235, .5);
    box-shadow: none;
}

.btn-remove:not([disabled]):not(.disabled).active, .btn-remove:not([disabled]):not(.disabled):active, .show>.btn-remove.dropdown-toggle {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(235, 235, 235, 1);
    border-color: rgba(235, 235, 235, .5);
    box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: rgba(85, 144, 151, 1);
    border-color: rgba(85, 144, 151, 1);
    cursor: not-allowed;
}

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
    color: rgba(235, 235, 235, 1);
}

.btn.disabled, .btn:disabled {
    opacity: .5;
}

.btn-press {
  color: rgba(235, 235, 235, 0.5);
  background-color: inherit;
  border-width: 0.1rem;
  border-color: rgba(235, 235, 235, 0.5);
  border-style: solid;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: .95em;
  letter-spacing: .07rem;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.btn-press:hover {
  color: rgba(235, 235, 235, 1);
  border-color: rgba(235, 235, 235, 1);
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
