/**********************************************************************/
/*****************************   Imports   ****************************/
/**********************************************************************/

@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "~ngx-smart-modal/ngx-smart-modal";
@import '~bootstrap/dist/css/bootstrap.css';

/**********************************************************************/
/******************************   HTML   ******************************/
/**********************************************************************/

body, html, .app {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1rem;
	letter-spacing: .07rem;
	font-weight: 400;
	line-height: 150%;
	color: var(--color-one);
	height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
	transition: background-color 9999s ease-in-out 0s;
	-webkit-text-fill-color: rgba(235, 235, 235, 1) !important;
}

:focus {
	outline: none;
}

select:focus {
	outline: none;
}

hr {
	display: block;
	height: .15rem;
	border: 0;
	border-top: .15rem solid var(--color-two);
	padding: 0;
  }

select {
	background-color: rgba(235, 235, 235, 0.15);
	padding: 0rem 1.5rem 0rem 1.5rem;
	border: none;
	color: var(--color-one);
	width: 100%;
	border-radius: 5rem;
	height: 2.5rem;
	background-image: url(assets/icon/down.svg);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: top 1rem right 1.15rem;
	-o-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding-left: 3rem;
	letter-spacing: .07rem;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

select::-ms-expand {
	display: none;
}

select:hover,
select:focus {
	background-color: rgba(235, 235, 235, 0.45);
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

/*********************************************************************/
/*****************************   Input   *****************************/
/*********************************************************************/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: var(--color-two) !important;
}
::-moz-placeholder { /* Firefox 19+ */
	color: var(--color-two) !important;
}
:-ms-input-placeholder { /* IE 10+ */
	color: var(--color-two) !important;
}
:-moz-placeholder { /* Firefox 18- */
	color: var(--color-two) !important;
}

input:focus,
input:active {
	background-color: inherit;
	border-color: var(--color-one);
	color: var(--color-one);
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input {
	letter-spacing: .07rem;
	background-color: inherit;
	border-radius: 0;
	color: var(--color-two);
	border-top: 0rem;
	border-right: 0rem;
	border-left: 0rem;
	border-style: solid;
	border-color: var(--color-two);
	border-bottom-width: .15rem;
	padding: 0.5rem 1rem;
	width: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input:hover {
	border-color: var(--color-one);
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input:valid {
	color: var(--color-one);
}

/**********************************************************************/
/******************************   Font   ******************************/
/**********************************************************************/

h1 {
	font-size: 1.8rem;
	font-weight: 400;
}

h2 {
	font-size: 1.4rem;
	font-weight: 400;
}

h3 {
	font-size: 1rem;
	font-weight: 400;
}

h4 {
	font-size: 1.4rem;
	font-weight: 400;
}

a {
	color: var(--color-one);
}

a:hover {
	text-decoration: none;
	color: var(--color-one);
}

.bold {
	font-weight: bold;
}

.ft-xs {
	font-size: .8rem;
}

.ft-s {
	font-size: 1rem;
}

.ft-m {
	font-size: 1.2rem;
}

.ft-l {
	font-size: 1.4rem;
}

.ft-xl {
	font-size: 1.6rem;
}

.ft-xxl {
	font-size: 1.8rem;
}

/**********************************************************************/
/******************************   Lines   *****************************/
/**********************************************************************/

.line-x {
	height: .15rem;
	background-color: var(--color-two);
}

/**********************************************************************/
/*****************************   General   ****************************/
/**********************************************************************/

:root {
	--color-one: rgba(235,235,235,1);
	--color-two: rgba(235,235,235,.5);
	--color-three: rgba(235,235,235,.15);
	--color-four: rgba(235,235,235,.25);
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.shadow {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.overflow-hidden {
	overflow: hidden;
}

.pointer-all {
	pointer-events: all;
}

.pointer-none {
	pointer-events: none;
}

.center {
	display: flex;
    align-items: center;
    justify-content: center;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.scroll {
	overflow: auto;
	max-height: 100%;
}

.opa-50 {
	opacity: .5;
}

.opa-75 {
	opacity: .75;
}

.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-contain {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ease-in-out {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.center-hori {
	display: block;
    margin: 0 auto;
}

.z-9 {
	z-index: 9;
}

.fl-l {
	float: left;
}

.fl-r {
	float: right;
}

.link {
	cursor: pointer;
}

.flex {
	display: flex;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.flex-x {
	flex-direction: column;
}

.flex-auto {
	flex: auto;
}

.flex-top {
	align-items: flex-start;
}

.flex-center {
	align-items: center;
}

.flex-bottom {
	align-items: flex-end;
}

.inline {
	display: inline-block;
}

.bg-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.clear {
	clear: both;
}

.underline {
	text-decoration: underline;
}

.align-tp {
	vertical-align: top;
}

.align-md {
	vertical-align: middle;
}

.align-bt {
	vertical-align: bottom;
}

@media only screen and (max-width: 1199.98px) {
	.fix-tp-m {
		position: fixed;
		top: 0;
	}

	.fix-bt-m {
		position: fixed;
		bottom: 0;
	}
}

/**********************************************************************/
/******************************   Grid   ******************************/
/**********************************************************************/

.grid-3 {
	width: 25%;
	max-width: 25%;
}

.grid-canvas {
	min-height: 100vh;
	min-width: 100vw;
	max-height: 100vh;
	max-width: 100vw;
}

.grid-flex {
	display: flex;
  	flex-grow: 1;
  	justify-content: space-between;
}

.prio-1 {
	order: -1;
}
  
.prio-2 {
	order: 0;
}
  
.prio-3 {
	order: 1;
}

@media (min-width: 768px) {
	.prio-2-d {
		order: 2;
	}
}

@media only screen and (max-width: 1199.98px) {
	.x-mobile {
		display: none;
	}
}

/**********************************************************************/
/************************   Heights & Widths   ************************/
/**********************************************************************/

.w-25-rem {
	width: 2.5rem;
}

.w-50-rem {
	width: 5rem;
}

.wp-half {
	width: calc(100% / 2);
	max-width: calc(100% / 2);
}

.wp-third {
	width: calc(100% / 3);
	max-width: calc(100% / 3);
}

.wp-fourth {
	width: calc(100% / 4);
	max-width: calc(100% / 4);
}

.wp-twothird {
	width: calc((100% / 3) * 2);
}

.wp-50 {
	width: 50%;
}

.wp-100 {
	width: 100%;
}

.hp-100 {
	height: 100%;
}

.std-h-1 {
	min-height: 15rem;
}

@media only screen and (min-width: 1200px) {
	.std-h-1 {
		height: 25rem;
	}
}

.w-fit {
	width: fit-content;
	width: -webkit-fit-content;
    width: -moz-fit-content;
}

.h-fit {
	height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch;
}

.vh-100-m {
	min-height: 100vh;
}

.flex-half {
	flex: 0 100%;
}
  
@media (min-width: 768px) {
	.flex-half {
		flex: 0 50%;
	}
}

.wp-third-res {
	width: 100%;
	max-width: 100%;
}
  
@media only screen and (min-width: 1200px) {
	.wp-third-res {
		width: calc(100% / 3) !important;
		max-width: calc(100% / 3) !important;
	}
}

.flex-third {
	flex: 0 100%;
}
  
@media (min-width: 768px) {
	.flex-third {
		flex: 0 calc(100% / 3);
	}
}

.flex-twothird {
	flex: 0 100%;
}
  
@media (min-width: 768px) {
	.flex-twothird {
	flex: 0 calc((100% / 3) * 2);
	}
}

.flex-quart {
	flex: 0 100%;
}
  
@media (min-width: 768px) {
	.flex-quart {
	flex: 0 25%;
	}
}

.flex-3quart {
	flex: 0 100%;
}
  
@media (min-width: 768px) {
	.flex-3quart {
	flex: 0 75%;
	}
}

/**********************************************************************/
/***********************   Paddings & Margins   ***********************/
/**********************************************************************/

.px-lf-5-minus {
	margin-left: -5px;
}

.px-tp-5 {
	margin-top: 5px;
}

.px-tp-10 {
	margin-top: 10px;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.mr-25 {
	margin: 2.5rem;
}

.mr-rg-5 {
	margin-right: .5rem;
}

.mr-rg-10 {
	margin-right: 1rem;
}

.mr-rg-25 {
	margin-right: 2.5rem;
}

.mr-rg-50 {
	margin-right: 5rem;
}

.mr-lf-10 {
	margin-left: 1rem;
}

.mr-lf-50 {
	margin-left: 5rem;
}

.mr-tp-2-rev {
	margin-top: -.25rem;
}

.mr-tp-1-rev {
	margin-top: -.1rem;
}

.mr-tp-2 {
	margin-top: .25rem;
}

.mr-tp-5 {
	margin-top: .5rem;
}

.mr-tp-7 {
	margin-top: .75rem;
}

.mr-tp-10 {
	margin-top: 1rem;
}

.mr-tp-25 {
	margin-top: 2.5rem;
}

.mr-tp-50 {
	margin-top: 5rem;
}

.mr-tp-75 {
	margin-top: 7.5rem;
}

.mr-tp-100 {
	margin-top: 10rem;
}

.mr-tp-125 {
	margin-top: 12.5rem;
}

.mr-bt-1 {
	margin-bottom: .1rem;
}

.mr-bt-2 {
	margin-bottom: .25rem;
}

.mr-bt-5 {
	margin-bottom: .5rem;
}

.mr-bt-7 {
	margin-bottom: .75rem;
}

.mr-bt-10 {
	margin-bottom: 1rem;
}

.mr-bt-25 {
	margin-bottom: 2.5rem;
}

.mr-bt-50 {
	margin-bottom: 5rem;
}

.mr-bt-75 {
	margin-bottom: 7.5rem;
}

.mr-bt-100 {
	margin-bottom: 10rem;
}

.mr-bt-100 {
	margin-bottom: 12.5rem;
}

.mr-tp-bt-5 {
	margin-bottom: .5rem;
	margin-top: .5rem;
}

.mr-tp-bt-10 {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.mr-tp-bt-25 {
	margin-bottom: 2.5rem;
	margin-top: 2.5rem;
}

.std-pd-1 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-1 {
		padding-left: 7.5rem;
		padding-right: 7.5rem;
	}
}

.std-pd-2 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.std-pd-3 {
	padding: 7.5rem 2.5rem 7.5rem 2.5rem;
}

@media only screen and (min-width: 576px) {
	.std-pd-3 {
		padding: 12.5rem 2.5rem 12.5rem 2.5rem;
	}
}

.std-pd-4 {
	padding: 5rem 1rem 5rem 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-4 {
		padding: 5rem 2.5rem 5rem 2.5rem;
	}
}

.std-pd-5 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-5 {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

.std-pd-6 {
	padding: 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-6 {
		padding: 2.5rem;
	}
}

.std-pd-7 {
	padding: 5rem 1rem 5rem 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-7 {
		padding: 5rem 7.5rem 5rem 7.5rem;
	}
}

.std-pd-8 {
	padding: 5rem 2.5rem 5rem 2.5rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-8 {
		padding: 2.5rem 5rem 2.5rem 5rem;
	}
}

.std-pd-9 {
	padding: 5rem 1rem 5rem 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-9 {
		padding: 10rem 2.5rem 10rem 2.5rem;
	}
}

.std-pd-all-1 {
	padding: 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-all-1 {
		padding: 2.5rem
	}
}

.std-pd-ver-1 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.std-pd-ver-2 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-ver-2 {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
}

.std-pd-ver-3 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-ver-3 {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

.std-pd-ver-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-ver-4 {
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;
	}
}

.std-pd-ver-6 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.std-pd-hor-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-hor-1 {
		padding-left: 5rem;
		padding-right: 5rem;
	}
}

.std-pd-hor-2 {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-hor-2 {
		padding-left: 10rem;
		padding-right: 10rem;
	}
}

.std-pd-hor-3 {
	padding-left: 1rem;
	padding-right: 1rem;
}

@media only screen and (min-width: 1200px) {
	.std-pd-hor-3 {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}
}

.std-pd-hor-4 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.std-mr-1 {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.pd-10 {
	padding: 1rem;
}

.pd-25 {
	padding: 2.5rem;
}

.pd-lf-10 {
	padding-left: 1rem;
}

.pd-rg-10 {
	padding-right: 1rem;
}

.pd-bt-0 {
	padding-bottom: 0rem;
}

.pd-bt-10 {
	padding-bottom: 1rem;
}

.pd-tp-10 {
	padding-top: 1rem;
}

.pd-bt-25 {
	padding-bottom: 2.5rem;
}

.pd-tp-50 {
	padding-top: 5rem;
}

.pd-bt-50 {
	padding-bottom: 5rem;
}

.pd-tp-75 {
	padding-top: 7.5rem;
}

.pd-bt-75 {
	padding-bottom: 7.5rem;
}

.pd-tp-100 {
	padding-top: 10rem;
}

.pd-bt-100 {
	padding-bottom: 10rem;
}

.pd-tp-25 {
	padding-top: 2.5rem;
}

.pd-tp-bt-25 {
	padding-bottom: 2.5rem;
	padding-top: 2.5rem;
}

.pd-tp-bt-50 {
	padding-bottom: 5rem;
	padding-top: 5rem;
}

.pd-tp-bt-75 {
	padding-bottom: 7.5rem;
	padding-top: 7.5rem;
}

.br-rd-top {
	border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.br-rd-bottom {
	border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.br-rd-all {
	border-radius: 1rem;
}

.br-rd-round {
	border-radius: 100%;
}

.br-rd-full {
	border-radius: 10rem;
}

/***   Paddings - Desktop Only   ***/

@media only screen and (min-width: 768px) {
	.mr-lf-10-d {
		margin-left: 1rem;
	}
	
	.pd-lf-10-d {
		padding-left: 1rem;
	}

	.pd-rg-10-d {
		padding-right: 1rem;
	}
}

/***   Margins - Mobile Only   ***/

@media only screen and (max-width: 767.98px) {
	.mr-bt-10-m {
		padding-bottom: 1rem;
	}

	.mr-bt-25-m {
		padding-bottom: 2.5rem;
	}
}

/**********************************************************************/
/***************************   Gradients   ****************************/
/**********************************************************************/

.gradient {
	background-image: linear-gradient(to bottom right, rgba(19, 78, 94, 1) 0%, rgba(19, 78, 94, 0) 100%);
}

.gradient-reverse {
	background-image: linear-gradient(to top left, rgba(19, 78, 94, 1) 0%, rgba(19, 78, 94, 0) 100%);
}

.gradient-bottom {
	background-image: linear-gradient(to top, rgba(19, 78, 94, 1) 0%, rgba(19, 78, 94, 0) 100%);
}

.gradient-top {
	background-image: linear-gradient(to bottom, rgba(19, 78, 94, 1) 0%, rgba(19, 78, 94, 0) 100%);
}

.gradient-full {
	background: linear-gradient(to bottom right, rgba(19, 78, 94, 1) 0%, rgba(77, 131, 132, 1) 100%);
}

.gradient-20 {
	background-image: linear-gradient(to bottom right, rgba(19, 78, 94, .5) 0%, rgba(77, 131, 132, .5) 100%);
}

.gradient-20-solid {
	background-image: linear-gradient(to bottom right, rgba(48, 89, 101, 1) 0%, rgba(88, 129, 131, 1) 100%);
}

.gradient-95 {
	background-image: linear-gradient(to bottom right, rgba(19, 78, 94, .95) 0%, rgba(77, 131, 132, .95) 100%);
}

.overlay-gradient-75 {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, rgba(19,78,94,.75) 0%, rgba(77,131,132,.75) 100%);
}

.overlay-gradient-95 {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, rgba(19,78,94,.95) 0%, rgba(77,131,132,.95) 100%);
}

.overlay-double-gradient {
	background-image: linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%), linear-gradient(to bottom, rgba(0,0,0,.4) 0%,rgba(0,0,0,0) 35%,rgba(0,0,0,0) 65%,rgba(0,0,0,.4) 100%);
}

.overlay-double-gradient-center {
	background-image: linear-gradient(to bottom right, rgba(19,78,94,.5) 0%, rgba(77,131,132,.5) 100%), linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 40%,rgba(0,0,0,.3) 60%,rgba(0,0,0,0) 100%);
}

.overlay-double-gradient-center-95 {
	background-image: linear-gradient(to bottom right, rgba(19,78,94,.5) 0%, rgba(77,131,132,.5) 100%), linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 40%,rgba(0,0,0,.3) 60%,rgba(0,0,0,0) 100%);
}

@media only screen and (max-width: 1199.98px) {
	.gradient-full-m {
		background: linear-gradient(to bottom right, rgba(19, 78, 94, 1) 0%, rgba(77, 131, 132, 1) 100%);
	}
}

/**********************************************************************/
/*****************************   Stripe   *****************************/
/**********************************************************************/

.StripeElement {
	border-top: 0rem;
	border-right: 0rem;
	border-left: 0rem;
	border-style: solid;
	border-color: var(--color-two);
	border-bottom-width: .15rem;
	padding: 0.5rem 1rem;
	-webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.StripeElement--active, .StripeElement--focus {
	border-color: var(--color-one);
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: none;
}
/**********************************************************************/
/*****************************   Butler   *****************************/
/**********************************************************************/

.butler .text {
	background-color: var(--color-three);
	line-height: 1.6rem;
	margin-top: -1.5rem;
	background-image: url(assets/icon/quote-start.svg), url(assets/icon/quote-end.svg);
	background-position: left 1rem top .75rem, right 1rem bottom .75rem;
	background-repeat: no-repeat;
	background-size: 2rem 2rem, 2rem 2rem;
}

.butler .text img {
	margin-top: -.2rem;
}

/**********************************************************************/
/******************************   Modal   *****************************/
/**********************************************************************/

/***   NPM Package Adjustments   ***/

.nsm-content {
	padding: 0;
	border-radius: 1rem;
	background-color: rgba(235, 235, 235, 0);
}

/***   Luggage   ***/

.luggage-modal .nsm-dialog {
	min-width: 100vw;
}

.luggage-modal .nsm-content {
	margin: 0;
}

/***   Authentication   ***/

.auth-modal .nsm-dialog {
	max-width: 720px;
}

/***   Offline Status Authentication   ***/

.auth-modal .countdown-lp {
	margin-bottom: 2.5rem;
  	display: inline-block;
}

/**********************************************************************/
/*****************************   Account   ****************************/
/**********************************************************************/

.account-container-content {
	width: 100%;
	max-width: 720px;
}

.account-container {
	background-attachment: fixed;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
}

/**********************************************************************/
/***************************   Navigation   ***************************/
/**********************************************************************/

/***   Navigation - Account - Left   ***/

.nav-1 {}

/***   Navigation - Deal - Left   ***/

.nav-2 {
}

/***   Navigation - Deal - Bottom   ***/

.nav-3 {
	position: fixed;
	bottom: 0;
	z-index: 2;
	background-size: contain;
	background-repeat: repeat-x;
	background-image: linear-gradient(to top, rgba(0, 0, 0, .4) 0%, rgba(0, 0, 0, .3) 25%, rgba(0, 0, 0, .2) 50%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, 0) 100%);
}

@media only screen and (min-width: 1200px) {
	.nav-3 .right-bar .prio-2 {
		display: none;
	}

	.nav-3 {
		background-image: none;
	}
}

@media only screen and (max-width: 1199.98px) {
	.nav-3 .left-bar {
		display: none;
	}
}

/***   Navigation - General - Top   ***/

.nav-4 .wp-third {
	height: 2.5rem;
}

@media only screen and (max-width: 1199.98px) {
	.nav-4 p {
		display: none;
	}
}

/***   Navigation - Deal - Leftbar   ***/

.nav-5 .number {
	border-radius: 100%;
	border: .15rem solid var(--color-two);
	color: var(--color-two);
}

.nav-5 .period {
	min-width: 25%;
}

.nav-5 .label {
	margin-bottom: 0rem;
	margin-top: 3px;
	color: var(--color-two);
}

.nav-5 .line {
	background-color: var(--color-two);
}

.nav-5 .active,
.nav-5 .current {
	border-color: var(--color-one);
	color: var(--color-one);
}

.nav-5 .steps .line.active {
	background-color: var(--color-one);
}

@media only screen and (max-width: 1199.98px) {
	
	#dummy {
		display: none;
	}
	
	.nav-5 .logo {
		display: none;
	}

	.nav-5 .logo-mobile {
		width: 2rem;
		float: left;
	}
	
	.nav-5 .line {
		margin-top: 15px;
		width: 1.25rem;
		height: .15rem;
	}
	
	.nav-5 .steps {
		float: right;
	}
	
	.nav-5 .step {
		float: left;
	}
	
	.nav-5 .logo {
		float: left;
	}
	
	.nav-5 .number {
		width: 2rem;
		height: 2rem;
	}
}

@media only screen and (min-width: 1200px) {
	
	#summary {
		flex-direction: column;
		height: 100%;
		height: -webkit-fill-available;
		height: -moz-available;
		height: stretch;
		display: flex;
  		flex-grow: 1;
  		justify-content: space-between;
	}

	.nav-5 {
		min-height: 100vh;
		display: flex;
    	align-items: center;
    	justify-content: center;
	}

	.nav-5 .steps {
		display: flex;
    	align-items: center;
    	justify-content: center;
	}

	.nav-5 .step,
	.nav-5 .line {
		clear: both;
	}

	.nav-5 .number {
		width: 2rem;
		height: 2rem;
	}

	.nav-5 .line {
		width: .15rem;
		height: 1.25rem;
		margin-left: 15px;
	}

	.nav-5 .logo {
		display: block;
    	margin-left: auto;
		margin-right: auto;
		width: 7.5rem;
	}

	.nav-5 .logo-mobile {
		display: none;
	}
}

/**********************************************************************/
/******************************   Home   ******************************/
/**********************************************************************/

home .hero h1,
home .hero h3{
	font-weight: 500;
}

home .hero span{
	opacity: .5;
	font-weight: 400;
}

/**********************************************************************/
/******************************   USP   *******************************/
/**********************************************************************/

.usp {
	background-color: rgba(19, 78, 94, 1)
}

.advantages img {
	position: absolute;
}

.advantages .content {
	margin-left: 4rem;
}

.adv {
	flex: 0 100%;
}

@media (max-width: 767.98px) {
	.adv-1,
	.adv-3 {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1199.98px) {
	.adv {
		flex: 0 calc(100% / 2);
	}
	.adv-1 {
		display: none;
	}
}

@media (min-width: 1200px) {
	.adv {
		flex: 0 calc(100% / 3);
	}
}

/**********************************************************************/
/****************************   Deal Card   ***************************/
/**********************************************************************/

.dc .discount {
	margin-bottom: -0.2rem;
}

.dc .sticker {
	border-radius: 100%;
	width: 5rem;
	height: 5rem;
	background: rgba(19, 78, 94, 1);
}

.dc .services img {
	margin-left: .5rem;
	margin-right: .5rem;
}

.dc .services img:first-of-type {
	margin-left: 0;
}

.dc .services img:last-of-type {
	margin-right: 0;
}

/**********************************************************************/
/*****************************   Footer   *****************************/
/**********************************************************************/

footer ul {
	list-style: none;
	margin-bottom: 0rem;
	-webkit-padding-start: 0rem;
}

@media only screen and (max-width : 767.98px) {
	footer .col-two,
	footer .col-three,
	footer .col-four {
		display: none;
	}

	footer .grid-3 {
		width: 100%;
		max-width: 100%;
	}
}

/**********************************************************************/
/****************************   Featured   ****************************/
/**********************************************************************/
  
@media (max-width: 767.98px) {
	.featured .inline:first-of-type,
	.featured .inline:last-of-type  {
		display: none !important;
	}
}
  
/**********************************************************************/
/******************************   Deal   ******************************/
/**********************************************************************/

.left-bar, 
.right-bar {
	width: 100%;
}

@media (min-width: 1200px) {
	.left-bar {
		width: 25%;
	}

	.right-bar {
		width: 75%;
	}
}

/**********************************************************************/
/***************************   Flash Cards   **************************/
/**********************************************************************/

.fc {
	height: auto;
	padding-left: 0rem;
	padding-right: 0rem;
	background-color: rgba(77, 131, 132, 1);
	padding-top: 5rem;
	padding-bottom: 5rem;
  }
  
.fc .content {
	margin: 0 auto;
	flex-wrap: wrap;
	max-width: 1000px;
}

.fc .description {
	width: 100%;
	margin-top: 0;
	margin-left: 1rem;
	margin-bottom: 3rem;
}

.fc .card {
	color: inherit;
	cursor: pointer;
	width: calc(50% - 7.5rem);
	min-width: calc(50% - 7.5rem);
	height: 300px;
	min-height: 300px;
	perspective: 1000px;
	margin: 0rem 1.5rem 0rem 1.5rem;
	position: relative;
	background-color: inherit;
	border: none;
}

@media screen and (max-width: 800px) {
	.fc .card {
		width: calc(50% - 2rem);
		margin-bottom: 2.5rem;
	}
	.fc .card:last-of-type {
		margin-bottom: 0rem;
	}
}

@media screen and (max-width: 500px) {
	.fc .card {
		width: 100%;
	}
}

.fc .front,
.fc .back {
	position: absolute;
	height: 100%;
	width: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transition: ease-in-out 600ms;
}

.fc .front {
	overflow: hidden;
}

.fc .front:before {
	position: absolute;
	display: block;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom right, rgba(19,78,94,.5) 0%, rgba(77,131,132,.5) 100%), linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,.3) 40%,rgba(0,0,0,.3) 60%,rgba(0,0,0,0) 100%);
	z-index: -1;
}

.fc .card:hover .front {
	transform: rotateY(180deg);
}

.fc .card:nth-child(even):hover .front {
	transform: rotateY(-180deg);
}

.fc .back {
	background: rgba(19, 78, 94, 1);
	transform: rotateY(-180deg);
	padding: 0 2em;
}

.fc .card:hover .back {
	transform: rotateY(0deg);
}

.fc .card:nth-child(even) .back {
	transform: rotateY(180deg);
}

.fc .card:nth-child(even):hover .back {
	transform: rotateY(0deg);
}


/**********************************************************************/
/***************************   CMS & Steps   **************************/
/**********************************************************************/

/***   The content block that contains the "Beliebt für"   ***/

.cms-1 app-interest img {
	margin-left: .5rem;
	margin-right: .5rem;
}

.cms-1 app-interest:first-of-type img {
	margin-left: 0rem;
}

.cms-1 app-interest:last-of-type img {
	margin-right: 0rem;
}

/***   The content block that contains the temperature and the butler   ***/

.cms-2 {
	overflow: hidden;
}
  
.cms-2 .chart-container {
	width: calc(100% + 32px);
	margin-left: -22px;
}

.cms-2 .left {
	margin-left: 56px;
}

.cms-2 .right {
	margin-right: 42px;
}

.cms-2 .bg-months {
	background-color: rgba(235,235, 235, .15);
	height: 100px;
	width: 100%;
	margin-top: -37px;
}

@media screen and (min-width: 791px) {
	.cms-2 .bg-months {
		margin-top: -30px;
	}
}

/***   The content block that the rating with the hearts   ***/

.cms-3 img {
	margin-left: .5rem;
	margin-right: .5rem;
}

/***   This counts for all steps that are centered on desktop and not on mobile   ***/

.step-mobile-center {
	min-height: auto;
	padding-top: 5rem;
	margin-bottom: 7.5rem;
}

.step-mobile-normal {
	margin-bottom: 7.5rem;
}

@media only screen and (min-width: 1200px) {
	.step-mobile-center {
		min-height: 100vh;
		padding-top: 0rem;
		margin-bottom: 0rem;
	}
}

@media only screen and (max-width: 1199.98px) {
	.step-mobile-normal {
		padding-top: 5rem;
	}
}

/***   The calendar step   ***/

.step-ca .nights {
	background-image: url(assets/icon/icon-moon.svg);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: top .7rem left 1.15rem;
}
.step-ca .airport {
	background-image: url(assets/icon/icon-flight.svg);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: top .7rem left 1.15rem;
}

.cal-days {
	background-image: linear-gradient(to bottom right, rgba(19, 78, 94, .6) 0%, rgba(77, 131, 132, .6) 100%);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	overflow: hidden;
}

@media only screen and (max-width: 575.98px) {
	.cal-month-view .cal-day-badge {
		display: none;
	}
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
	font-size: 1rem;
}

.cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
	color: var(--color-two);
	font-size: 1rem;
}

.cal-month-view .cal-day-number {
	color: var(--color-two);
	font-size: 1rem;
	opacity: 1;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events .cal-day-number {
	color: var(--color-one);
}

.cal-month-view .cal-day-cell:not(:last-child) {
	border-right: 1px solid rgba(235, 235, 235, .15);
}

.cal-month-view .cal-days .cal-cell-row {
	border-bottom: 1px solid rgba(235, 235, 235, .15);
}

.cal-month-view .cal-days .ng-star-inserted:last-child .cal-cell-row {
	border-bottom: 0px solid rgba(235, 235, 235, .15);
}

.cal-month-view .cal-cell-row .cal-cell:hover, .cal-month-view .cal-cell.cal-has-events.cal-open {
	background-color: rgba(235, 235, 235, .15);
	color: var(--color-one);
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.cal-open-day-events {
	display: none;
}

.cal-month-view .cal-day-cell {
    -moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.cal-month-view .cal-days {
	border: 0px solid rgba(235, 235, 235, .15);
	border-bottom: 0;
}

/* The names of the months */
.cal-month-view .cal-header {
	font-weight: normal;
	font-size: 1rem;
	color: var(--color-two);
}

/* The little badge in the left corner of the date that displays the amount of offers */
.cal-month-view .cal-day-badge {
	background-color: var(--color-three);
	color: var(--color-one);
	font-weight: normal;
	font-size: .8rem;
	min-width: 1.4rem;
	min-height: 1.4rem;
	padding: 5px 0px;
	border-radius: 100%;
	margin-top: 16px;
	margin-left: 15px;
}

/* The price of the offer */
.cal-month-view small {
	margin-left: 15px;
	margin-bottom: 10px;
	font-size: .8rem;
	text-align: left;
}

.cal-month-view,
.cal-month-view .cal-day-cell.cal-today,
.cal-month-view .cal-cell-row:hover {
	background-color: inherit;
}

/***   The activities step   ***/

.step-ac .ng-star-inserted:last-of-type .ac {
	margin-bottom: 0rem;
}

@media only screen and (min-width: 768px) {
	.ac .services {
		text-align: right;
	}

	.ac .btn-full {
		max-width: 12.5rem;
	}

	.ac .flex-quart {
		text-align: right;
	}
}

/***   The transportation step   ***/

@media only screen and (min-width: 768px) {
	.step-tr .services {
		text-align: right;
	}
}

/***   The luggage detail step   ***/


.step-ld .product {
	height: 20rem;
	width: 11rem;
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fcms%2Fcms_00002.png?alt=media&token=2004ee0a-01f1-462d-ba4b-20119edb94be');
}

.step-ld .length {
    margin-left: 2.5rem;
    padding-left: 1.5rem;
    border-left-color: rgba(235,235,235,.25);
    border-left-width: .2rem;
    border-left-style: solid;
    height: 20rem;
}

.step-ld .depth,
.step-ld .width {
    width: 4rem;
    padding-top: 1.5rem;
    border-top-color: rgba(235,235,235,.25);
    border-top-width: .2rem;
    border-top-style: solid;
}

.luggage-detail .luggage-wrapper {
    align-items: center;
    justify-content: center;
}

.step-ld .logo {
    height: 3rem;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
	.step-ld .product {
		height: 28rem;
        width: 15.5rem;
	}

	.step-ld .width {
        width: 6rem;
        margin-left: 1.25rem;
    }
    
    .step-ld .depth {
        width: 5.5rem;
        margin-left: 1.5rem;
    }
}

/***   The travel guide overview & details   ***/

.tg-1 {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00001-6.jpg?alt=media&token=7429e631-d90e-4f6d-b944-5e917d809ee2');
}

.tg-2 {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00004-1.jpg?alt=media&token=47774063-d38d-4b41-b2d3-55a77ae7ad34');
}

.tg-3 {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00002-13.jpg?alt=media&token=6d11d9f2-1258-43e0-b787-df79b3e7a1f6');
}

.tg-4 {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00005-5.jpg?alt=media&token=b0477f97-437b-4a21-9a6c-61788c69868f');
}

.tg-5 {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00007-1.jpg?alt=media&token=98d24485-aa21-4e13-9f7f-36c63b296136');
}

.tg-6 {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00008-1.jpg?alt=media&token=6eb691eb-8c85-434e-8f53-615b44a6fd7a');
}

.tg-7 {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00003-6.jpg?alt=media&token=c9aa8084-cb25-456e-9f68-7fecb4b4700f');
}

.tg-8 {
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00006-2.jpg?alt=media&token=75721304-bae9-481c-814e-434123f05033');
}

/***   The chat bot   ***/

.cb {
	padding-top: 73px;
	padding-bottom: 72px;
}

.cb .bot .text {
	background: var(--color-three);
	width: fit-content;
}

.cb .user .text {
  	background: var(--color-three);
  	width: fit-content;
}

.cb .avatar {
	width: 2.5rem;
	height: 2.5rem;
	margin-top: 1px;
	background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-assistant%402x.png?alt=media&token=6edcb3be-5a71-45d3-9825-f7c31e690cca');
}

.cb .msg-bar {
	position: fixed;
	left: 0rem;
	right: 0rem;
	bottom: 0rem;
}

.cb .user-bar {
	position: fixed;
	left: 0rem;
	right: 0rem;
	top: 0rem;
}

.cb input {
    border-radius: 1rem;
    border: none;
    background-color: var(--color-three);
}

.cb input:focus {
    background-color: var(--color-three);
}

.cb .title {
    margin-top: -7px;
}

.cb .back {
	margin-top: 1px;
}

/***   The payment form   ***/

.pf .tt{
	margin-top: -3px;
}

/***   The success step   ***/

.su .ct {
	width: 10rem;
	height: 10rem;
	background: rgba(19, 78, 94, 1);
}

.su .tt{
	margin-top: -3px;
}

/***   The luggage detail step   ***/


.step-ad .option-offer {
	margin-bottom: 1rem;
}

.step-ad .option-offer:last-of-type {
	margin-bottom: 0rem;
}

/**********************************************************************/
/*************************   Buttons & Pills   ************************/
/**********************************************************************/

/***   Buttons   ***/

.btn {
	height: 2.5rem;
	border-radius: 100%;
	-webkit-border-radius: 3rem;
	-moz-border-radius: 3rem;
	text-align: center;
	vertical-align: middle;
	letter-spacing: .07rem;
	font-size: 1rem;
}

.btn-full {
	width: 100%;
}

.btn-primary {
	color: var(--color-one);
	border: none;
	background-color: rgba(85, 144, 151, 1);
}

.btn-round-sm {
	display: flex;
    align-items: center;
    justify-content: center;
	border: none;
	font-size: 1.2rem;
	border-radius: 100%;
	height: 2.5rem;
	width: 2.5rem;
	background: rgba(85, 144, 151, 1);
	color: var(--color-one);
	cursor:pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-round-sm:hover {
	background-color: rgba(86, 138, 144, 1);
	cursor: pointer;
	color: var(--color-one);
}

.btn-round-sm:not(:disabled):not(.disabled):active:focus, .btn-round-sm:not(:disabled):not(.disabled).active:focus, .show > .btn-round-sm.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
	box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
}

.btn-round-sm:focus {
	outline: none;
}

.btn-small {
	font-size: .8rem;
	height: 2rem;
	line-height: 1;
	padding-left: 1rem;
	padding-right: 1rem;
}

.btn-round-pdp {
	border: none;
	width: 5rem;
	height: 5rem;
	font-size: .9rem;
	border-radius: 100%;
	letter-spacing: .07rem;
	background: rgba(85, 144, 151, 1);
	color: var(--color-one);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
  
.btn-round-pdp:not(:disabled):not(.disabled):active:focus, .btn-round-pdp:not(:disabled):not(.disabled).active:focus, .show>.btn-round-pdp.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
	box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
}

.pulse {
	-webkit-box-shadow: 0 0 0 0 rgba(235, 235, 235, 0.5);
	-moz-box-shadow: 0 0 0 0 rgba(235, 235, 235, 0.5);
	box-shadow: 0 0 0 0 rgba(235, 235, 235, 0.5);
	-webkit-animation: pulse 1.25s cubic-bezier(0.2, 0, 0, 1);
  	-moz-animation: pulse 1.25s cubic-bezier(0.2, 0, 0, 1);
  	-ms-animation: pulse 1.25s cubic-bezier(0.2, 0, 0, 1);
	animation: pulse 1.25s cubic-bezier(0.2, 0, 0, 1);
	animation-iteration-count: 3;
	animation-delay: 3s;
}

.pulse:active,
.pulse:hover {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	animation: none;
	box-shadow: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(235, 235, 235, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(235, 235, 235, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(235, 235, 235, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(235, 235, 235, 0);}}

.btn-round-pdp:hover {
	background-color: rgba(86, 138, 144, 1);
	cursor: pointer;
	color: var(--color-one);
}

.btn-round-pdp:focus {
	outline: none;
}

.btn-primary:hover {
	background-color: rgba(86, 138, 144, 1);
	cursor: pointer;
	color: var(--color-one);
}

.btn-primary:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
	box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
	background-color: rgba(86, 138, 144, 1);
	border-color: inherit;
	color: var(--color-one);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
	box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
}

.btn-remove {
	color: rgba(51, 51, 51, 1);
	border: none;
	background-color: var(--color-one);
}

.btn-remove:hover {
	background-color: rgba(235, 235, 235, .7);
	cursor: pointer;
}

.btn-remove:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
	box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
}

.btn-secondary {
	color: var(--color-one);
	border-color: var(--color-one);
	background-color: inherit;
	border-width: 0.1rem;
	border-style: solid;
}

.btn-secondary:hover {
	border-color: rgba(235, 235, 235, 0.7);
	background-color: inherit;
	color: var(--color-one);
	cursor: pointer;
}

.btn-secondary:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
	box-shadow: 0 0 0 2px rgba(235, 235, 235, .5);
}

.btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
	color: var(--color-one);
	background-color: rgba(85, 144, 151, 1);
	background-image: none;
	border-color: rgba(85, 144, 151, .5);
}

.btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
	color: var(--color-one);
	background-color: inherit;
	background-image: none;
	border-color: var(--color-one);
}

.btn-remove.active, .btn-remove:active, .show>.btn-remove.dropdown-toggle {
	color: rgba(51, 51, 51, 1);
	background-color: var(--color-one);
	background-image: none;
	border-color: var(--color-two);
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	color: var(--color-one);
	background-color: rgba(85, 144, 151, 1);
	border-color: rgba(85, 144, 151, .5);
	box-shadow: none;
}

.btn-secondary:not([disabled]):not(.disabled).active, .btn-secondary:not([disabled]):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
	color: var(--color-one);
	background-color: inherit;
	border-color: var(--color-two);
	box-shadow: none;
}

.btn-remove:not([disabled]):not(.disabled).active, .btn-remove:not([disabled]):not(.disabled):active, .show>.btn-remove.dropdown-toggle {
	color: rgba(51, 51, 51, 1);
	background-color: var(--color-one);
	border-color: var(--color-two);
	box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled {
	background-color: rgba(85, 144, 151, 1);
	border-color: rgba(85, 144, 151, 1);
	cursor: not-allowed;
}

.btn-primary.disabled:hover, .btn-primary:disabled:hover {
	color: var(--color-one);
}

.btn.disabled, .btn:disabled {
	opacity: .5;
}

.btn-press {
	color: var(--color-one);
	background-color: inherit;
	border-width: 0.1rem;
	border-color: var(--color-one);
	border-style: solid;
	width: 100%;
	padding-top: 2rem;
	padding-bottom: 2rem;
	font-size: 1rem;
	letter-spacing: .07rem;
	-moz-transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
	border-radius: 0;
	opacity: .5;
}

.btn-icon-press {
	color: var(--color-one);
	background-color: rgba(235, 235, 235, 0.15);
	border-width: 0rem;
	width: 100%;
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
	font-size: 1rem;
	letter-spacing: .07rem;
	-moz-transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
}

.btn-option-press {
	color: var(--color-one);
	background-color: rgba(235, 235, 235, 0.15);
	border-width: 0rem;
	width: 100%;
	padding-top: 1.2rem;
	padding-bottom: 1rem;
	font-size: 1rem;
	letter-spacing: .07rem;
	-moz-transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
	border-radius: 1rem;
}

.option-offer .active,
.toggle .active {
	background-color: rgba(235, 235, 235, .45);
}

.btn-press:hover, .btn-option-press:hover, .btn-icon-press:hover {
	opacity: 1;
	-moz-transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
	cursor: pointer;
}

.btn-icon-press.active p,
.btn-icon-press.active img {
	opacity: 1;
	-moz-transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
}

.btn-icon-press p,
.btn-icon-press img {
	-moz-transition: all .75s ease-in-out;
	-webkit-transition: all .75s ease-in-out;
	-o-transition: all .75s ease-in-out;
	-ms-transition: all .75s ease-in-out;
	transition: all .75s ease-in-out;
	opacity: .35;
}

.btn-press:focus, .btn-option-press:focus, .btn-icon-press:focus {
	outline: none;
}

/***   Toggle   ***/

.toggle-radius-left {
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 0rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 0rem;
}

.toggle-radius-right {
	border-bottom-left-radius: 0rem;
	border-bottom-right-radius: 1rem;
	border-top-left-radius: 0rem;
	border-top-right-radius: 1rem;
}

.toggle-split-left {
	padding-left: 0rem;
}

.toggle-split-right {
	padding-right: 0rem;
}

@media only screen and (max-width: 767.98px) {

	.toggle-radius-left {
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
	}
	
	.toggle-radius-right {
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		border-top-left-radius: 0rem;
		border-top-right-radius: 0rem;
	}
}

.toggle-split {
	z-index: 1;
	display: block;
	top: calc(50% - 20px);
	left: calc(50% - 2rem);
	font-size: .8rem;
	padding: .5rem;
	border-radius: .5rem;
	background-color: var(--color-one);
	width: 4rem; color: rgba(0, 0, 0, .75);
	text-align: center;
	position: absolute;
	height: auto;
}

/***   Pill   ***/

.pill {
	padding: .375rem 0.75rem;
	background: var(--color-four);
	border-radius: 2rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
}

/***   Number Picker   ***/

.np {
	background-color: var(--color-three);
}

/**********************************************************************/
/*****************************   Spinner   ****************************/
/**********************************************************************/

@media only screen and (min-width: 1200px)  {
	.spinner-container {
	  margin-top: 30vh;
	}
}

/**********************************************************************/
/*****************************   Toastr   *****************************/
/**********************************************************************/

.toast-title {
	font-weight: normal;
	font-size: .95rem;
}
.toast-message {
	word-wrap: break-word;
	font-size: .95rem;
}
.toast-message a, .toast-message label {
	color: var(--color-one);
}
.toast-message a:hover {
	color: var(--color-one);
	text-decoration: none;
}
.toast-close-button {
	position: relative;
	right: -.3em;
	top: -.3em;
	float: right;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
	opacity: .8;
}
.toast-close-button:focus, .toast-close-button:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .4;
}
button.toast-close-button {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}
.toast-top-center {
	top: 0;
	right: 0;
	width: 100%;
}
.toast-bottom-center {
	bottom: 0;
	right: 0;
	width: 100%;
}
.toast-top-full-width {
	top: 0;
	right: 0;
	width: 100%;
}
.toast-bottom-full-width {
	bottom: 0;
	right: 0;
	width: 100%;
}
.toast-top-left {
	top: 12px;
	left: 12px;
}
.toast-top-right {
	top: 12px;
	right: 12px;
}
.toast-bottom-right {
	right: 12px;
	bottom: 12px;
}
.toast-bottom-left {
	bottom: 12px;
	left: 12px;
}
#toast-container {
	pointer-events: none;
	position: fixed;
	z-index: 99999;
}
#toast-container * {
	box-sizing: border-box;
}
#toast-container>div {
	position: relative;
	overflow: hidden;
	margin: 0 0 6px;
	padding: 15px 15px 15px 15px;
	width: 300px;
	height: 78px;
	border-radius: 5px 5px 5px 5px;
	background-position: 0 0;
	background-repeat: no-repeat;
	box-shadow: none;
	border-width: 0rem !important;
	opacity: 1;
}
#toast-container>div.toast-custom {
	padding: 15px;
	color: #030303;
}
#toast-container>div.toast-custom .toast-close-button {
	color: #999!important;
}
#toast-container>:hover {
	box-shadow: none;
}
#toast-container.toast-bottom-center>div, #toast-container.toast-top-center>div {
	width: 300px;
	margin: auto;
}
#toast-container.toast-bottom-full-width>div, #toast-container.toast-top-full-width>div {
	width: 96%;
	margin: auto;
}
.toast {
	background-color: #fff;
	pointer-events: auto;
}
.toast-success {
	background-color: rgba(19, 78, 94, 1);
}
.toast-error {
	background-color: rgba(19, 78, 94, 1);
}
.toast-info {
	background-color: rgba(19, 78, 94, 1);
}
.toast-warning {
	background-color: rgba(19, 78, 94, 1);
}
@media only screen and (min-width: 1200px) {
	.toast-error {
		background-color: rgba(19, 78, 94, .6);
	}
	.toast-success {
		background-color: rgba(19, 78, 94, .6);
	}
	.toast-info {
		background-color: rgba(19, 78, 94, .6);
	}
	.toast-warning {
		background-color: rgba(19, 78, 94, .6);
	}
}
.toast-progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	background-color: var(--color-one);
	opacity: .5;
}
@media (max-width:240px) {
	#toast-container>div {
		padding: 15px 15px 15px 15px;
		width: 11em;
	}
	#toast-container .toast-close-button {
		right: -.2em;
		top: -.2em;
	}
}
@media (min-width:241px) and (max-width:480px) {
	#toast-container>div {
		padding: 15px 15px 15px 15px;
		width: 18em;
	}
	#toast-container .toast-close-button {
		right: -.2em;
		top: -.2em;
	}
}
@media (min-width:481px) and (max-width:768px) {
	#toast-container>div {
		padding: 15px 15px 15px 15px;
		width: 25em;
	}
}

/**********************************************************************/
/*****************************   Tooltip   ****************************/
/**********************************************************************/

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
	border-top-color: var(--color-one);
}
.bs-tooltip-top {
	margin-bottom: .25rem;
}
.tooltip-inner {
	padding: 1rem;
	color: rgba(19, 78, 94, 1);
	background-color: var(--color-one);
	border-radius: 1rem;
	letter-spacing: .07rem;
}
.tooltip.show {
	opacity: 1;
}

/**********************************************************************/
/***************************   NG Sidebar   ***************************/
/**********************************************************************/

.ng-sidebar {
	z-index: 10 !important;
	width: 100% !important;
	max-width: 100vw !important;
	-webkit-transition: -webkit-transform ease 0.3s;
    transition: -webkit-transform ease 0.3s;
    transition: transform ease 0.3s;
    transition: transform ease 0.3s, -webkit-transform ease 0.3s;
    will-change: transform;
}

.ng-sidebar__backdrop {
    background: rgb(0,0,0);
    opacity: 0 !important;
	z-index: 4 !important;
}

@media only screen and (min-width: 1200px) {
	.ng-sidebar {
		width: 100% !important;
		max-width: calc((100% / 12)*3) !important;
	}
}

/**********************************************************************/	
/*************************   Timer Homepage   *************************/
/**********************************************************************/

.number-weeks,
.number-days,
.number-hours,
.number-minutes,
.number-seconds {
  margin-bottom: 0rem !important;
  font-size: 1.2rem;
  width: 100%;
}

.label-weeks,
.label-days,
.label-hours,
.label-minutes,
.label-seconds {
  margin-bottom: 0rem !important;
  font-size: .7rem;
  width: 100%;
}

.countdown-seconds,
.countdown-minutes,
.countdown-hours,
.countdown-days,
.countdown-weeks {
  	position: relative;
  	margin: auto;
  	width: 5rem;
  	height: 5rem;
  	text-align: center;
  	float: left;
	margin-left: .8rem;
  	align-items: center;
  	display: flex;
}

.countdown-number {
  color: white;
  display: inline-block;
  width: 100%;
}

.timer-container .countdown-circle:first-of-type {
  display: flex !important;
  margin-right: 0rem !important;
}

.timer-container .countdown-circle{
  display: none !important;
}

.main-timer svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.main-timer svg circle {
  stroke-dasharray: 238.7610416px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: .2rem;
  stroke: rgba(235, 235, 235, .8);
  fill: none;
}

.bg-timer svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.bg-timer svg circle {
  stroke-linecap: round;
  stroke-width: .2rem;
  stroke: rgba(235, 235, 235, .3);
  fill: none;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 238.7610416px;
  }
}

@media only screen and (min-width: 0px) {

	
.offline-lp .timer-container .countdown-hours,
.offline-lp .timer-container .countdown-days{
	display: flex !important;
}

  .timer-container .countdown-circle:first-of-type{
    margin-right: 0rem !important;
  }
}

@media only screen and (min-width: 576px) {

	.offline-lp .timer-container .countdown-minutes,
	.offline-lp .timer-container .countdown-hours,
  	.offline-lp .timer-container .countdown-days {
    	display: flex !important;
  	}

	.timer-container .countdown-circle:first-of-type{
    	margin-left: 0rem !important;
  	}
}

@media only screen and (min-width: 768px) {
  	.dc .timer-container .countdown-hours,
  	.dc .timer-container .countdown-days {
    	display: flex !important;
	}

	.offline-lp .timer-container .countdown-seconds,
	.offline-lp .timer-container .countdown-minutes,
	.offline-lp .timer-container .countdown-hours,
  	.offline-lp .timer-container .countdown-days{
    	display: flex !important;
  	}

  	.timer-container .countdown-circle:first-of-type{
    	margin-left: 0rem !important;
  	}
}

@media only screen and (min-width: 992px) {
  .dc .timer-container .countdown-minutes,
  .dc .timer-container .countdown-hours,
  .dc .timer-container .countdown-days{
    display: flex !important;
  }

  .timer-container .countdown-circle:first-of-type{
    margin-left: 0rem !important;
  }
}

@media only screen and (min-width: 1200px) {
  .dc .timer-container .countdown-seconds,
  .dc .timer-container .countdown-minutes,
  .dc .timer-container .countdown-hours,
  .dc .timer-container .countdown-days{
    display: flex !important;
  }

  .timer-container .countdown-circle:first-of-type{
    margin-left: 0rem !important;
  }
}

/**********************************************************************/
/****************************   Carousel   ****************************/
/**********************************************************************/

.carousel {
  max-height: 25rem;
}

.carousel-item::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	background-image: linear-gradient(to bottom right, rgba(19,78,94,.4) 0%, rgba(77,131,132,.4) 100%);
}

.carousel-indicators li {
    background-color: rgb(235, 235, 235, 1);
    opacity: .5;
}

.carousel-control-next-icon {
    background-image: url(assets/icon/next.svg);
}

.carousel-control-prev-icon {
    background-image: url(assets/icon/back.svg);
}

.carousel-control-next,
.carousel-control-prev {
    cursor:pointer;
}

.carousel-item img {
	max-width: 100%;
}

.carousel-inner {
	display: flex; align-items: center;
}

.apexcharts-tooltip.apexcharts-theme-light,
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
	background: rgba(235, 235, 235, 1) !important;
	color: rgba(0, 0, 0, .75) !important;
	font-size: .8rem !important;
	border: none;
}

.apexcharts-tooltip-title {
	text-align: center;
}

.apexcharts-tooltip-text-value {
	font-weight: normal !important;
}