.section-team-intro,
.section-team-questions {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-team-questions {
  background-image:
    linear-gradient(to bottom right, rgba(19,78,94,.75) 0%, rgba(77,131,132,.75) 100%),
    url(assets/img/300002_1.jpg);
  background-position: center;
  background-size: cover;
}

.section-team-intro p,
.section-team-questions p {
  margin-bottom: 0rem;
  letter-spacing: .07rem;
}

@media only screen and (min-width: 576px) {
  .section-team-intro,
  .section-team-questions {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-team-intro,
  .section-team-questions {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

.section-team-person {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-team-person .quote {
  margin-bottom: 0rem;
  letter-spacing: .07rem;
}

.section-team-person img {
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
  border-radius: 50%;
  opacity: .5;
}

.section-team-person .name {
  font-size: .8rem;
  margin-top: .5rem;
  letter-spacing: .07rem;
  margin-bottom: 0rem;
}

.section-team-person .title {
  font-size: .8rem;
  letter-spacing: .07rem;
  margin-bottom: 0rem;
}

@media only screen and (min-width: 576px) {
  .section-team-person {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .section-team-person {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}
