<header class="row gradient">
  <div class="col-xl-12 cms-block-title" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F4_00001_1.jpg?alt=media&token=36559f11-56ce-4d92-b73c-01fd641b7a98');">
    <div class="cms-block-gradient">
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-xl-12 logo-container">
          <a href="/">
            <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
          </a>
        </div>
      </div>
      <div class="row" style="margin-left:0px; margin-right:0px;">
        <div class="col-xl-12 text-block">
          <h2>Team</h2>
          <hr/>
          <p>Der Kraft hinter Flugio</p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row gradient-full section-team-intro">
  <p>Ein Gespür für den aktuellen Zeitgeist machen uns zum Experten für Ihre Bedürfnisse und Wünsche und zu einem Vorreiter für neue Reisewege. Das ist Flugio.</p>
</div>

<div class="row">
  <div class="col-lg-6 gradient-full section-team-person">
    <p class="quote">"Wenn Menschen zur Arbeit gehen, sollten sie ihre Herzen nicht zu Hause lassen müssen."</p>
    <img _ngcontent-c8="" alt="Avatar Bastiaan Harmsen" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431">
    <p class="name">Bastiaan Harmsen</p>
    <p class="title">Gründer CEO</p>
  </div>
  <div class="col-lg-6 gradient-full section-team-person">
    <p class="quote">"Die einzige Möglichkeit, großartige Arbeit zu leisten, besteht darin, das zu lieben, was Sie tun."</p>
    <img _ngcontent-c8="" class="avatar gradient" alt="Avatar Carlos Rosao" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2F1531738354445_carlos.jpg?alt=media&token=98504ca1-130b-4d9c-9457-3abee04a1ec5">
    <p class="name">Carlos Rosão</p>
    <p class="title">Mitgründer CTO</p>
  </div>
</div>

<div class="row section-team-questions">
  <div>
    <p>Hast du fragen oder wünscht du im Kontakt treten für ein Interview, schickst du mal ein E-mail zum info@flugio.ch und wir antworten so bald wie möglich.</p>
  </div>
</div>

<app-footer></app-footer>
