<div class="bg-cover" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00001-6.jpg?alt=media&token=7429e631-d90e-4f6d-b944-5e917d809ee2');">
  <div class="overlay-double-gradient-center">
    <div class="pd-tp-25 text-center">
      <a href="/">
        <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
      </a>
    </div>
    <div class="std-pd-hor-2 std-pd-ver-2">
      <div class="text-center">
        <h2 class="ft-xxl">Team</h2>
        <hr class="w-25-rem"/>
        <p class="no-margin">Der Kraft hinter Flugio</p>
      </div>
    </div>
  </div>
</div>

<div class="gradient-full text-center std-pd-hor-2 std-pd-ver-2">
  <p class="no-margin">Ein Gespür für den aktuellen Zeitgeist machen uns zum Experten für Ihre Bedürfnisse und Wünsche und zu einem Vorreiter für neue Reisewege. Das ist Flugio.</p>
</div>

<div class="flex-wrap">
  <div class="flex-half std-pd-ver-1 std-pd-hor-1 gradient-full center text-center">
    <div>
      <p class="mr-bt-25">"Wenn Menschen zur Arbeit gehen, sollten sie ihre Herzen nicht zu Hause lassen müssen."</p>
      <img class="mr-bt-10" height="75" width="75" alt="Avatar Bastiaan Harmsen" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431">
      <p class="no-margin">Bastiaan Harmsen</p>
      <p class="ft-xs">Gründer CEO</p>
    </div>
  </div>
  <div class="flex-half std-pd-ver-1 std-pd-hor-1 gradient-full center text-center">
    <div>
      <p class="mr-bt-25">"Die einzige Möglichkeit, großartige Arbeit zu leisten, besteht darin, das zu lieben, was Sie tun."</p>
      <img class="mr-bt-10" height="75" width="75" alt="Avatar Carlos Rosao" src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-carlos-rosao%402x.png?alt=media&token=0048ea65-72b4-42fd-a33b-5c7516c097c7">
      <p class="no-margin">Carlos Rosão</p>
      <p class="ft-xs">Mitgründer CTO</p>
    </div>
  </div>
</div>

<div class="bg-cover" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/cities%2F1-00001-6.jpg?alt=media&token=7429e631-d90e-4f6d-b944-5e917d809ee2');">
  <div class="overlay-double-gradient-center">
    <div class="text-center std-pd-hor-2 std-pd-ver-2">
      <p class="no-margin">Hast du fragen oder wünscht du im Kontakt treten für ein Interview, schickst du mal ein E-mail zum info@flugio.ch und wir antworten so bald wie möglich.</p>
    </div>
  </div>
</div>

<app-footer></app-footer>