.btn-round-sm {
  border: none;
  font-size: 1.2rem;
  border-radius: 100%;
  height: 2.6rem;
  width: 2.6rem;
  background: rgba(85, 144, 151, 1);
  color: rgba(235, 235, 235, 1);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10), 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 3px 1px -2px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-round-sm:hover {
  background-color: rgba(86, 138, 144, 1);
  cursor: pointer;
  color: rgba(235, 235, 235, 1);
}

.btn-round-sm:not(:disabled):not(.disabled):active:focus, .btn-round-sm:not(:disabled):not(.disabled).active:focus, .show > .btn-round-sm.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
  box-shadow: 0 0 0 2px rgba(85, 144, 151, .5);
}

.btn-round-sm:focus {
  outline: none;
}

@media only screen and (min-width: 1200px)  {
  .spinner-container {
    margin-top: 30vh;
  }
}
