<div class="pdp-calendar-block col-xl-12">
  <div class="center-wrap">
    <div class="col-xl-12">
      <div class="row filters">
        <div class="col-xl-4">
          <app-airport-list [selectedAirport]="currentAirport" (selectedAirportChange)="selectedAirportChange($event)"></app-airport-list>
        </div>
        <div class="col-xl-4">
          <app-nights [numberOfNights]="numberOfNights" (selectedNightChange)="selectedNightChange($event)"></app-nights>
        </div>
        <div class="col-xl-4">
          <button class="btn btn-full btn-secondary" type="next"><img class="icon-dot-light-blue" src="assets/icon/icon-dot-light-blue.svg" height="10"> Besten Preis</button>
        </div>
      </div>
      <div class="row">
        <div class="calendar-wrapper">
            <div class="row next-back-buttons">
              <div class="col-xs-4 col-button-back">
                <button
                  class="btn-round-sm btn-back"
                  mwlCalendarPreviousView
                  [view]="view"
                  [(viewDate)]="viewDate">
                  <img src="assets/icon/back.svg" height="10" alt="Icon Back">
                  </button>
              </div>

              <div class="col-xs-4 col-month-title">
                <p class="calendar-month-title">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</p>
              </div>

              <div class="col-xs-4 col-button-next">
                <button
                  class="btn-round-sm btn-next"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate">
                  <img src="assets/icon/next.svg" height="10" alt="Icon Next">
                  </button>
              </div>
            </div>
          <ng-template #customCellTemplate let-day="day" let-locale="locale">
            <div class="cal-cell-top">
              <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
              <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
            </div>
            <small *ngIf="day.events.length > 0">
              {{ day.events[0].title }}
            </small>
          </ng-template>

          <mwl-calendar-month-view
           [viewDate]="viewDate"
           [events]="events"
           [refresh]="refresh"
           [activeDayIsOpen]="activeDayIsOpen"
           (dayClicked)="dayClicked($event.day)"
           [cellTemplate]="customCellTemplate">
          </mwl-calendar-month-view>
        </div>
      </div>
    </div>
  </div>
</div>
