.temperature-block {
  height: auto;
  padding-top: 5rem;
  background-color: rgba(77, 131, 132, 1);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.temperature-block .pdp-temperature-butler-block {
  padding-left: 7.5rem;
  padding-right: 7.5rem;
}

@media only screen and (max-width: 768px)  {
  .temperature-block .pdp-temperature-butler-block {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.chart-container {
  width: calc(100% + 32px);
  margin-left: -22px;
}

.left {
  float: left;
  margin-left: 56px;
  margin-bottom: 27px;
}

.right {
  float: right;
  margin-right: 42px;
  margin-bottom: 27px;
}

.bg-months {
  background-color: rgba(235,235, 235, .15);
  height: 81px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

@media only screen and (max-width: 992px)  {
  .bg-months {
    height: 88px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1344px)  {
  .bg-months {
    height: 88px;
  }
}