.home-flex-container {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.home-flex-container>div {
  flex: 0 100%;
}

@media (min-width: 768px) {
  .home-flex-container>div {
    flex: 0 50%;
  }
}
