<app-offline *ngIf="isOffline === '1'"></app-offline>
<ng-container *ngIf="isOffline === '0'">

  <home>

    <app-usp></app-usp>

    <div class="gradient">

      <div class="pd-25 pd-bt-0 nav-4">
        <div class="inline wp-fourth">
        </div>

        <div class="inline wp-half">
          <a href="/"><img class="px-mr-tp-5 center-hori" src="assets/img/logo.svg" width="110" alt="Flugio Logo"></a>
        </div>

        <div class="inline wp-fourth">
            <p class="px-mr-tp-10 mr-lf-10 inline fl-r" *ngIf="afAuth.user | async as user"><a href="/account">Konto</a></p>
            <a class="px-mr-tp-5 inline fl-r" href="/account" *ngIf="afAuth.user | async as user"><img class="opa-50" src="assets/icon/icon-user.svg" height="35"
                alt="Icon User"></a>
        </div>
      </div>

      <div class="mr-tp-100 text-center hero std-pd-hor-4">
        <h1 class="mr-bt-10" i18n="home header title">{{ (deals | async)?.length }} Exklusive<span> Städtereisen bis zu </span>{{ maxDiscount }}%<span> günstiger</span></h1>
        <h3 class="no-margin" i18n="home header subtitle"><span>Inklusive </span>Flug<span>, </span>Hotel<span> und optionale</span> Aktivitäten</h3>
      </div>

      <div class="advantages flex-wrap pd-tp-100 pd-bt-25 std-pd-hor-4">
        <div class="pd-bt-25 adv adv-1 center">
          <div>
            <img class="opa-50 inline" src="assets/icon/icon-tickets.svg" height=48 width="48" alt="Icon Tickets">
            <div class="content inline">
              <p class="ft-xs no-margin bold">Einfach</p>
              <p class="ft-xs opa-50 no-margin">alles auf einer Plattform</p>
            </div>
          </div>
        </div>
        <div class="pd-bt-25 adv adv-2 center">
          <div>
            <img class="opa-50 inline" src="assets/icon/icon-map.svg" height=48 width="48" alt="Icon Lego">
            <div class="content inline">
              <p class="ft-xs no-margin bold">Individuelle</p>
              <p class="ft-xs opa-50 no-margin">Städtereisen gestalten</p>
            </div>
          </div>
        </div>
        <div class="pd-bt-25 adv adv-3 center">
          <div>
            <img class="opa-50 inline" src="assets/icon/icon-treasure.svg" height=48 width="48" alt="Icon Treasure">
            <div class="content inline">
              <p class="ft-xs no-margin bold">Profitiere</p>
              <p class="ft-xs opa-50 no-margin">von einzigartigen Angeboten</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="flex-wrap">
      <div class="flex-half" *ngFor="let deal of deals | async">
        <app-deal-card [deal]="deal"></app-deal-card>
      </div>
    </div>

    <app-featured></app-featured>
    <app-footer></app-footer>

  </home>

</ng-container>
