.deal-container>div {
  flex: 0 100%;
}

@media (min-width: 768px) {
  .deal-container>div {
    flex: 0 50%;
  }
}

.header-container {
  height: 50vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.header-container .header-nav .mid-col img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-container .header-nav .left-col,
.header-container .header-nav .mid-col,
.header-container .header-nav .right-col {
  width: calc(100%/3);
}

.header-container .header-nav .right-col {
  padding-right: 2rem;
}

.header-container .header-nav .right-col .icon-account,
.header-container .header-nav .right-col .label-account {
  float: right;
}

.header-container .header-nav .right-col .label-account {
  margin-left: .5rem;
  margin-top: .3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
  margin-bottom: 0rem;
}

.header-container .header-nav .right-col .icon-account {
  margin-top: -.1rem;
}

.header-container .header-title {
  font-size: 1.4rem;
  letter-spacing: .07rem;
  text-align: center;
  margin-bottom: .5rem;
}

.header-container .header-subtitle {
  font-size: 1rem;
  letter-spacing: .07rem;
  text-align: center;
  margin-bottom: 0rem;
}

.header-container .title-row {
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  opacity: 1;
  height: 100%;
  align-items: center;
}

.header-container .title-row span{
  font-weight: 400 !important;
  opacity: .75 !important;
}

@media only screen and (max-width: 575.98px) {
  .header-container {
    height: auto;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .header-container .header-title{
    margin-bottom: 2.5rem;
  }

  .header-container .header-nav {
    margin-top: 2.5rem;
  }

  .header-container .title-row {
    margin-top: 0rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    height: auto;
  }

  .header-container .logo .right-col .label-account {
    display: none;
  }
}
