<app-offline *ngIf="isOffline === '1'"></app-offline>
<ng-container *ngIf="isOffline === '0'">

  <home>

    <div class="gradient">

      <div class="pd-25 pd-bt-0 nav-4">
        <div class="left-col">
        </div>
        <div class="mid-col">
          <a href="/"><img class="center-hori" src="assets/img/logo.svg" width="110" alt="Flugio Logo"></a>
        </div>
        <div class="right-col" *ngIf="afAuth.user | async as user">
            <p class="fl-r"><a href="/account">Konto</a></p>
            <a class="fl-r" href="/account"><img src="assets/icon/icon-finger-print.svg" height="35" alt="Icon Finger Print"></a>
        </div>
      </div>

      <div class="std-pd-3 text-center hero">
        <h1 class="mr-bt-25" i18n="home header title">{{ (deals | async)?.length }} Exklusive<span> Städtereisen bis zu </span>{{ maxDiscount }}%<span> günstiger</span></h1>
        <h3 class="no-margin" i18n="home header subtitle"><span>Inklusive </span>Flug<span>, </span>Hotel<span> und</span> Aktivitäten</h3>
      </div>

    </div>

    <div class="flex-wrap">
      <div class="flex-half" *ngFor="let deal of deals | async">
        <app-deal-card [deal]="deal"></app-deal-card>
      </div>
    </div>

    <app-featured></app-featured>
    <app-footer></app-footer>

  </home>

</ng-container>
