<header class="row header-row gradient">
  <div class="col-lg-12">
    <div class="row logo">
      <div class="col-xs-3 left-col">
      </div>
      <div class="col-xs-6 mid-col logo-container">
        <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
      </div>
      <div class="col-xs-3 right-col">
        <div class="account-container">
          <p class="label-account"><a href="/account">Konto</a></p>
          <a href="/account"><img src="assets/icon/icon-finger-print.svg" class="icon-account" height="35" alt="Icon Finger Print"></a>
        </div>
      </div>
    </div>
    <div class="row title-row">
      <div class="col-xl-12">
        <p class="header-title" i18n="home header title">
          <span>Zur Zeit </span>{{ (deals | async)?.length }} Exklusive
          <span> Städtereisen bis zu </span>{{ maxDiscount }}%
          <span> günstiger</span>
        </p>
        <p class="header-subtitle" i18n="home header subtitle"><span>Immer </span>Flug<span>, </span>Hotel<span> und Optional Tickets für lokale</span> Aktivitäten</p>
      </div>
    </div>
  </div>
</header>

<div class="home-flex-container">
  <div *ngFor="let deal of deals | async">
    <app-deal-card [deal]="deal"></app-deal-card>
  </div>
</div>

<app-footer></app-footer>
