<ng-sidebar-container class="vh-100-m">

  <ng-sidebar autoFocus=false position='left' showBackdrop=true closeOnClickOutside=true animate=true #sidebar>
    <div class="sidebarjs-center-container nav-1 gradient-full center vh-100-m text-center">
      <div class="wp-100">
        
        <div>
          <a href="/">
            <p i18n="account sidebar home">Home</p>
          </a>
          <hr class="w-25-rem"/>
        </div>
        <div>
          <p i18n="account sidebar settings" (click)="changeTo('profile')">Profil</p>
          <hr class="w-25-rem"/>
        </div>
        <div>
          <p i18n="account sidebar orders" (click)="changeTo('orders')">Bestellungen</p>
          <hr class="w-25-rem"/>
        </div>
        <div>
          <p i18n="account sidebar data" (click)="changeTo('data')">Daten</p>
          <hr class="w-25-rem"/>
        </div>
        <div>
          <a i18n="account sidebar assistant" href="/customer-service">Assistent</a>
          <hr class="w-25-rem"/>
        </div>
        <div class="mr-bt-50">
          <a href="/logout">
            <p i18n="account sidebar home">Logout</p>
          </a>
        </div>
        <div class="sidebarjs-close-button">
          <button (click)="sidebar.close()" class="btn btn-small btn-primary shadow" type="next"
            i18n="close sidebar">Schliessen</button>
        </div>
      </div>
    </div>
  </ng-sidebar>

  <div ng-sidebar-content>
    <div class="grid-canvas gradient-full scroll">

      <div class="pd-25 nav-4">

        <div class="link inline wp-third" (click)="sidebar.open()">
          <img class="px-tp-5 inline fl-l" src="assets/icon/icon-menu-small.svg" height="35"
            alt="Icon Menu Small">
          <p class="px-tp-10 mr-lf-10 inline fl-l">Menu</p>
        </div>

        <div class="inline wp-third">
          <a href="/"><img class="px-tp-5 center-hori" src="assets/img/logo.svg" width="110" alt="Flugio Logo"></a>
        </div>

        <div class="inline wp-third">
            <p class="px-tp-10 mr-lf-10 inline fl-r"><a href="/account">Konto</a></p>
            <a class="px-tp-5 inline fl-r" href="/account"><img src="assets/icon/icon-finger-print.svg" height="35"
                alt="Icon Finger Print"></a>
        </div>

      </div>

      <div>
        <app-account-profile *ngIf="currentPage === 'profile' && userContact" [userContact]="userContact" (userContactChange)="userContactChange($event)"></app-account-profile>
        <app-account-orders *ngIf="currentPage === 'orders'" (orderDocumentSelected)=orderDocumentSelected($event)></app-account-orders>
        <app-account-data *ngIf="currentPage === 'data' && userContact" (deleteUserChange)="deleteUserChange($event)"></app-account-data>
        <app-account-assistant *ngIf="currentPage === 'assistant'"></app-account-assistant>
        <app-account-order-documents *ngIf="selectedOrder && currentPage === 'documents'" (goBackToMainEmitter)="goBackToMainEmitter(event)" [order]="selectedOrder"></app-account-order-documents>
      </div>

    </div>
  </div>

</ng-sidebar-container>