.account-bg-container {
  background: linear-gradient(to bottom right, rgba(19, 78, 94, 1) 0%, rgba(19, 78, 94, 0) 100%), rgba(77, 131, 132, 1);
  background-attachment: fixed;
  min-height: 100vh;
  height:100vh;
  max-height:100vh;
  display: flex;
  flex-direction: column;
}

/* ============== Header ============== */

header {
  flex: 0 1 auto;
}

.account-content-row {
  flex: 1 1 auto;
  overflow-y: scroll;
}

header .left-col,
header .mid-col,
header .right-col {
  width: calc(100%/3);
  display: inline-block;
}

header .left-col img {
  margin-top: 5px;
  margin-left: -4px;
}

header .left-col p {
  margin-top: 10px;
  margin-bottom: 0rem;
  margin-left: 10px;
}

header .right-col a {
  margin-top: 5px;
}

header .right-col p {
  margin-top: 10px;
  margin-bottom: 0rem;
  margin-right: -1px;
  margin-left: 10px;
}

@media (max-width: 575.98px) {
  header p {
    display: none;
  }
}

/* ============== Sidebar ============== */

.sidebarjs-center-container-content
{
  text-align: center;
}

.sidebarjs-center-container-content .link
{
  cursor: pointer;
}
