<div class="row offline-lp">
  <div class="col-lg-5 left-col order-2 gradient">
    <div class="left-col-wrapper">
      <div class="review-container">
        <p class="text-review">"Jedes Angebot ist inklusiv Flug und Hotel. Lust auf eine Erlegniss? Dann kannst du ganz einfach lokale Aktivitäten hinzufügen. Brauchst du auch noch ein Taxi um zum Hotel zu gehen? Auch möglich! Alles ist so einfach..."</p>
        <img src="assets/img/avatar-round-notification@2x.png" width="75" height="75" alt="Butler Flugio">
        <p class="text-name">Bastiaan Harmsen</p>
      </div>
    </div>
  </div>
  <div class="col-lg-7 right-col order-1 gradient">
    <div class="right-col-wrapper">
      <div class="logo-container">
        <img src="assets/img/logo.svg" width="110" alt="Flugio Logo">
      </div>
      <div class="title-container">
        <p>
          Exklusive<span> Städtereisen bis zu </span>69%<span> günstiger</span>
        </p>
      </div>
      <div class="subtitle-container">
        <p>Bald ist es soweit! Dann fangen wir an mit unseren einzigartigen Städtereisen, und wir geben dir gerne ein spezielle Rabatt für die erste 500 Kunden wenn es soweit ist! Also, sag uns doch an welche Addresse wir diese Rabatt verschicken können.</p>
      </div>
      <div class="email-form-container">
        <input required="required" autocomplete="off" name="email" type="email" class="form-control" placeholder="E-Mail">
        <button type="submit" class="btn btn-primary btn-full">Weiter</button>
      </div>
      <div class="legal-text">
        <p>Mit dem Klick auf „Weiter" stimmst du unseren AGB sowie dem Einsatz von Cookies zu und nimmst unsere Datenschutzbestimmungen zur Kenntnis.</p>
      </div>
    </div>
  </div>
</div>
