<div class="row offline-lp">
  <div class="col-lg-5 left-col order-2 gradient">
    <div class="left-col-wrapper">
      <div class="review-container">
        <p class="text-review">"Jedes Angebot ist inklusive Flug und Hotel. Lust auf ein Erlebnis? Du kannst ganz einfach lokale Aktivitäten hinzufügen. Brauchst du auch ein Taxi um zum Hotel zu kommen? Auch möglich! Alles ist so einfach..."</p>
        <img src="assets/img/avatar-round-notification@2x.png" width="75" height="75" alt="Butler Flugio">
        <p class="text-name">Bastiaan Harmsen</p>
      </div>
    </div>
  </div>
  <div class="col-lg-7 right-col order-1 gradient">
    <div class="right-col-wrapper">
      <div class="email-form-container">
        <app-auth [showContentLanding]="true" (emailSentChanged)="emailSentChanged($event)" (isLoggedInChange)="isLoggedInChange($event)"
          *ngIf="!emailSent"></app-auth>
        <app-email-sent [showContentLanding]="true" *ngIf="emailSent"></app-email-sent>
      </div>
    </div>
  </div>
</div>
