.travel-guide-cta .col-lg-12 {
	padding: 7.5rem 2.5rem 7.5rem 2.5rem;
}
@media only screen and (max-width: 992px)  {
	.travel-guide-cta .col-lg-12 {
	  padding: 5rem 2.5rem 5rem 2.5rem;
	}
}
.travel-guide-cta {
	text-align: center;
}
.travel-guide-cta .text {
	margin-bottom: 1.5rem;
  width: 100%;
}
.travel-guide-cta .button {
  width: 100%;
}

.travel-guide-cta .button a {
  display: inline-block;
  width: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  line-height: 1.75rem;
  height: auto;
}
