.pdp-ages-children-block {
  width: 100%;
}

.pdp-ages-children-block input {
  background-color: inherit;
  border-radius: 0;
  font-size: 1rem;
  letter-spacing: .07rem;
  color: rgba(235,235,235,1);
  border-top: 0rem;
  border-right: 0rem;
  border-left: 0rem;
  border-style: solid;
  border-color: rgba(235,235,235,0.5);
  border-bottom-width: .12rem;
  padding: 0.5rem 1rem;
  width: 31%;
  margin-left: 0rem;
  margin-right: 0rem;
  float: left;
  text-align: center;
}

.pdp-ages-children-block input:focus {
  border-color: rgba(235,235,235,1);
}

.pdp-ages-children-block input:valid {
  border-color: rgba(235,235,235,1);
}

.pdp-ages-children-block .form-group {
  margin-bottom: 0rem;
  width: 20rem;
  margin: 0 auto;
}

.pdp-ages-children-block .label-birthdate {
  text-align: center;
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-ages-children-block .birthdate-day {
  margin-right: 3.5%;
}

.pdp-ages-children-block .birthdate-month {
  margin-right: 3.5%;
}

.pdp-ages-children-block .birthdate-year {
}

.pdp-ages-children-block .birthdate-day,
.pdp-ages-children-block .birthdate-month {
}

.pdp-ages-children-block .center-wrap {
  width: 100%;
}

.pdp-ages-children-block .label-ages-children {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

.pdp-ages-children-block  input[type=number]::-webkit-inner-spin-button,
.pdp-ages-children-block  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (min-width: 1200px)  {
  .pdp-ages-children-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

@media only screen and (min-width: 992px)  {
  .pdp-ages-children-block .label-birthdate {
    padding-top: .6rem;
  }
}

@media only screen and (max-width: 1199.98px)  {
  .pdp-ages-children-block {
    margin-top: 1rem;
    margin-bottom: 6rem;
  }
}
