<div class="pdp-ages-children-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-ages-children">Wie alt sind die Kinder?</p>
        </div>
      </div>
      <div class="row payment-form">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-5">
              <p class="label-birthdate">Geburtsdatum Kind 1</p>
            </div>
            <div class="col-lg-7">
              <form>
                <div class="form-group">
                  <input type="number" autocomplete="off" inputmode="numeric" pattern="[0-9]*" min="0" class="form-control birthdate-day" id="formGroupExampleInput" placeholder="TT">
                  <input type="number" autocomplete="off" inputmode="numeric" pattern="[0-9]*" min="0" class="form-control birthdate-month" id="formGroupExampleInput" placeholder="MM">
                  <input type="number" autocomplete="off" inputmode="numeric" pattern="[0-9]*" min="0" class="form-control birthdate-year" id="formGroupExampleInput" placeholder="YYYY">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
