<div class="pdp-ages-children-block col-xl-12">
  <div class="center-wrap">
    <div>
      <div class="row">
        <div class="col-xl-12">
          <p class="label-ages-children">Wie alt sind die Kinder?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-lg-8">
          <div class="row" *ngFor="let birthday of childrenBirthdays; let i = index">
            <div class="col-xl-12">
              <p class="label-birthdate">Geburtsdatum Kind {{ i + 1 }}</p>
            </div>
            <div class="col-xl-12">
                <div class="form-group">
                  <input maxlength="2" (keyup)="moveFocus($event, monthInput)" [(ngModel)]="accummulations['birthday' + i].day" name="day-{{i}}" required autocomplete="off" inputmode="numeric" min="0" max="31" class="form-control birthdate-day" placeholder="TT">
                  <input maxlength="2" #monthInput (keyup)="moveFocus($event, yearInput)" [(ngModel)]="accummulations['birthday' + i].month" name="month-{{i}}" required autocomplete="off" inputmode="numeric" min="0" max="12" class="form-control birthdate-month" placeholder="MM">
                  <input maxlength="4" #yearInput [(ngModel)]="accummulations['birthday' + i].year" name="year-{{i}}" required autocomplete="off" inputmode="numeric" min="0" max="2019" class="form-control birthdate-year" placeholder="JJJJ">
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
  </div>
</div>
