img {}
img:first-child {
	margin-right: .75rem;
}
.full-star-rating {
	margin-right: .75rem;
}
.empty-star-rating {
	margin-right: .75rem;
}
.part-star-rating {
	margin-right: .75rem;
}
img:last-child {
	margin-right: 0rem;
}
.rating-number {
	margin-top: 2rem;
	margin-bottom: 0rem;
}
