.pdp-user-data-block {
  width: 100%;
}

.pdp-user-data-block .center-wrap {
  width: 100%;
}

.pdp-user-data-block .label-user-age {
  text-align: center;
  margin-bottom: 3rem;
  letter-spacing: .07rem;
  font-size: 1rem;
}

@media only screen and (min-width: 1200px)  {
  .pdp-user-data-block {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
}

@media only screen and (max-width: 1199.98px)  {
  .pdp-user-data-block {
    margin-top: -6.2rem;
  }
}

@media only screen and (max-width: 575.98px)  {
  .pdp-user-data-block {
    margin-top: 1.95rem;
    margin-bottom: 8rem;
  }
}

.pdp-user-data-block .user-data-form .form-group {
  margin-bottom: 2rem;
}

.pdp-user-data-block .user-data-form .row:last-child .form-group:last-child {
  margin-bottom: 0rem;
}
