<div class="row account-orders" style="margin-right: 0px !important; margin-left: 0px !important;">
  <div class="col-sm-3">
  </div>
    <div class="col-lg-6">
      <!-- Content Page Start -->
      <div class="col-lg-12">
        <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
          <div class="butler-container">
            <div class="butler-image"><img src="assets/img/avatar-round-notification@2x.png" alt="Butler Flugio"></div>
            <div class="butler-text"><span>Hier findest du deine Reiseunterlagen</span></div>
          </div>
        </div>
        <div class="col-lg-12" style="padding-left:0px; padding-right:0px;">
          <div *ngFor="let order of orders$ | async">
            <app-order-list-item></app-order-list-item>
          </div>
        </div>
      </div>
      <!-- Content Page End -->
    </div>
  <div class="col-sm-3">
  </div>
</div>
