<div class="center">
  <div class="account-container-content std-pd-2">

    <div class="butler-container">
      <div class="butler-image"><img src="https://firebasestorage.googleapis.com/v0/b/project-flugio.appspot.com/o/assets%2Fstatic%2Favatar-bastiaan-harmsen%402x.png?alt=media&token=ef64102f-7528-47f0-852d-d9c00f370431" alt="Butler Flugio"></div>
      <div class="butler-text"><p>Hier findest du deine Reiseunterlagen</p></div>
    </div>

    <div *ngFor="let order of orders$ | async">
      <app-order-list-item [order]="order" (selectedOrderChange)="selectedOrderChange($event)"></app-order-list-item>
    </div>

  </div>
</div>