<!-- Block "Promotion"
    <div class="usp pd-bt-10 pd-tp-10 text-center">
        <img class="inline mr-rg-5" src="assets/icon/icon-party-full.svg" height="30" width="30" alt="Icon Gift">
        <p class="inline ft-xs no-margin">Erstelle deine eigene Städtereise!<span class="x-mobile"> Alle zwei Wochen neue exklusive Angebote.</span></p>
    </div> 
-->

<div class="usp pd-bt-10 pd-tp-10 text-center">
    <p class="inline ft-xs no-margin">Lade deine Freunde ein, damit du kostenlos reisen kannst!</p>
    <button class="block mr-tp-10 btn btn-small btn-primary shadow" type="next">Gratis reisen</button>
</div>